<%= form_for(@sivic_relatorioscelula) do |f| %>
  <% if @sivic_relatorioscelula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_relatorioscelula.errors.count, "error") %> prohibited this sivic_relatorioscelula from being saved:</h2>

      <ul>
      <% @sivic_relatorioscelula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="containermininmo">
 <div class="field">
    <%= f.label :Célula %><br>
    <%#= f.text_field :sivic_celula_id %>
    <%= f.select :sivic_celula_id, options_from_collection_for_select(SivicCelula.all, 'id', 'NUMR_Dia',@sivic_sede),:include_blank => true%>
  </div>
  <div class="field">
    <%= f.label :DATA_da_Reuniao %><br>
    <%= f.text_field :DATA_Reuniao %> 
  </div>
  <div class="field">
    <%= f.label :Horário_de_início %><br>
    <%= f.time_select :DATA_Horainicio %>
  </div>
  <div class="field">
    <%= f.label :Horário_de_término %><br>
    <%= f.time_select :DATA_HoraTermino %>
  </div>
  <div class="field">
    <%= f.label :Número_de_visitantes %><br>
    <%= f.number_field :NUMR_NumVisitante %>
  </div>
  <div class="field">
    <%= f.label :Número_de_participantes %><br>
    <%= f.number_field :NUMR_NumParticipante %>
  </div>
  <div class="field">
    <%= f.label :Assunto_do_estudo %><br>
    <%= f.text_field :DESC_AssuntoEstudo %>
  </div>
  <div class="field">
    <%= f.label :Texto_Bíblico %><br>
    <%= f.text_field :DESC_TextoBiblico %>
  </div>
  <div class="field">
    <%= f.label :Valor_de_oferta %><br>
    <%= f.text_field :VALR_Oferta %>
  </div>
  <div class="field">
    <%= f.label :Decisões %><br>
    <%= f.number_field :NUMR_Decisoes %>
  </div>
  <div class="field">
    <%= f.label :Outras_informações %><br>
    <%= f.text_area :DESC_OutrasInformacoes %>
  </div>
  <div class="field">
    <%= f.label :Situação %><br>
    <%= f.number_field :FLAG_Situacao %>
  </div>
  <div class="field">
    <%= f.label :Novos_convertidos %><br>
    <%= f.number_field :NUMR_QtdNovoConvertido %>
  </div>
  <div class="field">
    <%= f.label :Resgate %><br>
    <%= f.number_field :NUMR_QtdResgate %>
  </div>
  <div class="field">
    <%= f.label :Pre_Encontro %><br>
    <%= f.number_field :NUMR_QtdPreEncontro %>
  </div>
  <div class="field">
    <%= f.label :Encontro %><br>
    <%= f.number_field :NUMR_QtdEncontro %>
  </div>
  <div class="field">
    <%= f.label :Pos_encontro %><br>
    <%= f.number_field :NUMR_QtdPosEncontro %>
  </div>
  <div class="field">
    <%= f.label :Escola_de_líderes %><br>
    <%= f.number_field :NUMR_QtdEscoLid1 %>
  </div>
  <div class="field">
    <%= f.label :Escola_de_líderes_2 %><br>
    <%= f.number_field :NUMR_EscoLid2 %>
  </div>
  <div class="field">
    <%= f.label :Escola_de_líderes_3 %><br>
    <%= f.number_field :NUMR_EscoLid3 %>
  </div>
  <div class="field">
    <%= f.label :Líderes_de_células %><br>
    <%= f.number_field :NUMR_QtdLidCelula %>
  </div>

  <%=render '/layouts/iconsalvar' %>
<% end %>

 




