<% content_for :titlePage do %>
  Relatório de Células
<% end %>

<%=render '/layouts/panel' %>


  <div class="row">
    <div class="col-lg-4">
      <label >Nome do Líder</label>
      <div class="input-group">
        <input id="NOME_pessoa_buscar" name="NOME_pessoa_buscar" type="text" class="form-control" placeholder="Nome">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button" onclick="chamaPesquisa();">Buscar</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-4">

    <%=  fields_for :situacoes do |situacoes| %>

          <%= situacoes.label :Situações %>
          <%= situacoes.select :NUMR_Dia, options_from_collection_for_select(SivicSituacoesrelatorio.all, 'id', 'DESC_Situacao'), {:include_blank => true}, {:class =>  'form-control'}%>            

    <%end%>          

    </div>
  </div>



  <hr>

<div class="containermininmo">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Líder</th>
      <th>Dia</th>
      <th>Data da Reunião</th>
      <th>Início</th>
      <th>Término</th>
      <th>Valor de Oferta</th>
      <th>Situação</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_relatorioscelulas.each do |sivic_relatorioscelula| %>
      <tr>
        <td><%= sivic_relatorioscelula.sivic_celula.sivic_pessoa.nome_pessoa %></td>
        <td><%= sivic_relatorioscelula.sivic_celula.NUMR_Dia %></td>
        <td><%= sivic_relatorioscelula.data_reuniao.blank? ? '' : sivic_relatorioscelula.data_reuniao.strftime("%d/%m/%Y")  %></td>
        <td><%= sivic_relatorioscelula.DATA_Horainicio.blank? ? '' : sivic_relatorioscelula.DATA_Horainicio.strftime("%H:%M")  %></td>
        <td><%= sivic_relatorioscelula.DATA_HoraTermino.blank? ? '' : sivic_relatorioscelula.DATA_HoraTermino.strftime("%H:%M")  %></td>
        <td><%= sivic_relatorioscelula.VALR_Oferta %></td>
        <%if sivic_relatorioscelula.sivic_situacoesrelatorio.id == 1 #ENVIADO'%>
          <td><b style='color:orange;'><%= sivic_relatorioscelula.sivic_situacoesrelatorio.DESC_Situacao %></b></td>
        <%elsif sivic_relatorioscelula.sivic_situacoesrelatorio.id == 2  #'PENDENTE'%>
          <td><b style='color:red;'><%= sivic_relatorioscelula.sivic_situacoesrelatorio.DESC_Situacao %></b></td>
        <%elsif sivic_relatorioscelula.sivic_situacoesrelatorio.id == 3 #'RECEBIDO'%>
          <td><b style='color:green;'><%= sivic_relatorioscelula.sivic_situacoesrelatorio.DESC_Situacao %></b></td>        
        <%elsif sivic_relatorioscelula.sivic_situacoesrelatorio.id == 5 #DISPONIVEL %>
          <td><b style='color:blue;'><%= sivic_relatorioscelula.sivic_situacoesrelatorio.DESC_Situacao %></b></td>        
        <%elsif sivic_relatorioscelula.sivic_situacoesrelatorio.id == 4 #ATRASADO %>
          <td><b style='color:red;'><%= sivic_relatorioscelula.sivic_situacoesrelatorio.DESC_Situacao %></b></td>
        <%end%>


        <td align='right'>

            <%= link_to sivic_relatorioscelula, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
            <% end %>             
            <%= link_to edit_sivic_relatorioscelula_path(sivic_relatorioscelula), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar" do %>
              <span class="glyphicon glyphicon-pencil"></span> 
            <% end %>  

            <!--<a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_relatorioscelulas/<%=sivic_relatorioscelula.id%>  "data-method="delete " data-confirm="Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span> 
            </a>   -->

        </td>
            
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="apple_pagination">
<%= will_paginate @sivic_relatorioscelulas %>
</div>



</div></div>

 <%if current_user.role == 'ADMINISTRADOR'%>
    <div class="btn-group">
      <a class="btn btn-default" title="" rel="tooltip" onclick="$('#myModalRelCel').modal('show');">
            <span class="glyphicon glyphicon-file" rel="tooltip"></span>Novo
      </a>   
    </div>
<%end%>

<%#if not SivicCelula.where(:sivic_pessoa_id => current_user.sivic_pessoa_id).blank? %>


<!-- Dízimo -->
<div class="modal fade" id="myModalRelCel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title" id="myModalLabel">Lançar Relatório Célula</h4>
      </div>
      <div class="modal-body">
        <div id = "alert_placeholder_lider"></div>  
        <div class="row">

          <div class="col-xs-12">
            <label for="nome_lider">Nome</label>
              <input class="form-control" id="nome_lider" name="nome_lider" type="text" />

              <script>
                  $("#nome_lider" ).click(function() {
                    $('#myModalLiderCelula').modal('show');
                    $('#nome_pessoa_buscar').focus();
                  });                  
              </script>

              <input id="sivic_celula_id" name="sivic_celula_id" type="hidden" value="" />
              
          </div>                

        </div> 
        <br/>     
        <div class="row">
          <div class='col-sm-4'>
            <label for="data_reuniao">Data Reunião</label>
              <div class="form-group">
                      <input id="data_reuniao" name="data_reuniao" type='text' class="form-control" />
              </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button id="bntSalvar" type="button" class="btn btn-primary" onclick="validatesRelatorioCelula();">Salvar</button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="myModalLiderCelula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Buscar Lider Célula</h4>
      </div>
      <div class="modal-body">

        <label >Nome</label><br>
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input id="nome_pessoa_buscar" name="nome_pessoa_buscar" onkeypress="buscaLiderCelula()" type="text" class="form-control" placeholder="Nome">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" onclick="usaNome();">Buscar</button>
              </span>
            </div>
          </div>
        </div>
        <br />

        <table id="table_user" name="table_user" class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Dia</th>
            </tr>
          </thead>
          <tbody id="tbodyid">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<%#end%>

<script>

  function chamaPesquisa(){

    nome = $('#NOME_pessoa_buscar').val()
    situacao = $('#situacoes_NUMR_Dia').val().trim();

    if (situacao == "0" && situacao == ""){
      window.location = '/sivic_relatorioscelulas/';
      return false;
    }

    if (situacao == ""){
        situacao = 0;
    }

    if (nome == ""){
      nome = 0;
    }    

    window.location = '/filtrarelatorios/' + situacao +'/' + nome;

  }


  function buscaLiderCelula(){
      var pesquisa;
        pesquisa = $('#nome_pessoa_buscar').val();

      $.ajax({
        url: '<%= listarCelulas_path %>',
        data : 
        {
            nome_pessoa : pesquisa
        },
        success: function(data){
          $("#tbodyid").empty();
          for (var i in data) {
            var item = data[i];

              $('#table_user').append('<tr><td><a href="javascript:setaCelula(\'' + item.nome_pessoa+'\','+item.id+');">'+item.id+'</a></td><td><a href="javascript:setaCelula(\'' + item.nome_pessoa+'\','+item.id+');">'+item.nome_pessoa+'</a></td><td><a href="javascript:setaCelula(\'' + item.nome_pessoa+'\','+item.id+');">'+item.NUMR_Dia+'</a></td></tr>');

          };
 
        }
      })
    }


    function validatesRelatorioCelula(){
              

          if ($('#sivic_celula_id').val() == ""){
            alert_boot('Informe o líder de célula.','warning','#alert_placeholder_lider')
            return false;
          }

          if ($('#data_reuniao').val() == ""){
            alert_boot('Digite a data da reunião.','warning','#alert_placeholder_lider')
            return false;
          }  
  

         lancaRelatorio()

    }

    function lancaRelatorio(){
      $.ajax({
        url: '<%= lancarRelatorio_path %>',
        data : 
        {
            id_celula : $('#sivic_celula_id').val()
            ,data_reuniao : $('#data_reuniao').val() 
        },
        success: function(data){
        
          $('#nome_lider').val("");
          $('#sivic_celula_id').val("");
          $("#data_reuniao").val("");
          $('#myModalRelCel').modal('hide');

          location.reload();
 
        }
      })
    }

function alert_boot(message,color,place) {

  $(place).html('<div class="alert alert-'+color+'" role="alert">'+message+'<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> </div>')
}


$(function(){
  $("a[rel='tooltip']").tooltip();
  $("#data_reuniao").mask("99/99/9999");
})


function setaCelula(nome, id){

    $('#nome_lider').val(nome);
    $('#sivic_celula_id').val(id);

    $('#myModalLiderCelula').modal('hide');


}

</script>