<% content_for :titlePage do %>
  Relatório de Células
<% end %>

<%=render '/layouts/panel' %>

<div class="containermininmo">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Responsável</th>
      <th>Dia</th>
      <th>Data da Reunião</th>
      <th>Início</th>
      <th>Término</th>
      <th>Assunto</th>
      <th>Valor de Oferta</th>
      <th>Situação</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_relatorioscelulas.each do |sivic_relatorioscelula| %>
      <tr>
        <td><%= sivic_relatorioscelula.sivic_celula.sivic_pessoa.NOME_pessoa %></td>
        <td><%= sivic_relatorioscelula.sivic_celula.NUMR_Dia %></td>
        <td><%= sivic_relatorioscelula.DATA_Reuniao.blank? ? '' : sivic_relatorioscelula.DATA_Reuniao.strftime("%d/%m/%Y")  %></td>
        <td><%= sivic_relatorioscelula.DATA_Horainicio.blank? ? '' : sivic_relatorioscelula.DATA_Horainicio.strftime("%H:%M")  %></td>
        <td><%= sivic_relatorioscelula.DATA_HoraTermino.blank? ? '' : sivic_relatorioscelula.DATA_HoraTermino.strftime("%H:%M")  %></td>
        <td><%= sivic_relatorioscelula.DESC_AssuntoEstudo %></td>
        <td><%= sivic_relatorioscelula.VALR_Oferta %></td>
        <td><%= sivic_relatorioscelula.FLAG_Situacao %></td>
        <td><%= link_to image_tag('show.png', :title => 'Exibir', class: 'exibirico') , sivic_relatorioscelula %></td>
        <td><%= link_to image_tag('edit.png', :title => 'Editar',  class: 'exibirico') , edit_sivic_relatorioscelula_path(sivic_relatorioscelula) %></td>
            <td><%= link_to image_tag('trash.png', :title => 'Excluir',  class: 'exibirico'), sivic_relatorioscelula , :method => :delete,  :confirm => 'Deseja excluir o registro?'%></td>            
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div></div>

<table style="margin-top:10px;">
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('new.png', :title => 'Novo', class: 'exibirico') , new_sivic_relatorioscelula_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Novo</label>
    </td>
  </tr> 
</table>
