<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic celula:</strong>
  <%= @sivic_relatorioscelula.sivic_celula %>
</p>

<p>
  <strong>Data reuniao:</strong>
  <%= @sivic_relatorioscelula.DATA_Reuniao %>
</p>

<p>
  <strong>Data horainicio:</strong>
  <%= @sivic_relatorioscelula.DATA_Horainicio %>
</p>

<p>
  <strong>Data horatermino:</strong>
  <%= @sivic_relatorioscelula.DATA_HoraTermino %>
</p>

<p>
  <strong>Numr numvisitante:</strong>
  <%= @sivic_relatorioscelula.NUMR_NumVisitante %>
</p>

<p>
  <strong>Numr numparticipante:</strong>
  <%= @sivic_relatorioscelula.NUMR_NumParticipante %>
</p>

<p>
  <strong>Desc assuntoestudo:</strong>
  <%= @sivic_relatorioscelula.DESC_AssuntoEstudo %>
</p>

<p>
  <strong>Desc textobiblico:</strong>
  <%= @sivic_relatorioscelula.DESC_TextoBiblico %>
</p>

<p>
  <strong>Valr oferta:</strong>
  <%= @sivic_relatorioscelula.VALR_Oferta %>
</p>

<p>
  <strong>Numr decisoes:</strong>
  <%= @sivic_relatorioscelula.NUMR_Decisoes %>
</p>

<p>
  <strong>Desc outrasinformacoes:</strong>
  <%= @sivic_relatorioscelula.DESC_OutrasInformacoes %>
</p>

<p>
  <strong>Flag situacao:</strong>
  <%= @sivic_relatorioscelula.FLAG_Situacao %>
</p>

<p>
  <strong>Numr qtdnovoconvertido:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdNovoConvertido %>
</p>

<p>
  <strong>Numr qtdresgate:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdResgate %>
</p>

<p>
  <strong>Numr qtdpreencontro:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdPreEncontro %>
</p>

<p>
  <strong>Numr qtdencontro:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdEncontro %>
</p>

<p>
  <strong>Numr qtdposencontro:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdPosEncontro %>
</p>

<p>
  <strong>Numr qtdescolid1:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdEscoLid1 %>
</p>

<p>
  <strong>Numr escolid2:</strong>
  <%= @sivic_relatorioscelula.NUMR_EscoLid2 %>
</p>

<p>
  <strong>Numr escolid3:</strong>
  <%= @sivic_relatorioscelula.NUMR_EscoLid3 %>
</p>

<p>
  <strong>Numr qtdlidcelula:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdLidCelula %>
</p>

<%= link_to 'Edit', edit_sivic_relatorioscelula_path(@sivic_relatorioscelula) %> |
<%= link_to 'Back', sivic_relatorioscelulas_path %>
