<p id="notice"><%= notice %></p>

<% content_for :titlePage do %>
  Exibir Relatório
<% end %>

<%= render 'layouts/panel' %>

<%if @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 3 %>
  <div class="alert alert-success"><strong>Situacao:</strong> Recebido</div>
<%elsif @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 1 %>
  <div class="alert alert-warning"><strong>Situacao:</strong> Enviado</div>
<%elsif @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 2 %>
  <div class="alert alert-danger"><strong>Situacao:</strong> Pendente</div>
<%elsif @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 4 %>
  <div class="alert alert-danger"><strong>Situacao:</strong> Atrasado</div>
<%elsif @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 5 %>
  <div class="alert alert-danger"><strong>Situacao:</strong> Disponivel</div>
<%end%>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li >
      <a href="#tab3" data-toggle="tab">Dados Básicos</a>
    </li>
    <li class="active">
      <a href="#tab4" data-toggle="tab">Participantes</a>
    </li>       
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab3">

<input type='hidden' id='sivic_relatorioscelula_id' name='sivic_relatorioscelula_id' class='sivic_relatorioscelula_id' value='<%= @sivic_relatorioscelula.id%>'>
<input type='hidden' id='sivic_pessoa_id' name='sivic_pessoa_id' class='sivic_pessoa_id' value='<%= current_user.id%>'>
<br/>
<p>
  <strong>Responsável:</strong>
  <%= @sivic_relatorioscelula.sivic_celula.sivic_pessoa.nome_pessoa %>
</p>

<p>
  <strong>Dia da semana:</strong>
  <%= @sivic_relatorioscelula.sivic_celula.NUMR_Dia %>
</p>

<p>
  <strong>Data de reuniao:</strong>
  <%= @sivic_relatorioscelula.DATA_Reuniao %>
</p>

<p>
  <strong>Horário de início:</strong>
  <%= @sivic_relatorioscelula.DATA_Horainicio %>
</p>

<p>
  <strong>Horário de término:</strong>
  <%= @sivic_relatorioscelula.DATA_HoraTermino %>
</p>

<p>
  <strong>Visitantes:</strong>
  <%= @sivic_relatorioscelula.NUMR_NumVisitante %>
</p>

<p>
  <strong>Participantes:</strong>
  <%= @sivic_relatorioscelula.NUMR_NumParticipante %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @sivic_relatorioscelula.DESC_AssuntoEstudo %>
</p>

<p>
  <strong>Texto bíblico:</strong>
  <%= @sivic_relatorioscelula.DESC_TextoBiblico %>
</p>

<p>
  <strong>Valor da oferta:</strong>
  <%= @sivic_relatorioscelula.VALR_Oferta %>
</p>

<p>
  <strong>Decisões:</strong>
  <%= @sivic_relatorioscelula.NUMR_Decisoes %>
</p>

<p>
  <strong>Outras Informações:</strong>
  <%= @sivic_relatorioscelula.DESC_OutrasInformacoes %>
</p>

<p>
  <strong>Situação:</strong>
  <%= @sivic_relatorioscelula.sivic_situacoesrelatorio.DESC_Situacao %>
</p>

<p>
  <strong>Novos Convertidos:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdNovoConvertido %>
</p>

<p>
  <strong>Resgates:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdResgate %>
</p>

<p>
  <strong>Pré-encontro:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdPreEncontro %>
</p>

<p>
  <strong>Encontro:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdEncontro %>
</p>

<p>
  <strong>Pós-encontro:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdPosEncontro %>
</p>

<p>
  <strong>Escola de Líderes:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdEscoLid1 %>
</p>

<p>
  <strong>Escola de Líderes 2:</strong>
  <%= @sivic_relatorioscelula.NUMR_EscoLid2 %>
</p>

<p>
  <strong>Escola de Líderes 3:</strong>
  <%= @sivic_relatorioscelula.NUMR_EscoLid3 %>
</p>

<p>
  <strong>Líderes de Células:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdLidCelula %>
</p>

<input type="hidden" value="<%= @sivic_relatorioscelula.id%>" id="sivic_relatorioscelula_id"></input>

  </div>

  <div class="tab-pane active" id="tab4">

  <br/>

  <%if not @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 3 %>
  <div class="field">
    <a data-toggle="modal" href="#myModal2" class="btn btn-success">Buscar Participante</a>
  </div>
  <%end%>
<hr />

<table class="table table-hover" id="tlbparticipantes">
  <thead>
    <tr>
      <th>Nome:</th>
      <th>Email</th>
      <th>Telefone:</th>
      <th>Situação:</th>
      <%if not @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 3 %>
      <th></th>     
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @sivic_relatorioscelula.sivic_partevenrelacelula.each do |sivic_partevenrelacelula| %>
      <tr>
        <td><%= sivic_partevenrelacelula.sivic_participantecelula.NOME_Participante %></td>
        <td><%= sivic_partevenrelacelula.sivic_participantecelula.DESC_Email %></td>
        <td><%= sivic_partevenrelacelula.sivic_participantecelula.NUMR_Telefone %></td>
        <td><%= sivic_partevenrelacelula.sivic_sitpartcelula.DESC_situacao %></td>
        <%if not @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 3 %>
        <td><%= link_to image_tag('trash.png', :title => 'Excluir', class: 'exibirico'), [sivic_partevenrelacelula.sivic_relatorioscelula, sivic_partevenrelacelula],:confirm => 'Deseja excluir o registro?',:method => :delete %>
         </td>
         <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>
</div></div></div>

<div class="btn-group">

    <%if @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 2 %>

      <%= link_to edit_sivic_relatorioscelula_path(@sivic_relatorioscelula), :class => "btn btn-default btn" do %>
        <span class="glyphicon glyphicon-pencil"></span> Editar
      <% end %> 

    <%end%>

    <%= link_to sivic_relatorioscelulas_path, :class => "btn btn-default btn" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Voltar
    <% end %>      

    <%if current_user.role == 'ADMINISTRADOR'%>

      <a class="btn btn-default btn" onclick='$("#myModal3").modal("show")'>
        <span class="glyphicon glyphicon-ok"></span> 
        Avaliar
      </a>      

    <%end%>

</div>

<%
  @sivic_participantecelula = SivicParticipantecelula.new
  @sivic_igreja = SivicIgreja.all
%>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab1" data-toggle="tab"><h4 class="modal-title" id="myModalLabel">Busca Participantes</h4></a>
            </li>
            <li >
              <a href="#tab2" data-toggle="tab"><h4 class="modal-title" id="myModalLabel">Cadastras Participantes</h4></a>
            </li>       
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <br/>
              <div class="row">
                <div class="col-lg-12">
                  <div class="input-group">
                    <input id="NOME_participante_buscar" name="NOME_participante_buscar" onkeypress="buscaPessoa();" type="text" class="form-control" placeholder="Nome">
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="button" onclick="buscaPessoa();">Buscar</button>
                    </span>
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
                <table id="table_user" name="table_user" class="table table-hover">
                  <thead>
                    <tr>
                       <th>Nome</th>
                       <th>Situacão</th>
                    </tr>
                  </thead>
                  <tbody id="tbodyid">
                    <tr>
                    </tr>
                    <tr>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="tab2">
                <%= form_for(@sivic_participantecelula) do |f| %>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-xs-12">
                         <%= f.label :NOME %>
                         <%= f.text_field :NOME_Participante, :class => 'form-control' %>
                      </div>
                      <div class="col-xs-12">
                         <%= f.label :Email %>
                         <%= f.text_field :DESC_Email, :class => 'form-control' %>
                      </div>
                      <div class="col-xs-12">
                         <%= f.label :Telefone %>
                         <%= f.text_field :NUMR_Telefone, :class => 'form-control' %>
                      </div>
                      <div class="col-xs-12">
                         <%= f.label :Situação %>
                         <%= f.select :sivic_sitpartcelula_id, options_from_collection_for_select(SivicSitpartcelula.where("sivic_igreja_id = ?", current_user.sivic_pessoa.sivic_igreja.id), 'id', 'DESC_situacao',@sivic_participantecelula.sivic_sitpartcelula_id),{}, :class => 'form-control'%>
                      </div>
                      <%= f.hidden_field :sivic_celula_id, :value => @sivic_relatorioscelula.sivic_celula_id%>
                    </div>
                  </div>
                <%end%>
                <div class="modal-footer">
                  <a data-toggle="modal" href="javascript:createPessoa();" class="btn btn-default">Cadastrar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 



<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Avaliar Relório</h4>
      </div>
      <div class="modal-body">
        
        <table id='tlbchat'>
          <% @sivic_Observacoesrelatorios.each do |sivic_obs| %>
            <tr>
              <td>
                <div class="alert alert-success">
                  <strong>
                    <%= sivic_obs.sivic_pessoa.nome_pessoa%>:
                  </strong>
                  <%= sivic_obs.DESC_Observacao%>
                </div>
              </td>           
            </tr>
          <%end%>
        </table>
      </div>
      <div class="modal-footer">
        <div slyle='width:100%; height:100%; align:left'>
          <textarea class='txtareachat' name='txtareachat' id='txtareachat'></textarea>
          <a data-toggle="modal" class="btn btn-info" href="javascript:createObservacao();"  style='float:left;margin-left:10px;'>Enviar</a>
        </div>
      </div>
      <div class="modal-footer">
        <table align='center'>
          <tr>
            <td>
              <a data-toggle="modal" class="btn btn-danger" href="javascript:alteraSituacao(2);" >Negar</a>
              <a data-toggle="modal" class="btn btn-success" href="javascript:alteraSituacao(3);" >Aceitar</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>  

<script>


//Aplicando Máscara
jQuery(function($){
   $("#sivic_participantecelula_NUMR_Telefone").mask("(99)9999-9999");

});

  function alteraSituacao(situacao){

      $.ajax({
        url: '<%= alteraSituacao_path %>',
        data : 
        {
            sivic_relatorioscelula_id : $('#sivic_relatorioscelula_id').val()
            ,sivic_situacoesrelatorio_id : situacao
        },
        success: function(data){

          location.reload();

        }
      })

  }

  function createObservacao(){

      $.ajax({
        url: '<%= criarObservacaorelatorio_path %>',
        data : 
        {
            sivic_relatorioscelula_id : $('#sivic_relatorioscelula_id').val()
            ,sivic_pessoa_id : $('#sivic_pessoa_id').val()
            ,DESC_Observacao : $('#txtareachat').val()
        },
        success: function(data){
          var options = "";
          var DESC_SituacaoParticipante
          for (var i in data) {
            var item = data[i];

            $('#tlbchat').append('<tr><td><div class="alert alert-success"><strong>'+item.nome_pessoa+': </strong>'+item.DESC_Observacao+'</div></td></tr>')

            $('#txtareachat').val("")

          };
        }
      })

  }

  function createPessoa(){

      $.ajax({
        url: '<%= criarParticipantesCelulas_path %>',
        data : 
        {
            NOME_Participante : $('#sivic_participantecelula_NOME_Participante').val()
            ,DESC_Email : $('#sivic_participantecelula_DESC_Email').val()
            ,NUMR_Telefone : $('#sivic_participantecelula_NUMR_Telefone').val()
            ,sivic_sitpartcelula_id : $('#sivic_participantecelula_sivic_sitpartcelula_id').val()
            ,sivic_celula_id : $('#sivic_participantecelula_sivic_celula_id').val()
        },
        success: function(data){
          var options = "";
          var DESC_SituacaoParticipante
          for (var i in data) {
            var item = data[i];
            setaNome(item.NOME_Participante,item.id,item.sivic_sitpartcelula_id);

            $('#sivic_participantecelula_NOME_Participante').val("");
            $('#sivic_participantecelula_DESC_Email').val("");
            $('#sivic_participantecelula_NUMR_Telefone').val("");
            //$('#sivic_participantecelula_DESC_SituacaoParticipante').val("");

          };
        }
      })
  }

  function buscaPessoa(){
      $.ajax({
        url: '<%= listarParticipantesCelulas_path %>',
        data : 
        {
            NOME_Participante : $('#NOME_participante_buscar').val()
            ,sivic_celula_id : $('#sivic_participantecelula_sivic_celula_id').val()
        },
        success: function(data){
          $("#tbodyid").empty();
          for (var i in data) {
            var item = data[i];
            $('#table_user').append('<tr><td><a href="javascript:setaNome(\'' + item.NOME_Participante+'\','+item.id+',\ '+ item.id_Situacao+'\);">'+item.NOME_Participante+'</a></td><td><a href="javascript:setaNome(\'' + item.NOME_Participante+'\','+item.id+',\ ' + item.id_Situacao+'\);">'+item.DESC_SituacaoParticipante+'</a></td></tr>')
          };
 
        }
      })
    }

  function setaNome(nome,id,id_situacao){

      $.ajax({
        url: '<%= criarParticipantesRelatorios_path %>',
        data : 
        {
            sivic_relatorioscelula_id : $('#sivic_relatorioscelula_id').val()
            ,sivic_participantecelula_id : id
            ,sivic_sitpartcelula_id : id_situacao
        },
        success: function(data){
          for (var i in data) {
            var item = data[i];
            //$('#tlbparticipantes').append('<tr><td>'+item.NOME_Participante+'</td><td>'+item.DESC_Email+'</td><td>'+item.NUMR_Telefone+'</td><td>'+item.DESC_SituacaoParticipante+'</td><td><a data-confirm="Deseja excluir o registro?" data-method="delete" href="/sivic_relatorioscelulas/'+$('#sivic_relatorioscelula_id').val()+'/sivic_partevenrelacelulas/'+item.id+'" rel="nofollow">Excluir</a></td></tr>');
            //alert(item.id);

            $('#tlbparticipantes').append('<tr><td>'+item.NOME_Participante+'</td><td>'+item.DESC_Email+'</td><td>'+item.NUMR_Telefone+'</td><td>'+item.DESC_SituacaoParticipante+'</td><td><a data-confirm="Deseja excluir o registro?" data-method="delete" href="/sivic_relatorioscelulas/'+$('#sivic_relatorioscelula_id').val()+'/sivic_partevenrelacelulas/'+item.id+'" rel="nofollow"><img alt="Trash" class="exibirico" src="/assets/trash.png" title="Excluir" /></a>')
          };
 
        }
      })
    }


$(".alert-message").alert();
window.setTimeout(function() { $(".alert-message").alert('close'); }, 2000);



</script>