<p id="notice"><%= notice %></p>

<% content_for :titlePage do %>
  Exibir Relatório
<% end %>

<%= render 'layouts/panel' %>

<%if @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 3 %>
  <div class="alert alert-success"><strong>Situacao:</strong> Recebido</div>
<%elsif @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 1 %>
  <div class="alert alert-warning"><strong>Situacao:</strong> Enviado</div>
<%elsif @sivic_relatorioscelula.sivic_situacoesrelatorio_id == 2 %>
  <div class="alert alert-danger"><strong>Situacao:</strong> Pendente</div>
<%end%>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li >
      <a href="#tab3" data-toggle="tab">Dados Básicos</a>
    </li>
    <li class="active">
      <a href="#tab4" data-toggle="tab">Participantes</a>
    </li>       
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab3">

<input type='hidden' id='sivic_relatorioscelula_id' name='sivic_relatorioscelula_id' class='sivic_relatorioscelula_id' value='<%= @sivic_relatorioscelula.id%>'>
<input type='hidden' id='sivic_pessoa_id' name='sivic_pessoa_id' class='sivic_pessoa_id' value='<%= current_user.id%>'>

<p>
  <strong>Responsável:</strong>
  <%= @sivic_relatorioscelula.sivic_celula.sivic_pessoa.NOME_pessoa %>
</p>

<p>
  <strong>Dia da semana:</strong>
  <%= @sivic_relatorioscelula.sivic_celula.NUMR_Dia %>
</p>

<p>
  <strong>Data de reuniao:</strong>
  <%= @sivic_relatorioscelula.DATA_Reuniao %>
</p>

<p>
  <strong>Horário de início:</strong>
  <%= @sivic_relatorioscelula.DATA_Horainicio %>
</p>

<p>
  <strong>Horário de término:</strong>
  <%= @sivic_relatorioscelula.DATA_HoraTermino %>
</p>

<p>
  <strong>Visitantes:</strong>
  <%= @sivic_relatorioscelula.NUMR_NumVisitante %>
</p>

<p>
  <strong>Participantes:</strong>
  <%= @sivic_relatorioscelula.NUMR_NumParticipante %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @sivic_relatorioscelula.DESC_AssuntoEstudo %>
</p>

<p>
  <strong>Texto bíblico:</strong>
  <%= @sivic_relatorioscelula.DESC_TextoBiblico %>
</p>

<p>
  <strong>Valor da oferta:</strong>
  <%= @sivic_relatorioscelula.VALR_Oferta %>
</p>

<p>
  <strong>Decisões:</strong>
  <%= @sivic_relatorioscelula.NUMR_Decisoes %>
</p>

<p>
  <strong>Outras Informações:</strong>
  <%= @sivic_relatorioscelula.DESC_OutrasInformacoes %>
</p>

<p>
  <strong>Situação:</strong>
  <%= @sivic_relatorioscelula.sivic_situacoesrelatorio.DESC_Situacao %>
</p>

<p>
  <strong>Novos Convertidos:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdNovoConvertido %>
</p>

<p>
  <strong>Resgates:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdResgate %>
</p>

<p>
  <strong>Pré-encontro:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdPreEncontro %>
</p>

<p>
  <strong>Encontro:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdEncontro %>
</p>

<p>
  <strong>Pós-encontro:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdPosEncontro %>
</p>

<p>
  <strong>Escola de Líderes:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdEscoLid1 %>
</p>

<p>
  <strong>Escola de Líderes 2:</strong>
  <%= @sivic_relatorioscelula.NUMR_EscoLid2 %>
</p>

<p>
  <strong>Escola de Líderes 3:</strong>
  <%= @sivic_relatorioscelula.NUMR_EscoLid3 %>
</p>

<p>
  <strong>Líderes de Células:</strong>
  <%= @sivic_relatorioscelula.NUMR_QtdLidCelula %>
</p>

<input type="hidden" value="<%= @sivic_relatorioscelula.id%>" id="sivic_relatorioscelula_id"></input>

  </div>

  <div class="tab-pane active" id="tab4">

  <div class="field">
    <a data-toggle="modal" href="#myModal2" class="btn btn-success">Buscar Participante</a>
  </div>
<hr />

<table class="table table-hover" id="tlbparticipantes">
  <thead>
    <tr>
      <th>Nome:</th>
      <th>Email</th>
      <th>Telefone:</th>
      <th>Situação:</th>
      <th></th>     
    </tr>
  </thead>
  <tbody>
    <% @sivic_relatorioscelula.sivic_partevenrelacelula.each do |sivic_partevenrelacelula| %>
      <tr>
        <td><%= sivic_partevenrelacelula.sivic_participantecelula.NOME_Participante %></td>
        <td><%= sivic_partevenrelacelula.sivic_participantecelula.DESC_Email %></td>
        <td><%= sivic_partevenrelacelula.sivic_participantecelula.NUMR_Telefone %></td>
        <td><%= sivic_partevenrelacelula.sivic_sitpartcelula.DESC_situacao %></td>
        <td><%= link_to image_tag('trash.png', :title => 'Excluir', class: 'exibirico'), [sivic_partevenrelacelula.sivic_relatorioscelula, sivic_partevenrelacelula],:confirm => 'Deseja excluir o registro?',:method => :delete %>
         </td>          
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>
</div></div></div>

<table style="margin-top:10px;"> 
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('edit.png', title: 'Editar', class: 'exibirico') , edit_sivic_relatorioscelula_path(@sivic_relatorioscelula) %>
    </td>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('back.png', title: 'Voltar',class: 'exibirico') , sivic_relatorioscelulas_path %>
    </td>    
    <td align="center" style="width:50px;">
      <input type='image' src='/assets/right.png' onclick='$("#myModal3").modal("show")' class='exibirico'>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Editar</label>
    </td>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Voltar</label>
    </td>    
    <td align="center" style="width:20px;">
      <label class="altBotoes">Avaliar</label>
    </td>
  </tr> 
</table>

<%
  @sivic_participantecelula = SivicParticipantecelula.new
  @sivic_igreja = SivicIgreja.all
%>

<fieldset>
   <div id="myModal2" class="modal fade" style="display: none;">
      <div class="tabbable">
         <!-- Only required for left/right tabs -->
         <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Consultar</a></li>
            <li><a href="#tab2" data-toggle="tab">Cadastrar</a></li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="tab1">
               <!--Conteúdo Consulta -->
               <div class="modal-header">
                  <a class="close" data-dismiss="modal">×</a>  
                  <h4>Buscar Participantes</h4>
               </div>
               <div class="modal-body">
                  <div class="input-group input-group-lg">
                     <label >Nome</label>
                     <input id="NOME_participante_buscar" name="NOME_participante_buscar" onkeypress="buscaPessoa()" type="text" class="form-control" placeholder="Username" style="width: 80%;">
                     <a data-toggle="modal" href="javascript:buscaPessoa();" class="btn btn-success" style="margin-bottom: 10px;">Buscar</a>
                  </div>
                  <table id="table_user" name="table_user" class="table table-hover">
                     <thead>
                        <tr>
                           <th>Nome</th>
                           <th>Situacão</th>
                        </tr>
                     </thead>
                     <tbody id="tbodyid">
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="tab-pane" id="tab2">
               <!--Conteúdo Cadastro -->
               <%= form_for(@sivic_participantecelula) do |f| %>
               <div class="modal-header">
                  <a class="close" data-dismiss="modal">×</a>  
                  <h4>Cadastro de Participantes</h4>
               </div>
               <div class="modal-body">
                  <div class="field">
                     <%= f.label :NOME %>
                     <%= f.text_field :NOME_Participante, :class => 'form-control-100' %>
                  </div>
                  <div class="field">
                     <%= f.label :Email %>
                     <%= f.text_field :DESC_Email, :class => 'form-control-100' %>
                  </div>
                  <div class="field">
                     <%= f.label :Telefone %>
                     <%= f.text_field :NUMR_Telefone, :class => 'form-control-100' %>
                  </div>
                  <div class="field">
                     <%= f.label :Situação %>
                     <%= f.select :sivic_sitpartcelula_id, options_from_collection_for_select(SivicSitpartcelula.where("sivic_igreja_id = ?", current_user.sivic_pessoa.sivic_igreja.id), 'id', 'DESC_situacao',@sivic_participantecelula.sivic_sitpartcelula_id),{}, :class => 'form-control-100'%>
                  </div>
                  <%= f.hidden_field :sivic_celula_id, :value => @sivic_relatorioscelula.sivic_celula_id%>
               </div>
               <div class="modal-footer">
                  <div class="field">
                     <a data-toggle="modal" href="javascript:createPessoa();" class="btn btn-success">Cadastrar</a>
                  </div>
               </div>
            </div>
            <% end %>            
         </div>
      </div>
   </div>
</fieldset>

<fieldset>
  <div id="myModal3" class="modal fade" style="display: none;">  
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>  
        <h4>Avaliar Relório</h4>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-lg">
        </div>

        <table id='tlbchat'>
          <% @sivic_Observacoesrelatorios.each do |sivic_obs| %>
          <tr>
            <td>
              <div class='divchat'>
                <div>
                  <strong><%= sivic_obs.sivic_pessoa.NOME_pessoa + ':'%></strong>
                  <label><%= sivic_obs.DESC_Observacao%></label>
                </div>
              </div>
            </td>           
          </tr>
          <%end%>
        </table>

        <hr>


      </div>
      <div class="modal-footer">
        <div slyle='width:100%; height:100%; align:left'>
          <textarea class='txtareachat' name='txtareachat' id='txtareachat'></textarea>
          <a data-toggle="modal" class="btn btn-info" href="javascript:createObservacao();"  style='float:left;margin-left:10px;'>Enviar</a>
        </div>
      </div>
      <div class="modal-footer">
        <table align='center'>
          <tr>
            <td>
              <a data-toggle="modal" class="btn btn-danger" href="javascript:alteraSituacao(2);" >Negar</a>
              <a data-toggle="modal" class="btn btn-success" href="javascript:alteraSituacao(3);" >Aceitar</a>
            </td>
          </tr>
        </table>
      </div>
  </div>  
</fieldset>

<script>


//Aplicando Máscara
jQuery(function($){
   $("#sivic_participantecelula_NUMR_Telefone").mask("(99)9999-9999");

});

  function alteraSituacao(situacao){

      $.ajax({
        url: '<%= alteraSituacao_path %>',
        data : 
        {
            sivic_relatorioscelula_id : $('#sivic_relatorioscelula_id').val()
            ,sivic_situacoesrelatorio_id : situacao
        },
        success: function(data){

          location.reload();

        }
      })

  }

  function createObservacao(){

      $.ajax({
        url: '<%= criarObservacaorelatorio_path %>',
        data : 
        {
            sivic_relatorioscelula_id : $('#sivic_relatorioscelula_id').val()
            ,sivic_pessoa_id : $('#sivic_pessoa_id').val()
            ,DESC_Observacao : $('#txtareachat').val()
        },
        success: function(data){
          var options = "";
          var DESC_SituacaoParticipante
          for (var i in data) {
            var item = data[i];

            $('#tlbchat').append('<tr><td><div class="divchat"><div><strong>'+item.NOME_pessoa+'</strong><label>'+item.DESC_Observacao+'</label></div></div></td></tr>')
            $('#txtareachat').val("")

          };
        }
      })

  }

  function createPessoa(){

      $.ajax({
        url: '<%= criarParticipantesCelulas_path %>',
        data : 
        {
            NOME_Participante : $('#sivic_participantecelula_NOME_Participante').val()
            ,DESC_Email : $('#sivic_participantecelula_DESC_Email').val()
            ,NUMR_Telefone : $('#sivic_participantecelula_NUMR_Telefone').val()
            ,sivic_sitpartcelula_id : $('#sivic_participantecelula_sivic_sitpartcelula_id').val()
            ,sivic_celula_id : $('#sivic_participantecelula_sivic_celula_id').val()
        },
        success: function(data){
          var options = "";
          var DESC_SituacaoParticipante
          for (var i in data) {
            var item = data[i];
            setaNome(item.NOME_Participante,item.id,item.sivic_sitpartcelula_id);

            $('#sivic_participantecelula_NOME_Participante').val("");
            $('#sivic_participantecelula_DESC_Email').val("");
            $('#sivic_participantecelula_NUMR_Telefone').val("");
            //$('#sivic_participantecelula_DESC_SituacaoParticipante').val("");

          };
        }
      })
  }

  function buscaPessoa(){
      $.ajax({
        url: '<%= listarParticipantesCelulas_path %>',
        data : 
        {
            NOME_Participante : $('#NOME_participante_buscar').val()
            ,sivic_celula_id : $('#sivic_participantecelula_sivic_celula_id').val()
        },
        success: function(data){
          $("#tbodyid").empty();
          for (var i in data) {
            var item = data[i];
            $('#table_user').append('<tr><td><a href="javascript:setaNome(\'' + item.NOME_Participante+'\','+item.id+',\ '+ item.id_Situacao+'\);">'+item.NOME_Participante+'</a></td><td><a href="javascript:setaNome(\'' + item.NOME_Participante+'\','+item.id+',\ ' + item.id_Situacao+'\);">'+item.DESC_SituacaoParticipante+'</a></td></tr>')
          };
 
        }
      })
    }

  function setaNome(nome,id,id_situacao){

      $.ajax({
        url: '<%= criarParticipantesRelatorios_path %>',
        data : 
        {
            sivic_relatorioscelula_id : $('#sivic_relatorioscelula_id').val()
            ,sivic_participantecelula_id : id
            ,sivic_sitpartcelula_id : id_situacao
        },
        success: function(data){
          for (var i in data) {
            var item = data[i];
            //$('#tlbparticipantes').append('<tr><td>'+item.NOME_Participante+'</td><td>'+item.DESC_Email+'</td><td>'+item.NUMR_Telefone+'</td><td>'+item.DESC_SituacaoParticipante+'</td><td><a data-confirm="Deseja excluir o registro?" data-method="delete" href="/sivic_relatorioscelulas/'+$('#sivic_relatorioscelula_id').val()+'/sivic_partevenrelacelulas/'+item.id+'" rel="nofollow">Excluir</a></td></tr>');
            //alert(item.id);

            $('#tlbparticipantes').append('<tr><td>'+item.NOME_Participante+'</td><td>'+item.DESC_Email+'</td><td>'+item.NUMR_Telefone+'</td><td>'+item.DESC_SituacaoParticipante+'</td><td><a data-confirm="Deseja excluir o registro?" data-method="delete" href="/sivic_relatorioscelulas/'+$('#sivic_relatorioscelula_id').val()+'/sivic_partevenrelacelulas/'+item.id+'" rel="nofollow"><img alt="Trash" class="exibirico" src="/assets/trash.png" title="Excluir" /></a>')
          };
 
        }
      })
    }


$(".alert-message").alert();
window.setTimeout(function() { $(".alert-message").alert('close'); }, 2000);



</script>
