<% content_for :titlePage do %>
  Permissões
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Permissão</th>
      <th>Ação</th>
      <th>Descrição</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_permissaos.each do |sivic_permissao| %>
      <tr>
        <td><%= sivic_permissao.sivic_model.nome_model %></td>
        <td><%= sivic_permissao.mumr_acao %></td>
        <td><%= sivic_permissao.desc_permissao %></td>

        <td align='right'>

            <%= link_to sivic_permissao, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
            <% end %>             
            <%= link_to edit_sivic_permissao_path(sivic_permissao), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar"  do %>
              <span class="glyphicon glyphicon-pencil"></span> 
            <% end %>
             <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_permissaos/<%=sivic_permissao.id%>" data-method="delete" data-confirm="Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
            </a>  

        </td> 

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div></div>

<div class="btn-group">
  <%= link_to new_sivic_permissao_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>

<script>
$(function(){
  $("a[rel='tooltip']").tooltip();
})
