<p id="notice"><%= notice %></p>

<p>
  <strong>Mumr acao:</strong>
  <%= @sivic_permissao.mumr_acao %>
</p>

<p>
  <strong>Desc permissao:</strong>
  <%= @sivic_permissao.desc_permissao %>
</p>

<p>
  <strong>Desc permissao:</strong>
  <%= @sivic_permissao.sivic_model.nome_model %>
</p>

<%= link_to 'Edit', edit_sivic_permissao_path(@sivic_permissao) %> |
<%= link_to 'Back', sivic_permissaos_path %>
