<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de gestão e administração para igrejas.">
    <meta name="keywords" content="Sivic, sistema de gestão de igrejas, administração de igrejas">   
    <title>SIVIC | Sistema de Gestão para Igrejas</title>
    
    <!-- core CSS -->
    <link href="/assets/template/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/template/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/template/animate.min.css" rel="stylesheet">
    <link href="/assets/template/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/template/main.css" rel="stylesheet">
    <link href="/assets/template/responsive.css" rel="stylesheet">    
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><%= image_tag ("logo.png")%></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">

					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li><a href="<%=root_path%>">Home</a></li>
						<li><a href="<%=planos_path%>">Planos</a></li>
						<li class="active"><a href="#<%contact_path%>">Contato</a></li>
						<li><a href="<%=new_sivic_inscricao_path%>">Registrar</a></li>
						<li><a href="<%=new_user_session_path%>">Login</a></li>
					</ul>

                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <% flash.each do |name, msg| -%>
      <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg%>
      </div>      
    <% end -%>                             

    <section id="contact-info">
        <div class="center">                
            <h2>Como nos Encontrar?</h2>
            <p class="lead">Entre em contato e tire todas as suas dúvidas.</p>
        </div>
        <div class="gmap-area">
            <div class="container">

                <div class="row">
                    <div class="features">
                      
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <address>
                                <h5>Diel Oliveira</h5>
                                <p>Tel:(62) 8446-802<br>
                                Email: diel.faria@gmail.com</p>
                            </address>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <address>
                                <h5>Leandro Pereira</h5>                            
                                <p>Tel:(62) 9170-7712 <br>
                                Email: grupolpgomes@gmail.com </p>
                            </address>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <address>
                                <h5>Comercial</h5>                            
                                <p>Tel:(62) 9170-7712 <br>
                                Email: sivicweb@gmail.com </p>
                            </address>
                        </div><!--/.col-md-4-->                    
                       

                    </div><!--/.services-->
                </div><!--/.row-->   

            </div>
        </div>
    </section>  <!--/gmap_area -->

    <section id="contact-page">
        <div class="container">
            <div class="center">        
                <h2>Deixe-nos uma mensagem</h2>
                <p class="lead">Entraremos em contato o mais rápido possível.</p>
            </div> 
            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display: none"></div>


                <form accept-charset="UTF-8" action="/sivic_contatos" class="contact-form" id="new_sivic_contato" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="HO+TT5tc8rUsuN8ls7aGEQYxaJGAjHZoF3U3TaWE2sY=" /></div>

                    <div class="col-sm-5 col-sm-offset-1">
                      <div class="form-group">
                        <label>Nome *</label>
                        <input id="sivic_contato_desc_nome" name="sivic_contato[desc_nome]" type="text" class="form-control" required="required"/>
                      </div>
                      <div class="form-group">
                        <label>Email *</label>
                        <input id="sivic_contato_desc_email" name="sivic_contato[desc_email]" type="text" class="form-control" required="required"/>
                      </div>
                      <div class="form-group">
                        <label>Assunto *</label>
                        <input id="sivic_contato_desc_assunto" name="sivic_contato[desc_assunto]" type="text" class="form-control" required="required"/>
                      </div>
                  </div>
                      <div class="col-sm-5">
                          <div class="form-group">
                            <label>Mensagem *</label>
                            <textarea id="sivic_contato_desc_mensagem" name="sivic_contato[desc_mensagem]" type="text" class="form-control" required="required" rows="8"/></textarea>
                          </div>

                          <div class="actions">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Enviar</button>
                          </div>
                      </div>
                </form>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://www.sivicweb.com.br" title="Sistema para Gestão de Igrejas">Ledi Sistemas</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="<%=root_path%>">Início</a></li>
                        <li><a href="<%=new_sivic_inscricao_path%>">Registrar</a></li>
                        <li><a href="<%=contact_path%>">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/assets/template/jquery.js"></script>
    <script src="/assets/template/bootstrap.min.js"></script>
    <script src="/assets/template/jquery.prettyPhoto.js"></script>
    <script src="/assets/template/jquery.isotope.min.js"></script>
    <script src="/assets/template/main.js"></script>
    <script src="/assets/template/wow.min.js"></script>
</body>
</html>