
    <% flash.each do |name, msg| -%>
      <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg%>
      </div>      
    <% end -%>


     <% if user_signed_in? %>
       <% if can? :read, SivicDiscipulo %>
    <%#= current_user.sivic_pessoa.sivic_igreja.NOME_igreja %>
               <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Membros
                            <a class="btn btn-primary btn-xs pull-right" id="add" href="<%=sivic_discipulos_path %>">Novo Membro</a>
                        </div>
                        
                        <table class="table">
                            <tr>
                                <td class="col-md-10">Total de Membros Ativos</td>
                                <td class="col-md-2"><%=@total_discipulos%></td>
                            </tr>                
                            <tr>
                                <td>Total de Células Ativas</td>
                                <td><%=@total_celulas%></td>
                            </tr>
                            <tr>
                                <td class="col-md-10">Total de Eventos Ativos</td>
                                <td class="col-md-2"><%=@total_eventos%></td>
                            </tr>
                        </table>

                    </div>
                </div>
        <%end%>
    <%end%>

    <% if user_signed_in? %>
        <% if can? :read, SivicLancamento %>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Resumo Financeiro do Mês
                        <a class="btn btn-primary btn-xs pull-right" href="/extrato">Fluxo de Caixa</a>
                    </div>

                    <table class="table">
                        <tr>
                            <td class="col-md-8"><b>Total de Receitas(R$)</b></td>
                            <td class="col-md-4"><b><spam style="color: rgb(74, 186, 88);"><%= number_to_currency(@total_recebimento, unit: "R$", separator: ",", delimiter: ".") %></spam></b></td>
                        </tr>
                        <tr>
                            <td class="col-md-8">Total de Despesas(R$)</td>
                            <td class="col-md-4"><spam style="color: rgb(211, 47, 47);"><%= number_to_currency(@total_pagamento, unit: "R$", separator: ",", delimiter: ".") %></spam></td>
                        </tr>
                        <tr>
                            <td>Total do Período(R$)</td>
                            <td>          
                                <%if @total_periodo < 0%>
                                <label style='color: rgb(211, 47, 47);'>
                                <%elsif @total_periodo >= 0%>
                                <label style='color: rgb(56, 90, 122);'>
                                <%end%>        
                                <%= number_to_currency(@total_periodo, unit: "R$", separator: ",", delimiter: ".") %>
                                </label>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        <%end%>
    <%end%>

     <% if user_signed_in? %>
       <% if can? :read, SivicDiscipulo %>
            <%if @sivic_aniversariantes_do_dia %>
                <div style="height:20px;">
                   <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">Aniversariantes do Dia
                            </div>

                            <table class="table table-hover">
                              <tbody>
                                  <% @sivic_aniversariantes_do_dia.each do |sivic_discipulo| %>
                                    <tr>
                                      <td><%= sivic_discipulo.sivic_pessoa.nome_pessoa %></td>
                                    </tr>
                                  <% end %>  
                              </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            <%end%>
        <%end%>
    <%end%>      
