
<% content_for :titlePage do %>
  Lista de Usuários
<% end %>

<%=render '/layouts/panel' %>

<div class="containermininmo">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>E-mail</th>
      <th>Pessoa</th>
      <th>Permissão</th>
      <th>Último Login</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_users.each do |sivic_user| %>
      <tr>
        <td><%= sivic_user.id %></td>
        <td><%= sivic_user.email %></td>
        <td><%= sivic_user.sivic_pessoa.NOME_pessoa %></td>
        <td><%= sivic_user.role %></td>
        <td><%= sivic_user.last_sign_in_at %></td>
        <td><%#= link_to 'Exibir', User %></td>
        <td><%#= link_to 'Editar', edit_sivic_estado_path(sivic_estado) %></td>
        <td><%#= link_to 'Excluir', sivic_estado, method: :delete, data: { confirm: 'Deseja exluir o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div></div>

<table style="margin-top:10px;">
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('new.png', :title => 'Novo', class: 'exibirico') ,'/users/sign_up' %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Novo</label>
    </td>
  </tr> 
</table>
