<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de gestão e administração para igrejas.">
    <meta name="keywords" content="Sivic, sistema de gestão de igrejas, administração de igrejas">   
    <title>SIVIC | Sistema de Gestão para Igrejas</title>
    
    <!-- core CSS -->
    <link href="/assets/template/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/template/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/template/animate.min.css" rel="stylesheet">
    <link href="/assets/template/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/template/main.css" rel="stylesheet">
    <link href="/assets/template/responsive.css" rel="stylesheet">   
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="assets/images/ico/favicon.ico">
</head><!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<%=root_path%>"><%= image_tag ("logo.png")%></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                        <li ><a href="<%=root_path%>">Home</a></li>
                        <li class="active"><a href="<%planos_path%>">Planos</a></li>
                        <li><a href="<%=contact_path%>">Contato</a></li>
                        <li><a href="<%=new_sivic_inscricao_path%>">Registrar</a></li>
                        <li><a href="<%=new_user_session_path%>">Login</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->

    <section class="pricing-page">
        <div class="container">
            <div class="center">  
                <h2>Tabela de Preços</h2>
                <p class="lead">Você só precisa pagar o que você usar. Os nossos planos são adequados para todos os portes de igreja.</p>
            </div>  
            <div class="pricing-area text-center">
                <div class="row">

                    <div class="col-sm-6 col-md-4 plan price-one wow fadeInDown">
                        <ul>
                            <li class="heading-one">
                                <h1>Basic</h1>
                                <span>R$ 45,00/Mês</span>
                            </li>
                            <li>Até 100 Membros</li>
                            <li>Até 20 Usuários</li>
                            <li>Células Ilimitadas</li>
                            <li>Suporte</li>
                            <li class="plan-action">
                                <a href="<%=new_sivic_inscricao_path%>" class="btn btn-primary">Registrar</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-4 plan price-two wow fadeInDown">
                        <ul>
                            <li class="heading-two">
                                <h1>Medium</h1>
                                <span>R$ 65,00/Mês</span>
                            </li>
                            <li>Até 300 Membros</li>
                            <li>Até 60 Usuários</li>
                            <li>Células Ilimitadas</li>
                            <li>Suporte</li>
                            <li class="plan-action">
                                <a href="<%=new_sivic_inscricao_path%>" class="btn btn-primary">Registrar</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-4 plan price-three wow fadeInDown">
                        <ul>
                            <li class="heading-three">
                                <h1>Standard</h1>
                                <span>R$ 79,00/Mês</span>
                            </li>
                            <li>Até 500 Membros</li>
                            <li>Até 100 Usuários</li>
                            <li>Células Ilimitadas</li>
                            <li>Suporte</li>
                            <li class="plan-action">
                                <a href="<%=new_sivic_inscricao_path%>" class="btn btn-primary">Registrar</a>
                            </li>
                        </ul>
                    </div>                                       

                    <div class="col-sm-6 col-md-4 plan price-four wow fadeInDown">
                        <ul>
                            <li class="heading-four">
                                <h1>Advanced</h1>
                                <span>R$ 119,00/Mês</span>
                            </li>
                            <li>Até 1000 Membros</li>
                            <li>Até 200 Usuários</li>
                            <li>Células Ilimitadas</li>
                            <li>Suporte</li>
                            <li class="plan-action">
                                <a href="<%=new_sivic_inscricao_path%>" class="btn btn-primary">Registrar</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-4 plan price-one wow fadeInDown">
                        <ul>
                            <li class="heading-one">
                                <h1>Premium</h1>
                                <span>R$ 149,00/Mês</span>
                            </li>
                            <li>Até 2000 Membros</li>
                            <li>Até 400 Usuários</li>
                            <li>Células Ilimitadas</li>
                            <li>Suporte</li>
                            <li class="plan-action">
                                <a href="<%=new_sivic_inscricao_path%>" class="btn btn-primary">Registrar</a>
                            </li>
                        </ul>
                    </div>        

                    <div class="col-sm-6 col-md-4 plan price-two wow fadeInDown">
                        <ul>
                            <li class="heading-two">
                                <h1>Ultimate</h1>
                                <span>R$ 199,00/Mês</span>
                            </li>
                            <li>Até 3000 Membros</li>
                            <li>Até 600 Usuários</li>
                            <li>Células Ilimitadas</li>
                            <li>Suporte</li>
                            <li class="plan-action">
                                <a href="<%=new_sivic_inscricao_path%>" class="btn btn-primary">Registrar</a>
                            </li>
                        </ul>
                    </div>                                

                </div>
            </div><!--/pricing-area-->
        </div><!--/container-->
    </section><!--/pricing-page-->
           
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://www.sivicweb.com.br" title="Sistema para Gestão de Igrejas">Ledi Sistemas</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="<%=root_path%>">Início</a></li>
                        <li><a href="<%=new_sivic_inscricao_path%>">Registrar</a></li>
                        <li><a href="<%=contact_path%>">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/assets/template/jquery.js"></script>
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
    <script src="/assets/template/jquery.js"></script>
    <script src="/assets/template/bootstrap.min.js"></script>
    <script src="/assets/template/jquery.prettyPhoto.js"></script>
    <script src="/assets/template/jquery.isotope.min.js"></script>
    <script src="/assets/template/main.js"></script>
    <script src="/assets/template/wow.min.js"></script>
</body>
</html>