<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= 'Cadastro de Participantes de Células'%></h3>
  </div>
  <div class="panel-footer">

    <%= form_for(@sivic_participantecelula) do |f| %>
    <% if @sivic_participantecelula.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <% if @sivic_participantecelula.errors.any? %>
  
            <% @sivic_participantecelula.errors.full_messages.each do |msg| %>

          <%= msg %></br>
        <% end %>
      <% end %>
      </div>
    <% end %>

      <div class="row">

        <div class="col-xs-4">
          <%= f.label :NOME, :class => 'lblForms' %>
          <%= f.text_field :nome_participante, :class => 'form-control' %>

        </div>
        <div class="col-xs-4">
          <%= f.label :Email, :class => 'lblForms' %>
          <%= f.text_field :DESC_Email, :class => 'form-control' %>
        </div>

        <div class="col-xs-4">
          <%= f.label :Telefone, :class => 'lblForms' %>
          <%= f.text_field :NUMR_Telefone, :class => 'form-control' %>
        </div>       
      </div>

      <br />

      <div class="row">

        <div class="col-xs-4">
          <%if current_user.role == 'LIDER_DE_CELULAS'%>
            <%= f.hidden_field :sivic_celula_id, :value => SivicCelula.find_by_sivic_pessoa_id(current_user.sivic_pessoa_id).sivic_pessoa_id rescue nil%>
          <%else %>
            <%= f.label :Célula, :class => 'lblForms'  %>
            <%= f.select :sivic_celula_id, options_from_collection_for_select(SivicCelula.where(sivic_igreja_id: current_user.sivic_pessoa.sivic_igreja_id), 'id', 'NOME_Celula'),{},{:include_blank => true,  :class => 'form-control'}%>
          <%end%>
        </div>

      </div>

    </br>
  </div>

</div>

<div class="btn-group">

  <button type="submit" class="btn btn-default btn">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>

  <%= yield(:iconexibir) %>

  <%= link_to sivic_participantecelulas_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>

<% end %>


<script>
jQuery(function($){
   $("#sivic_participantecelula_NUMR_Telefone").mask("(99)9999-9999");

});
</script>