<%= form_for(@sivic_participantecelula) do |f| %>
  <% if @sivic_participantecelula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_participantecelula.errors.count, "error") %> prohibited this sivic_participantecelula from being saved:</h2>

      <ul>
      <% @sivic_participantecelula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="containermininmo">
    <table style="width:30%" align='center'>
      <tr>
        <td>
          <div class="field">
            <%= f.label :NOME %>
            <%= f.text_field :NOME_Participante, :class => 'form-control-100' %>
          </div>
          <div class="field">
            <%= f.label :Email %>
            <%= f.text_field :DESC_Email, :class => 'form-control-100' %>
          </div>
          <div class="field">
            <%= f.label :Telefone %>
            <%= f.text_field :NUMR_Telefone %>
          </div>       

            <%if current_user.role == 'LIDER_DE_CELULAS'%>
              <%= f.hidden_field :sivic_celula_id, :value => SivicCelula.find_by_sivic_pessoa_id(current_user.sivic_pessoa_id).sivic_pessoa_id rescue nil%>
            <%else%>
              <%= f.label :Célula, :class => 'lblForms'  %>
              <%= f.select :sivic_celula_id, options_from_collection_for_select(SivicCelula.all, 'id', 'NOME_Celula'),:include_blank => true%>
            <%end%>

        </td>
      </tr>
    </table>
  <%=render '/layouts/iconsalvar' %>
<% end %>

<script>
jQuery(function($){
   $("#sivic_participantecelula_NUMR_Telefone").mask("(99)9999-9999");

});
</script>