<% content_for :titlePage do %>
  Participantes de Células
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Situação</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_participantecelulas.each do |sivic_participantecelula| %>
      <tr>
        <td><%= sivic_participantecelula.nome_participante %></td>
        <td><%= sivic_participantecelula.DESC_Email %></td>
        <td><%= sivic_participantecelula.NUMR_Telefone %></td>
        <td align='right'>
          <div class="btn-group">
            <%= link_to sivic_participantecelula, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Exibir
            <% end %>             
            <%= link_to edit_sivic_participantecelula_path(sivic_participantecelula), :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span> Editar
            <% end %>             
            <%= link_to sivic_participantecelula, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
<%= will_paginate @sivic_users %>
</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_participantecelula_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>
