<h1>Participantes de Células</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Situação</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_participantecelulas.each do |sivic_participantecelula| %>
      <tr>
        <td><%= sivic_participantecelula.NOME_Participante %></td>
        <td><%= sivic_participantecelula.DESC_Email %></td>
        <td><%= sivic_participantecelula.NUMR_Telefone %></td>
        <td><%= sivic_participantecelula.DESC_SituacaoParticipante %></td>
        <td><%= link_to 'Exibir', sivic_participantecelula %></td>
        <td><%= link_to 'Editar', edit_sivic_participantecelula_path(sivic_participantecelula) %></td>
        <td><%= link_to 'Excluír', sivic_participantecelula, method: :delete, data: { confirm: 'Deseja excluir o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sivic participantecelula', new_sivic_participantecelula_path %>
