<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_participantecelula.NOME_Participante %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sivic_participantecelula.DESC_Email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @sivic_participantecelula.NUMR_Telefone %>
</p>

<p>
  <strong>Situação:</strong>
  <%= @sivic_participantecelula.DESC_SituacaoParticipante %>
</p>

<%= link_to 'Editar', edit_sivic_participantecelula_path(@sivic_participantecelula) %> |
<%= link_to 'Voltar', sivic_participantecelulas_path %>
