<p id="notice"><%= notice %></p>

<p>
  <strong>Nome participante:</strong>
  <%= @sivic_participantecelula.NOME_Participante %>
</p>

<p>
  <strong>Desc email:</strong>
  <%= @sivic_participantecelula.DESC_Email %>
</p>

<p>
  <strong>Numr telefone:</strong>
  <%= @sivic_participantecelula.NUMR_Telefone %>
</p>

<p>
  <strong>Desc situacaoparticipante:</strong>
  <%= @sivic_participantecelula.DESC_SituacaoParticipante %>
</p>

<%= link_to 'Edit', edit_sivic_participantecelula_path(@sivic_participantecelula) %> |
<%= link_to 'Back', sivic_participantecelulas_path %>
