<p id="notice"><%= notice %></p>

<% content_for :titlePage do %>
  Exibir Participante
<% end %>

<%= render 'layouts/panel' %>

<p>
  <strong>Nome:</strong>
  <%= @sivic_participantecelula.NOME_Participante %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sivic_participantecelula.DESC_Email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @sivic_participantecelula.NUMR_Telefone %>
</p>


</div></div>
<table style="margin-top:10px;"> 
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('edit.png', title: 'Editar', class: 'exibirico') , edit_sivic_participantecelula_path(@sivic_participantecelula) %>
    </td>
    <td align="center" style="width:20px;">
      <%= link_to image_tag('back.png', title: 'Voltar',class: 'exibirico') , sivic_participantecelulas_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Editar</label>
    </td>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Voltar</label>
    </td>
  </tr> 
</table>

