<p id="notice"><%= notice %></p>

<p>
  <strong>Flag ativo:</strong>
  <%= @sivic_atividadepessoa.flag_ativo %>
</p>

<p>
  <strong>Data exclusao:</strong>
  <%= @sivic_atividadepessoa.data_exclusao %>
</p>

<p>
  <strong>Data bloqueio:</strong>
  <%= @sivic_atividadepessoa.data_bloqueio %>
</p>

<p>
  <strong>Sivic atividade:</strong>
  <%= @sivic_atividadepessoa.sivic_atividade %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_atividadepessoa.sivic_igreja %>
</p>

<p>
  <strong>Sivic pessoa:</strong>
  <%= @sivic_atividadepessoa.sivic_pessoa %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_atividadepessoa.User %>
</p>

<%= link_to 'Edit', edit_sivic_atividadepessoa_path(@sivic_atividadepessoa) %> |
<%= link_to 'Back', sivic_atividadepessoas_path %>
