<%= form_for(@sivic_movimentofinanceiro) do |f| %>
  <% if @sivic_movimentofinanceiro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_movimentofinanceiro.errors.count, "error") %> prohibited this sivic_movimentofinanceiro from being saved:</h2>

      <ul>
      <% @sivic_movimentofinanceiro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :VALR_movimento %><br>
    <%= f.text_field :VALR_movimento %>
  </div>
  <div class="field">
    <%= f.label :User_id %><br>
    <%= f.text_field :User_id %>
  </div>
  <div class="field">
    <%= f.label :DATA_exclusao %><br>
    <%= f.datetime_select :DATA_exclusao %>
  </div>
  <div class="field">
    <%= f.label :FLAG_baixa %><br>
    <%= f.text_field :FLAG_baixa %>
  </div>
  <div class="field">
    <%= f.label :User_id %><br>
    <%= f.text_field :User_id %>
  </div>
  <div class="field">
    <%= f.label :sivic_tipmovfinanceiro_id %><br>
    <%= f.text_field :sivic_tipmovfinanceiro_id %>
  </div>
  <div class="field">
    <%= f.label :sivic_evento_id %><br>
    <%= f.text_field :sivic_evento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
