<%= form_for(@sivic_movimentofinanceiro) do |f| %>
  <% if @sivic_movimentofinanceiro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_movimentofinanceiro.errors.count, "error") %> prohibited this sivic_movimentofinanceiro from being saved:</h2>

      <ul>
      <% @sivic_movimentofinanceiro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Tipo_Movimento %><br>
    <%= f.select :sivic_tipmovfinanceiro_id, options_from_collection_for_select(SivicTipmovfinanceiro.all, 'id', 'DESC_movimento',@sivic_movimentofinanceiro.sivic_tipmovfinanceiro_id),:include_blank => true%>
  </div>
  <div class="field">
    <%= f.label :VALR_movimento %><br>
    <%= f.text_field :VALR_movimento %>
  </div>
    <div class="field">
    <%= f.label :Descricao_Movimento %><br>
    <%= f.text_field :DESC_movimento %>
  </div>
  <div class="field">
    <%= f.label :sivic_evento_id %><br>
    <%= f.text_field :sivic_evento_id %>
  </div>

<!--Capturando Usuario logado-->
  <%=f.hidden_field :user_inclusao, :value => current_user.id%>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
