<h1>Lançamentos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tipo do Movimento</th>
      <th>Valor R$</th>    
      <th>Lançado Para</th>
      <th>Dado baixa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_movimentofinanceiros.each do |sivic_movimentofinanceiro| %>
      <tr>
        <td><%= sivic_movimentofinanceiro.sivic_tipmovfinanceiro.DESC_movimento %></td>
        <td><%= sivic_movimentofinanceiro.VALR_movimento %></td>
        <td><%= sivic_movimentofinanceiro.sivic_evento.DESC_evento %></td>
        <td><%= sivic_movimentofinanceiro.FLAG_baixa %></td>
        <td><%= link_to 'Exibir', sivic_movimentofinanceiro %></td>
        <td><%= link_to 'Editar', edit_sivic_movimentofinanceiro_path(sivic_movimentofinanceiro) %></td>
        <td><%= link_to 'Deletar', sivic_movimentofinanceiro, method: :delete, data: { confirm: 'Deseja excluir o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Registro', new_sivic_movimentofinanceiro_path %>
