<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo do Movimento:</strong>
  <%= @sivic_movimentofinanceiro.sivic_tipmovfinanceiro %>
</p>

<p>
  <strong>Valor do Movimento:</strong>
  <%= @sivic_movimentofinanceiro.VALR_movimento %>
</p>

<p>
  <strong>Lançado Para:</strong>
  <%= @sivic_movimentofinanceiro.sivic_evento.DESC_evento %>
</p>

<%= link_to 'Editar', edit_sivic_movimentofinanceiro_path(@sivic_movimentofinanceiro) %> |
<%= link_to 'Voltar', sivic_movimentofinanceiros_path %>
