<% content_for :titlePage do %>
  Editar Usuário
<% end %>


    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <%=render '/layouts/panel' %>


        <div class="tabbable">
              <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#tab1" data-toggle="tab">Editar</a>
                  </li>
                  <li>
                    <a href="#tab2" data-toggle="tab">Encerrar</a>
                  </li>        
              </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                <div class="row">
                  <div class="col-xs-4">
                  </div>
                  <div class="col-xs-4">

                    <%= f.hidden_field :sivic_pessoa_id, :value => current_user.sivic_pessoa_id%>
                    <%= f.label :email %>
                    <%= f.email_field :email, :autofocus => true, :class => 'form-control' %>
                    <br />
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                    <% end %>

                    <%= f.label :Senha %>
                    <%= f.password_field :password, :autocomplete => "off",  :class => 'form-control'  %>
                    <br />
                    <%= f.label :Confirmação_de_Senha %>
                    <%= f.password_field :password_confirmation,  :class => 'form-control'  %>
                    <br />
                    <%= f.label :Senha_Atual %>
                    <%= f.password_field :current_password,  :class => 'form-control'  %>
                    <br />
                    <%= f.label :Permissão %>
                    <%= f.collection_select :role, User::ROLES, :to_s, :humanize, {}, {:class => 'form-control'} %>  
                    <br />
                    <%= f.submit "Atualizar", class: "btn btn-mediun btn-primary" %>
                  </div>
                </div>

            <% end %>


        </div>
        <div class="tab-pane" id="tab2">
          <table style="width:20%;" align='center'>
            <tr align='center'>
              <td>
                <p> Deseja Encerrar sua conta? <%= button_to "Encerrar conta", registration_path(resource_name), :data => { :confirm => "Realmente deseja encerrar sua conta?" }, :method => :delete , class: "btn btn-mediun btn-primary"%></p>
              </td>
            </tr>
          </table>
        
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>


