<h2>Registrar</h2>

<div class="row">
  <div class="span6 offset3">


    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :Pessoa %><br>
        <%#= f.select :sivic_pessoa_id, options_from_collection_for_select(SivicPessoa.all, 'id', 'NOME_pessoa')%>
        <select id="user_sivic_pessoa_id" name="user[sivic_pessoa_id]" disabled="disabled">
        </select>
      </div>

      <div class="field">
        <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-small btn-signup">Buscar Pessoa</a>
        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-small btn-signup">Nova Pessoa</a>
      </div>

      <%= f.label :Email %>
      <%= f.email_field :email%>

      <%= f.label :Senha %>
      <%= f.password_field :password %>

      <%= f.label :Confirmação_de_Senha %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :Permissão %>
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>

      <%= f.submit "Registrar" ,class: "btn btn-mediun btn-primary"%>
    <% end %>
    <%= render "devise/shared/links" %>
    
  </div>
</div>  

<fieldset>

<%
  @sivic_pessoa = SivicPessoa.new
  @sivic_igreja = SivicIgreja.all
%>


 <div id="myModal" class="modal fade" style="display: none;">  

    <%= form_for(@sivic_pessoa) do |f| %>
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Cadastro de Pessoa</h3>  
      </div>  
      <div class="modal-body">
        <div class="field">
          <%= f.label :Lider %><br>
          <%= f.select :father_id, options_from_collection_for_select(SivicPessoa.all, 'id', 'NOME_pessoa',0),:include_blank => true%>
        </div>  
        <div class="field">
          <%= f.label :Nome %><br>
          <%= f.text_field :NOME_pessoa %>
        </div>
        <div class="field">
          <%= f.label :Email %><br>
          <%= f.text_field :DESC_email %>
        </div>
        <div class="field">
          <%= f.label :Observação %><br>
          <%= f.text_field :DESC_observacao %>
        </div>
        <div class="field">
          <%= f.label :Igreja %><br>
          <%= f.select :sivic_igreja_id, options_from_collection_for_select(@sivic_igreja, 'id', 'NOME_igreja')%>
        </div>
      </div>
      <div class="modal-footer">
        <div class="field">
          <a data-toggle="modal" href="javascript:createPessoa(this.value);" class="btn btn-success">Cadastrar</a>
        </div>        
      </div>  
      </div>  
    <% end %>

</fieldset>

  <div id="myModal2" class="modal fade" style="display: none;">  
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Buscar Pessoas</h3>  
      </div>  
      <div class="modal-body">
        <div class="input-group input-group-lg">
          <label >Nome</label><br>
          <input id="NOME_pessoa_buscar" name="NOME_pessoa_buscar" onchange="buscaPessoa()"type="text" class="form-control" placeholder="Username" style="width: 300px;">
          <a data-toggle="modal" href="javascript:buscaPessoa();" class="btn btn-success" style="margin-bottom: 10px;">Buscar</a>
        </div>
        <table id="table_user" name="table_user" class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="tbodyid">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
      </div>
  </div>  

</fieldset>



<script>
  function createPessoa(){

      $.ajax({
        url: '<%= criarPessoa_path %>',
        data : 
        {
            father_id : $('#sivic_pessoa_father_id').val()
            ,NOME_pessoa : $('#sivic_pessoa_NOME_pessoa').val()
            ,DESC_email : $('#sivic_pessoa_DESC_email').val()
            ,DESC_observacao : $('#sivic_pessoa_DESC_observacao').val()
            ,sivic_igreja_id : $('#sivic_pessoa_sivic_igreja_id').val()
        },
        success: function(data){
          $('#user_sivic_pessoa_id').empty();
          $('#user_sivic_pessoa_id').html('<option>Carregando...</option>');
          $('#user_sivic_pessoa_id').attr('disabled', 'disabled');
          var options = "";
          for (var i in data) {
            var item = data[i];
            options += "<option value='"+item.id+"'>"+item.NOME_pessoa+"</option>";
          };
 
          $('#user_sivic_pessoa_id').html(options);
          $('#user_sivic_pessoa_id').removeAttr('disabled');
          $('#myModal').modal('hide');

        }
      })
    }

  function buscaPessoa(){

      $.ajax({
        url: '<%= listarPessoa_path %>',
        data : 
        {
            NOME_pessoa : $('#NOME_pessoa_buscar').val()
        },
        success: function(data){
          $("#tbodyid").empty();
          for (var i in data) {
            var item = data[i];
            $('#table_user').append("<tr><td><a href='javascript:setaNome('"+item.NOME_pessoa+"','"+item.id+');">'+item.NOME_pessoa+'</a></td><td><a href="">'+item.DESC_email+'</a></td></tr>')
          };
 
        }
      })
    }

  function setaNome(nome,id){

          alert(nome);
          $('#user_sivic_pessoa_id').empty();
          $('#user_sivic_pessoa_id').html('<option>Carregando...</option>');
          $('#user_sivic_pessoa_id').attr('disabled', 'disabled');
          var options = "<option value='"+id+"'>"+nome+"</option>";
          $('#user_sivic_pessoa_id').html(options);
          $('#user_sivic_pessoa_id').removeAttr('disabled');
          $('#myModal').modal('hide');

  } 


</script>
