
<% content_for :titlePage do %>
  Registrar
<% end %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%=render '/layouts/panel' %>


<div class="row">
<div class="col-md-10 col-md-offset-4">
  <div class="col-xs-4">
    <%= f.label :Pessoa %>
    <select id="user_sivic_pessoa_id" name="user[sivic_pessoa_id]" disabled="disabled" class='form-control'>
    </select>
  </div>

  <div class="col-xs-2" style='margin-top:23px;'>
    <a data-toggle="modal" href="#myModal2" class="btn btn-success">Buscar Pessoa</a>
  </div>
</div>
</div>

<br />

<div class="row">
  <div class="col-md-10 col-md-offset-4">  
    <div class="col-xs-4">
      <%= f.label :Email %>
      <%= f.email_field :email, :class => "form-control"%>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-10 col-md-offset-4">  
    <div class="col-xs-3">
      <%= f.label :Senha %>
      <%= f.password_field :password, :class => "form-control" %>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-10 col-md-offset-4">  
    <div class="col-xs-3">
      <%= f.label :Confirmação_de_Senha %>
      <%= f.password_field :password_confirmation, :class => "form-control" %>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-10 col-md-offset-4">  
    <div class="col-xs-4">
      <%= f.label :Permissão %>
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize, {}, {:class => "form-control"}%>
    </div>
  </div>

</div>
    
<% end %>

</div>
</div>


<div class="btn-group">

  <%= link_to admin_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>


<fieldset>

<%
  @sivic_pessoa = SivicPessoa.new
  @sivic_igreja = SivicIgreja.all
%>


<fieldset>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Buscar Pessoas</h4>
      </div>
      <div class="modal-body">

        <label >Nome</label><br>
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input id="NOME_pessoa_buscar" name="NOME_pessoa_buscar" onkeypress="buscaPessoa()" type="text" class="form-control" placeholder="Nome">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" onclick="buscaPessoa();">Buscar</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <br />

        <table id="table_user" name="table_user" class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="tbodyid">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>




<script>
  function createPessoa(){

      $.ajax({
        url: '<%= criarPessoa_path %>',
        data : 
        {
            father_id : $('#sivic_pessoa_father_id').val()
            ,NOME_pessoa : $('#sivic_pessoa_NOME_pessoa').val()
            ,DESC_email : $('#sivic_pessoa_DESC_email').val()
            ,DESC_observacao : $('#sivic_pessoa_DESC_observacao').val()
            ,sivic_igreja_id : $('#sivic_pessoa_sivic_igreja_id').val()
        },
        success: function(data){
          $('#user_sivic_pessoa_id').empty();
          $('#user_sivic_pessoa_id').html('<option>Carregando...</option>');
          $('#user_sivic_pessoa_id').attr('disabled', 'disabled');
          var options = "";
          var email
          for (var i in data) {
            var item = data[i];
            options += "<option value='"+item.id+"'>"+item.NOME_pessoa+"</option>";
            email = item.DESC_email
          };
 
          $('#user_sivic_pessoa_id').html(options);
          $('#user_sivic_pessoa_id').removeAttr('disabled');
          $('#user_email').val(email);
          $('#myModal').modal('hide');

        }
      })
    }

  function buscaPessoa(){

      $.ajax({
        url: '<%= listarPessoa_path %>',
        data : 
        {
            NOME_pessoa : $('#NOME_pessoa_buscar').val()
        },
        success: function(data){
          $("#tbodyid").empty();
          for (var i in data) {
            var item = data[i];
            $('#table_user').append('<tr><td><a href="javascript:setaNome(\'' + item.NOME_pessoa+'\','+item.id+',\'' + item.DESC_email+'\');">'+item.NOME_pessoa+'</a></td><td><a href="javascript:setaNome(\'' + item.NOME_pessoa+'\','+item.id+',\'' + item.DESC_email+'\');">'+item.DESC_email+'</a></td></tr>')
          };
 
        }
      })
    }

  function setaNome(nome,id,email){

          $('#user_sivic_pessoa_id').empty();
          $('#user_sivic_pessoa_id').html('<option>Carregando...</option>');
          $('#user_sivic_pessoa_id').attr('disabled', 'disabled');
          var options = "<option value='"+id+"'>"+nome+"</option>";
          $('#user_sivic_pessoa_id').html(options);
          $('#user_sivic_pessoa_id').removeAttr('disabled');
          $('#user_email').val(email);
          $('#myModal2').modal('hide');
  } 


</script>
