<% content_for :titlePage do %>
  Lista de Fornecedores
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CNPJ</th>
      <th>CPF</th>
      <th>Telefône</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_fornecedors.each do |sivic_fornecedor| %>
      <tr>
        <td><%= sivic_fornecedor.nome_fornecedor %></td>
        <td><%= sivic_fornecedor.numr_cnpj %></td>
        <td><%= sivic_fornecedor.numr_cpf %></td>
        <td><%= sivic_fornecedor.numr_telefone %></td>

      <td align='right'>
        <div class="btn-group">
          <%= link_to sivic_fornecedor, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-list-alt"></span> Exibir
          <% end %>             
          <%= link_to edit_sivic_fornecedor_path(sivic_fornecedor), :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-pencil"></span> Editar
          <% end %>            
            <%= link_to sivic_fornecedor , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>           
        </div>
      </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_fornecedor_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>