<p id="notice"><%= notice %></p>

<p>
  <strong>Nome fornecedor:</strong>
  <%= @sivic_fornecedor.nome_fornecedor %>
</p>

<p>
  <strong>Numr cnpj:</strong>
  <%= @sivic_fornecedor.numr_cnpj %>
</p>

<p>
  <strong>Numr cpf:</strong>
  <%= @sivic_fornecedor.numr_cpf %>
</p>

<p>
  <strong>Numr telefone:</strong>
  <%= @sivic_fornecedor.numr_telefone %>
</p>

<p>
  <strong>Nome responsavel:</strong>
  <%= @sivic_fornecedor.nome_responsavel %>
</p>

<p>
  <strong>Desc fornecedor:</strong>
  <%= @sivic_fornecedor.desc_fornecedor %>
</p>

<p>
  <strong>Sivic endereco:</strong>
  <%= @sivic_fornecedor.sivic_endereco %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_fornecedor.sivic_igreja %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_fornecedor.user %>
</p>

<%= link_to 'Edit', edit_sivic_fornecedor_path(@sivic_fornecedor) %> |
<%= link_to 'Back', sivic_fornecedors_path %>
