<%= form_for(@sivic_estado) do |f| %>
  <% if @sivic_estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_estado.errors.count, "error") %> prohibited this sivic_estado from being saved:</h2>

      <ul>
      <% @sivic_estado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Estado %><br>
    <%= f.text_field :nome_estado %>
  </div>
  <div class="field">
    <%= f.label :Sigla %><br>
    <%= f.text_field :sigl_estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
