<h1>Manter Estados</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome estado</th>
      <th>Sigl estado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_estados.each do |sivic_estado| %>
      <tr>
        <td><%= sivic_estado.nome_estado %></td>
        <td><%= sivic_estado.sigl_estado %></td>
        <td><%= link_to 'Exibir', sivic_estado %></td>
        <td><%= link_to 'Editar', edit_sivic_estado_path(sivic_estado) %></td>
        <td><%= link_to 'Excluir', sivic_estado, method: :delete, data: { confirm: 'Confirma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sivic estado', new_sivic_estado_path %>
