<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_estado.nome %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @sivic_estado.sigla %>
</p>

<%= link_to 'Edit', edit_sivic_estado_path(@sivic_estado) %> |
<%= link_to 'Back', sivic_estados_path %>
