<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic discipulo:</strong>
  <%= @sivic_ministeriodiscipulo.sivic_discipulo %>
</p>

<p>
  <strong>Sivic ministerio:</strong>
  <%= @sivic_ministeriodiscipulo.sivic_ministerio %>
</p>

<p>
  <strong>Flag ministerioativo:</strong>
  <%= @sivic_ministeriodiscipulo.flag_ministerioativo %>
</p>

<%= link_to 'Edit', edit_sivic_ministeriodiscipulo_path(@sivic_ministeriodiscipulo) %> |
<%= link_to 'Back', sivic_ministeriodiscipulos_path %>
