<%= form_for(@sivic_aula) do |f| %>
  <% if @sivic_aula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_aula.errors.count, "error") %> prohibited this sivic_aula from being saved:</h2>

      <ul>
      <% @sivic_aula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_aula %><br>
    <%= f.text_field :nome_aula %>
  </div>
  <div class="field">
    <%= f.label :data_aula %><br>
    <%= f.datetime_select :data_aula %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :sivic_igreja_id %><br>
    <%= f.text_field :sivic_igreja_id %>
  </div>
  <div class="field">
    <%= f.label :sivic_tumamoduloprofessor_id %><br>
    <%= f.text_field :sivic_tumamoduloprofessor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
