<p id="notice"><%= notice %></p>

<p>
  <strong>Desc periodicidade:</strong>
  <%= @sivic_periodicidadecon.desc_periodicidade %>
</p>

<p>
  <strong>Numr qtddia:</strong>
  <%= @sivic_periodicidadecon.numr_qtddia %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_periodicidadecon.sivic_igreja %>
</p>

<%= link_to 'Edit', edit_sivic_periodicidadecon_path(@sivic_periodicidadecon) %> |
<%= link_to 'Back', sivic_periodicidadecons_path %>
