<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= 'Matrícula'%></h3>
  </div>
  <div class="panel-footer">

    <%= form_for(@sivic_turmaaluno) do |f| %>
    <% if @sivic_turmaaluno.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <% if @sivic_turmaaluno.errors.any? %>
  
            <% @sivic_turmaaluno.errors.full_messages.each do |msg| %>

          <%= msg %></br>
        <% end %>
      <% end %>
      </div>
    <% end %>

  <div class="row">      
       <div class="col-xs-3">
       </div>    
       <div class="col-xs-6">
            <%= f.label :Aluno %>
            <%= f.hidden_field :sivic_pessoa_id%>
            <%#= f.text_field :sivic_pessoa_id, disabled="disabled" %>
            <div class="input-group">
             <input id="nome_pessoa" name="nome_pessoa" value="<%=@sivic_turmaaluno.sivic_pessoa.nome_pessoa rescue nil%>" onkeypress="" type="text" class="form-control" placeholder="Aluno">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" onclick="$('#myModal1').modal('show');">Buscar Aluno</button>
            </span>
           </div>
       </div>
    </div>

    <br/>
    <div class="row">
      <div class="col-xs-3">
      </div>      
          <div div class="col-xs-6">
             <%= f.label :Turma %>
             <%= f.hidden_field :sivic_turma_id%>
            <div class="input-group">
             <input id="sivic_turma" name="sivic_turma" value="<%=@sivic_turmaaluno.sivic_turma.DESC_turma rescue nil%>" onkeypress="" type="text" class="form-control" placeholder="Turma">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" onclick="$('#myModal2').modal('show');">Buscar Turma</button>
            </span>
           </div>
      </div>
    </div>

      <%= f.hidden_field :user_inclusao, :value => current_user.id %>
      <%= f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id %>

    <br>


    </div>
  </div>



  
<div class="btn-group">
  <button type="submit" class="btn btn-default btn">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>

  <%= yield(:iconexibir) %>

  <%= link_to sivic_turmaalunos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
</div>


<% end %>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Alunos</h4>
      </div>
      <div class="modal-body">
          <label >Nome</label><br>
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group">
                  <input id="nome_pessoa_buscar" name="nome_pessoa_buscar" onkeypress="buscaPessoa('pessoa')" type="text" class="form-control" placeholder="Nome">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onclick="buscaPessoa('pessoa');">Buscar</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <br /> 
              <table id="table_user" name="table_user" class="table table-hover">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody id="tbodyid">
                  <tr>
                  </tr>
                  <tr>
                  </tr>
              </tbody>  
            </table>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Turmas</h4>
      </div>
      <div class="modal-body">
        <table id="table_turma" name="table_turma" class="table table-hover" onload="listaTurma">
          <thead>
            <tr>
              <th>Turma</th>
              <th>Curso</th>
              <th>Data Inicio</th>
            </tr>
          </thead>
          <tbody id="tbodyturma">
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<script>

function buscaPessoa(fonte){

     var pesquisa;

      if (fonte == 'lider'){
        pesquisa = $('#nome_lider_buscar').val();
      }else{
        pesquisa = $('#nome_pessoa_buscar').val();
      }
        
       $.ajax({
        url : '<%= listarDiscipulos_path %>',
        data :
        {
          nome_pessoa : pesquisa
        },
        success: function(data){
          $("#tbodyid").empty();
          $("#tbodyid2").empty();
          for (var i in data) {
            var item = data[i];

            if (fonte == 'lider' ) {
              $('#table_lider').append('<tr><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.nome_pessoa+'</a></td><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.DESC_email+'</a></td></tr>');
            }else{
              $('#table_user').append('<tr><td><a href="javascript:setaNome(\'' + item.nome_pessoa+'\','+item.id+');">'+item.nome_pessoa+'</a></td><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.DESC_email+'</a></td></tr>');

            }
          };
 
        }
       })
     }


 function buscaTurma(){
       $.ajax({
        url : '<%=listarTurma_path %>',
        data :{},
        success: function(data){
          $('#tbodyturma').empty();
          for (var i in data){
            var item = data[i];
            $('#table_turma').append('<tr><td><a type=date href="javascript:setaTurma(\''+ item.DESC_turma+'\','+item.id+'\);">'+item.DESC_turma+'</a></td><td><a type=date href="javascript:setaTurma(\''+ item.DESC_turma+'\','+item.id+'\);">'+item.nome_curso+'</a></td><td><a href="javascript:setaTurma(\'' + item.DESC_turma+'\','+item.id+'\);">'+item.DATA_Inicio+'</a></td></tr>')
          };         
        }
       })
  }

  function setaNome(nome,id){    
      $('#nome_pessoa').val(nome);
      $('#sivic_turmaaluno_sivic_pessoa_id').val(id);

      $('#myModal1').modal('hide');  
    }

  function setaTurma(nome,id){    
      $('#sivic_turma').val(nome);
      $('#sivic_turmaaluno_sivic_turma_id').val(id);

      $('#myModal2').modal('hide');  
    }


    buscaTurma()

</script>