<% content_for :titlePage do %>
  Matriculas
<% end %>

<%=render '/layouts/panel' %>
<div class="containermininmo">
<table class="table table-hover">
  <thead>
    <tr>  
      <th>Aluno</th>
      <th>Curso</th>
      <th>Turma</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_turmaalunos.each do |sivic_turmaaluno| %>
      <tr>
        <td><%= sivic_turmaaluno.sivic_pessoa.nome_pessoa %></td>
        <td><%= sivic_turmaaluno.sivic_turma.sivic_curso.nome_curso %></td>
        <td><%= sivic_turmaaluno.sivic_turma.DESC_turma %></td> 
        <td align='right'>
          <%= link_to sivic_turmaaluno, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>             
          <%= link_to edit_sivic_turmaaluno_path(sivic_turmaaluno), :class => "btn btn-default btn-sm", :class => "btn btn-default btn-sm" , :rel=>"tooltip", :title=>"Editar" do %>
            <span class="glyphicon glyphicon-pencil"></span> 
          <% end %> 
           <%if sivic_turmaaluno.user_bloqueio%>               
            <%= link_to desbloqueaTurmaaluno_path(sivic_turmaaluno), :confirm => 'Deseja desbloquear a matricula?', :class => "btn btn-default btn-sm" , :rel=>"tooltip", :title=>"Desbloquear" do %>
                 <span class="glyphicon glyphicon-ok-circle"></span> 
               <% end %> 
            <% else %>
              <%= link_to bloqueaTurmaaluno_path(sivic_turmaaluno), :confirm => 'Deseja bloquear a matricula?', :class => "btn btn-default btn-sm" , :rel=>"tooltip", :title=>"Bloquear" do %>
                <span class="glyphicon glyphicon-ban-circle"></span> 
              <% end %>                           
          <% end %> 
            <!--<%= link_to sivic_turmaaluno, :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" , :rel=>"tooltip", :title=>"Excluir" do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>-->  
        </td>             
      </tr>
    <% end %>
  </tbody>
</table>

</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_turmaaluno_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Nova Matrícula
  <% end %>
</div>


<script>

$(function(){
  $("a[rel='tooltip']").tooltip();
})

</script>