<p id="notice"><%= notice %></p>


<% content_for :titlePage do %>
  Exibir Matricula
<% end %>

<%= render 'layouts/panel' %>


<p>
  <strong>Aluno:</strong>
  <%= @sivic_turmaaluno.sivic_pessoa.nome_pessoa %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @sivic_turmaaluno.sivic_turma.sivic_curso.nome_curso %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @sivic_turmaaluno.sivic_turma.DESC_turma %>
</p>


</div></div>
<div class="btn-group">

  <%= link_to edit_sivic_turmaaluno_path(@sivic_turmaaluno), :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>


  <%= link_to sivic_turmaalunos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>
