<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic turma:</strong>
  <%= @sivic_turmaaluno.sivic_turma %>
</p>

<p>
  <strong>Sivic pessoa:</strong>
  <%= @sivic_turmaaluno.sivic_pessoa %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_turmaaluno.user %>
</p>

<p>
  <strong>Data bloqueio:</strong>
  <%= @sivic_turmaaluno.data_bloqueio %>
</p>

<%= link_to 'Edit', edit_sivic_turmaaluno_path(@sivic_turmaaluno) %> |
<%= link_to 'Back', sivic_turmaalunos_path %>
