<% content_for :titlePage do %>
  Lista de centro de Custo
<% end %>

<%=render '/layouts/panel' %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>    
    </tr>
  </thead>

  <tbody>
    <% @sivic_centrocustos.each do |sivic_centrocusto| %>
      <tr>
        <td><%= sivic_centrocusto.nome_centrocusto %></td>
         <td align='right'>   
          <%= link_to sivic_centrocusto, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>             
          <%= link_to edit_sivic_centrocusto_path(sivic_centrocusto), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar" do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>

           <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_centrocustos/<%=sivic_centrocusto.id%>"  data-method="delete" data-confirm="Deseja   excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
            </a>       
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_centrocusto_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>




<script>


$(function(){
  $("a[rel='tooltip']").tooltip();
})

</script>
