<p id="notice"><%= notice %></p>

<p>
  <strong>Nome centrocusto:</strong>
  <%= @sivic_centrocusto.nome_centrocusto %>
</p>

<p>
  <strong>Desc centrocusto:</strong>
  <%= @sivic_centrocusto.desc_centrocusto %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_centrocusto.user %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_centrocusto.sivic_igreja %>
</p>

<%= link_to 'Edit', edit_sivic_centrocusto_path(@sivic_centrocusto) %> |
<%= link_to 'Back', sivic_centrocustos_path %>
