<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= 'Cadastro de Células'%></h3>
  </div>
  <div class="panel-footer">

  <%= form_for(@sivic_celula) do |f| %>
    <% if @sivic_celula.errors.any? %>
    
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <% if @sivic_celula.errors.any? %>
  
            <% @sivic_celula.errors.full_messages.each do |msg| %>

          <%= msg %></br>
        <% end %>
      <% end %>
      </div>
    <% end %>

  <div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab1" data-toggle="tab">Dados Evento</a>
        </li>
        <li>
          <a href="#tab2" data-toggle="tab">Endereço</a>
        </li>        
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="row">

          <div class="col-xs-4">
            <%= f.label :Lider %>
            <%= f.hidden_field :sivic_pessoa_id%>         

            <div class="row">
              <div class="col-lg-12">
                <div class="input-group">
                  <input id="nome_lider" name="nome_lider" value="<%=@sivic_celula.sivic_pessoa.nome_pessoa rescue nil%>" onkeypress="" type="text" class="form-control" placeholder="Nome">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onclick="$('#myModal').modal('show');">Buscar</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div>      

          <div class="col-xs-4">
            <%= f.label :Nome_da_Celula %>
            <%= f.text_field :NOME_Celula, :class =>  'form-control' %>
          </div>

          <div class="col-xs-2">
          <%= f.label :Sexo %>
          <%= f.collection_select :DESC_sexo, SivicCelula::SEXO, :to_s, :humanize, {}, {:class => "form-control"}%>
          </div>
    

          <div class="col-xs-1">
            <%= f.label :Gerar_relatorio?%>
            <%= f.check_box :flag_gerarelatorio %>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-xs-2">
            <%= f.label :Dia_da_Semana %>
            <%= f.collection_select :NUMR_Dia, SivicCelula::DIAS, :to_s, :humanize, {}, {:class => "form-control"}%>
          </div>


          <div class="col-xs-2" style='margin-top:18px;'>
            <div class="checkbox">
              <%= f.check_box :FLAG_crianca %>
              <%= f.label :Criança %>
            </div>
          </div>
          <div class="col-xs-2" style='margin-top:18px;'>
            <div class="checkbox">
              <%= f.check_box :FLAG_jovem %>
              <%= f.label :Juvenil %>
            </div>
          </div>
          <div class="col-xs-2" style='margin-top:18px;'>
            <div class="checkbox">
              <%= f.check_box :FLAG_adulto %>
              <%= f.label :Adulto %>
            </div>
          </div>

        </div>

      </div>

  <div class="tab-pane" id="tab2">

    <%=  f.fields_for :sivic_endereco do |endereco| %>

    <div class="row">
      <div class="col-xs-4">
        <%= endereco.label :Bairro %>
        <%= endereco.text_field :DESC_Bairro, :class =>  'form-control' %>
      </div>
      <div class="col-xs-4">
        <%= endereco.label :Rua %>
        <%= endereco.text_field :DESC_Rua, :class =>  'form-control' %>
      </div>
      <div class="col-xs-4">
        <%= endereco.label :Complemento %>
        <%= endereco.text_field :DESC_Complemento, :class =>  'form-control' %>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-4">
        <%= endereco.label :Ponto_referência %>
        <%= endereco.text_field :DESC_Pontoreferencia, :class =>  'form-control' %>
      </div>
      <div class="col-xs-2">
        <%= endereco.label :CEP.capitalize %>
        <%= endereco.text_field :NUMR_Cep, :class =>  'form-control' %>
      </div>

      <%=  f.fields_for :sivic_estado do |estado| %>
      <div class="col-xs-3">
        <%= estado.label :Estado %>
        <%= estado.select :sivic_estado_id, options_from_collection_for_select(SivicEstado.all, 'id', 'nome_estado',@sivic_estado), {:include_blank => true}, {:onchange => 'changeState(this)', :class => "form-control"}%>
      </div>
      <%end%>

      <%if @sivic_cidade %>

        <div class="col-xs-3">
          <%= endereco.label :Cidade %>
          <%= endereco.select :sivic_cidade_id, options_from_collection_for_select(@sivic_cidade, 'id', 'nome_cidade',@sivic_cidade_setada),{},{ :class =>  'form-control'}%>
        </div>

      <%else%>

        <div class="col-xs-3">
          <%= endereco.label :Cidade   %>
          <%= endereco.select :sivic_cidade_id, [], {}, :class =>  'form-control' %>
        </div> 

      <%end%>

      <%= f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id %>
      <!--Capturando usuario logado-->
      <%=f.hidden_field :user_inclusao, :value => current_user.id%>   

      <% end %>
      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-group">

  <button type="submit" class="btn btn-default btn">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>

  <%= yield(:iconexibir) %>

  <%= link_to sivic_celulas_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>
<% end %>
    <!--
    Data Bloqueio
    =============
    <div class="field">
      <%#= f.label :DATA_Bloqueio %><br>
      <%#= f.datetime_select :DATA_Bloqueio %>
    </div>
  -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Buscar Líder</h4>
      </div>
      <div class="modal-body">

        <label >Nome</label><br>
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input id="NOME_lider_buscar" name="NOME_lider_buscar" onkeypress="buscaPessoa()" type="text" class="form-control" placeholder="Nome">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" onclick="buscaPessoa();">Buscar</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <br />

        <table id="table_lider" name="table_lider" class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="tbodyid2">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>



  <script>

$('#myModal').on('shown.bs.modal', function () {
    $('#NOME_lider_buscar').val($("#nome_lider").val());
    $("#nome_lider" ).val("");  
    $('#NOME_lider_buscar').focus();
})



jQuery(function($){
   $("#sivic_celula_sivic_endereco_attributes_NUMR_Cep").mask("99.999-999");
});



    function buscaPessoa(){

        var pesquisa;

          pesquisa = $('#NOME_lider_buscar').val();

        $.ajax({
          url: '<%= listarDiscipulos_path %>',
          data : 
          {
              nome_pessoa : pesquisa
          },
          success: function(data){
            $("#tbodyid").empty();
            $("#tbodyid2").empty();
            for (var i in data) {
              var item = data[i];

                $('#table_lider').append('<tr><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.nome_pessoa+'</a></td><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.DESC_email+'</a></td></tr>');

            };
   
          }
        })
      }

    function setaLider(nome,id){

        $('#nome_lider').val(nome);
        $('#sivic_celula_sivic_pessoa_id').val(id);
        $('#myModal').modal('hide');
    }  

    function changeState(state){
        $.ajax({
          url: '<%= listarCidade_path %>',
          data : {id : state.value},
          success: function(data){
            $('#sivic_celula_sivic_endereco_attributes_sivic_cidade_id').empty();
            $('#sivic_celula_sivic_endereco_attributes_sivic_cidade_id').html('<option>Carregando...</option>');
            $('#sivic_celula_sivic_endereco_attributes_sivic_cidade_id').attr('disabled', 'disabled');
            var options = "";
            for (var i in data) {
              var item = data[i];
              options += "<option value='"+item.id+"'>"+item.name+"</option>"
            };
   
            $('#sivic_celula_sivic_endereco_attributes_sivic_cidade_id').html(options);
            $('#sivic_celula_sivic_endereco_attributes_sivic_cidade_id').removeAttr('disabled');          
          }
        })
      }
  </script>