<h1>Lista de Células</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Líder</th>
      <th>Dia</th>
      <th>Data Bloqueio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_celulas.each do |sivic_celula| %>
      <tr>
        <td><%= sivic_celula.sivic_pessoa.NOME_pessoa %></td>
        <td><%= sivic_celula.NUMR_Dia %></td>
        <td><%= sivic_celula.DATA_Bloqueio %></td>
        <td><%= link_to 'Exibir', sivic_celula %></td>
        <td><%= link_to 'Editar', edit_sivic_celula_path(sivic_celula) %></td>
        <td><%= link_to 'Excluir', sivic_celula, method: :delete, data: { confirm: 'Deseja excluir o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Célula', new_sivic_celula_path %>
