<% content_for :titlePage do %>
  Lista Células
<% end %>

<%=render '/layouts/panel' %>

<table style="width:50%;">
  <tr>
    <td>
      <label >Pesquisa</label>
      <select id='sivic_estado_sivic_situacoesrelatorio_id'>
        <option value='0'></option>
        <option value='1'>TODOS</option>
        <option value='2'>ATIVAS</option>
        <option value='3'>BLOQUEADAS</option>
    </td>
    <td>
          <label >Líder</label>
          <input id="NOME_pessoa_buscar" name="NOME_pessoa_buscar" type="text" placeholder="Nome do Líder" style="width: 90%;">
    </td>
    <td>
      <div style='margin-top:15px;'>
        <a data-toggle="modal" href="javascript:chamaPesquisa();" class="btn btn-info" style="">Buscar</a><br/>
      </div>
    </td>
  </tr>
</table>


<div class="containermininmo">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Líder</th>
      <th>Dia</th>
      <th>Data Bloqueio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_celulas.each do |sivic_celula| %>
      <tr>
        <td><%= sivic_celula.sivic_pessoa.NOME_pessoa %></td>
        <td><%= sivic_celula.NUMR_Dia %></td>
        <td><%= sivic_celula.DATA_Bloqueio %></td>
        <td><%= link_to image_tag('show.png', :title => 'Exibir', class: 'exibirico') , sivic_celula %></td>
        <td><%= link_to image_tag('edit.png', :title => 'Editar',  class: 'exibirico') , edit_sivic_celula_path(sivic_celula) %></td>
        <td><%= link_to image_tag('trash.png', :title => 'Excluir',  class: 'exibirico'), sivic_celula , :method => :delete,  :confirm => 'Deseja excluir o registro?'%></td>
        <td><%= link_to_function  image_tag('block.png', :title => 'Bloquear', class: 'exibirico'), "chamaModal('#{sivic_celula.id}') "%></td>                 
      </tr> 
    <% end %>
  </tbody>
</table>
<br>

</div>
<div class="apple_pagination">
<%= will_paginate @sivic_celulas %>
</div>

</div>
</div>

<fieldset>
  <div id="myModal1" class="modal fade" style="display: none;">  
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>  
        <h4>Bloquear Celula</h4>
      </div>
      <div class="modal-footer">
        <div slyle='width:100%; height:100%'>
          <textarea style='width:98%; float:left;' placeholder="Motivo do Bloqueio" name='txtareachat' id='txtareachat'></textarea>          
        </div>
  
      </div>
      <div class="modal-footer">
        <table align='center'>
          <tr>
            <td>
              <a data-toggle="modal" class="btn btn-danger" href="javascript:bloquear();" >Bloquear</a>
            </td>
          </tr>
        </table>
      </div>
  </div>  
</fieldset>

<table style="margin-top:10px;">
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('new.png', :title => 'Novo', class: 'exibirico') , new_sivic_celula_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Novo</label>
    </td>
  </tr> 
</table>

<script>

var idCelula;

function bloquear(){

     $.ajax({
        url : '<%= bloqueaCelula_path %>',
        data :
        {
           id : idCelula
          ,DESC_Bloqueio : $('#txtareachat').val()
          ,user_bloqueio : '<%= current_user.id %>'
        },
        success: function(data){
        $('#txtareachat').val("");
        $('#myModal1').modal('hide');
        document.location.reload();

          }
      })  
        
   }

function chamaModal(id){  
   idCelula = id;
   
   $("#myModal1").modal("show").click();  
  }

</script>
