<% content_for :titlePage do %>
  Lista Células
<% end %>

<%=render '/layouts/panel' %>

<div class="containermininmo">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Líder</th>
      <th>Dia</th>
      <th>Data Bloqueio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_celulas.each do |sivic_celula| %>
      <tr>
        <td><%= sivic_celula.sivic_pessoa.NOME_pessoa %></td>
        <td><%= sivic_celula.NUMR_Dia %></td>
        <td><%= sivic_celula.DATA_Bloqueio %></td>
        <td><%= link_to image_tag('show.png', :title => 'Exibir', class: 'exibirico') , sivic_celula %></td>
        <td><%= link_to image_tag('edit.png', :title => 'Editar',  class: 'exibirico') , edit_sivic_celula_path(sivic_celula) %></td>
        <td><%= link_to image_tag('trash.png', :title => 'Excluir',  class: 'exibirico'), sivic_celula , :method => :delete,  :confirm => 'Deseja excluir o registro?'%></td>          
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

 <div class="modal-footer">
        <div slyle='width:100%; height:100%; align:left'>
          <textarea class='txtareachat' name='txtareachat' id='txtareachat'></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <table align='center'>
          <tr>
            <td>
              <a data-toggle="modal" class="btn btn-danger" href="javascript:alteraSituacao(2);" >Bloquear</a>
            </td>
          </tr>
        </table>
      </div>
</div>  



<div class="apple_pagination">
<%= will_paginate @sivic_celulas %>
</div>

</div></div>

<table style="margin-top:10px;">
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('new.png', :title => 'Novo', class: 'exibirico') , new_sivic_celula_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Novo</label>
    </td>
  </tr> 
</table>