<% content_for :titlePage do %>
  Lista Células
<% end %>

<input type="hidden" id="id_celula" name="id_celula">

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Líder</th>
      <th>Dia</th>
      <th>Data Bloqueio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_celulas.each do |sivic_celula| %>
      <tr>
        <td><%= sivic_celula.NUMR_Codigo %></td>
        <td><%= sivic_celula.sivic_pessoa.nome_pessoa %></td>
        <td><%= sivic_celula.NUMR_Dia %></td>
        <td><%= sivic_celula.DATA_Bloqueio.blank? ? '' : sivic_celula.DATA_Bloqueio.strftime("%d/%m/%Y") %></td>

        <td align='right'>
          <div class="btn-group">
            <%= link_to sivic_celula, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Exibir
            <% end %>             
            <%= link_to edit_sivic_celula_path(sivic_celula), :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span> Editar
            <% end %>             
            <%= link_to sivic_celula , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>
            <%if not sivic_celula.DATA_Bloqueio %>
            <a class="btn btn-default btn-sm" onclick="chamaModal('<%=sivic_celula.id%>')">
              <span class="glyphicon glyphicon-ban-circle"></span> Bloquear
            </a>            
            <%else%>
            <a class="btn btn-default btn-sm" onclick="chamaModal2('<%=sivic_celula.id%>')">
              <span class="glyphicon glyphicon-ok-circle"></span> Desbloquear
            </a>
            <%end%>
          </div>
        </td>  

      </tr> 
    <% end %>
  </tbody>
</table>
<br>

</div></div>

<div class="btn-group">
  <%= link_to new_sivic_celula_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>


  <%= link_to sivic_celulas_path(format: 'pdf'), {:class => "btn btn-default", :target => '_blank'} do %>
    <span class="glyphicon glyphicon-print  "></span> PDF
  <% end %>

</div>

 <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bloquear Célula</h4>
      </div>
      <div class="modal-body">

        <label >Motivo</label><br>
        <div class="row">
          <div class="col-xs-12">
            <textarea class="form-control" placeholder="Motivo do Bloqueio" name='txtareachat' id='txtareachat'></textarea>          
          </div>
        </div><!-- /.row -->
        <br />

      </div>
      <div class="modal-footer">
        <table align='center'>
          <tr>
            <td>
              <a data-toggle="modal" class="btn btn-danger" href="javascript:bloquear();" >Bloquear</a>
            </td>
          </tr>
        </table>        
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Desbloquear Célula</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <table align='center'>
          <tr>
            <td>
              <a data-toggle="modal" class="btn btn-success" href="javascript:desbloquear();" >Desbloquear</a>
            </td>
          </tr>
        </table>        
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script>

function bloquear(){

     $.ajax({
        url : '<%= bloqueaCelula_path %>',
        data :
        {
           id : $('#id_celula').val()
          ,DESC_Bloqueio : $('#txtareachat').val()
          ,user_bloqueio : '<%= current_user.id %>'
        },
        success: function(data){
        $('#txtareachat').val("");
        $('#myModal1').modal('hide');
        document.location.reload();

          }
      })  
        
   }

function desbloquear(){

     $.ajax({
        url : '<%= desbloqueaCelula_path %>',
        data :
        {
           id : $('#id_celula').val()
        },
        success: function(data){
        $('#txtareachat').val("");
        $('#myModal1').modal('hide');
        document.location.reload();

          }
      })  
        
   }


function chamaModal(id){  
   
   $('#myModal1').modal('show');
   $('#id_celula').val(id);

  }
  function chamaModal2(id){  
   
   $('#myModal2').modal('show');
   $('#id_celula').val(id);

  }

</script>




