<% content_for :titlePage do %>
  Lista Células
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Líder</th>
      <th>Dia</th>
      <th>Data Bloqueio</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_celulas.each do |sivic_celula| %>
      <tr>
        <td><%= sivic_celula.sivic_pessoa.nome_pessoa %></td>
        <td><%= sivic_celula.NUMR_Dia %></td>
        <td><%= sivic_celula.DATA_Bloqueio.blank? ? '' : sivic_celula.DATA_Bloqueio.strftime("%d/%m/%Y") %></td>

        <td align='right'>
          <div class="btn-group">
            <%= link_to sivic_celula, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Exibir
            <% end %>             
            <%= link_to edit_sivic_celula_path(sivic_celula), :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span> Editar
            <% end %>             
            <%= link_to sivic_celula , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>

          </div>
        </td>  

        <td><%= link_to_function  image_tag('block.png', :title => 'Bloquear', class: 'exibirico'), "chamaModal('#{sivic_celula.id}') "%></td>                 
      </tr> 
    <% end %>
  </tbody>
</table>
<br>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_celula_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>


<fieldset>
  <div id="myModal1" class="modal fade" style="display: none;">  
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>  
        <h4>Bloquear Celula</h4>
      </div>
      <div class="modal-footer">
        <div slyle='width:100%; height:100%'>
          <textarea style='width:98%; float:left;' placeholder="Motivo do Bloqueio" name='txtareachat' id='txtareachat'></textarea>          
        </div>
  
      </div>
      <div class="modal-footer">
        <table align='center'>
          <tr>
            <td>
              <a data-toggle="modal" class="btn btn-danger" href="javascript:bloquear();" >Bloquear</a>
            </td>
          </tr>
        </table>
      </div>
  </div>  
</fieldset>


<script>

var idCelula;

function bloquear(){

     $.ajax({
        url : '<%= bloqueaCelula_path %>',
        data :
        {
           id : idCelula
          ,DESC_Bloqueio : $('#txtareachat').val()
          ,user_bloqueio : '<%= current_user.id %>'
        },
        success: function(data){
        $('#txtareachat').val("");
        $('#myModal1').modal('hide');
        document.location.reload();

          }
      })  
        
   }

function chamaModal(id){  
   idCelula = id;
   
   $("#myModal1").modal("show").click();  
  }

</script>




<%#= link_to 'Print Tasks', sivic_celulas_path(format: 'pdf'), :target => '_blank' %>