<p id="notice"><%= notice %></p>

<legend>Dados Principais</legend>

<p>
  <strong>Lider:</strong>
  <%= @sivic_celula.sivic_pessoa.NOME_pessoa %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @sivic_celula.NUMR_Dia %>
</p>

<p>
  <strong>Data bloqueio:</strong>
  <%= @sivic_celula.DATA_Bloqueio %>
</p>

<legend>Endereço</legend>

<p>
  <strong>Bairro:</strong>
  <%= @sivic_celula.sivic_endereco.DESC_Bairro %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @sivic_celula.sivic_endereco.DESC_Rua %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @sivic_celula.sivic_endereco.DESC_Complemento %>
</p>

<p>
  <strong>Ponto de Referência:</strong>
  <%= @sivic_celula.sivic_endereco.DESC_Pontoreferencia %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @sivic_celula.sivic_endereco.NUMR_Cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @sivic_celula.sivic_endereco.sivic_cidade.nome_cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @sivic_celula.sivic_endereco.sivic_cidade.sivic_estado.nome_estado %>
</p>


<%= link_to 'Editar', edit_sivic_celula_path(@sivic_celula) %> |
<%= link_to 'Voltar', sivic_celulas_path %>
