<% content_for :titlePage do %>
  Módulos
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Data Bloqueio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_modulos.each do |sivic_modulo| %>
      <tr>
        <td><%= sivic_modulo.nome_modulo %></td>
        <td><%= sivic_modulo.desc_modulo %></td>
        <td><%= sivic_modulo.data_bloqueio %></td>

        <td align='right'>

            <%= link_to sivic_modulo, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
            <% end %>             
            <%= link_to edit_sivic_modulo_path(sivic_modulo), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar"  do %>
              <span class="glyphicon glyphicon-pencil"></span> 
            <% end %>
             <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_modulos/<%=sivic_modulo.id%>" data-method="delete" data-confirm="Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
            </a>  

        </td> 

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div></div>

<div class="btn-group">
  <%= link_to new_sivic_modulo_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>

<script>
$(function(){
  $("a[rel='tooltip']").tooltip();
})
</script>