<%if notice %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
     <%= notice %>
</div>
<%end%>

<% content_for :titlePage do %>
  Exibir Módulo
<% end %>

<%= render 'layouts/panel' %>

<p>
  <strong>Nome modulo:</strong>
  <%= @sivic_modulo.nome_modulo %>
</p>

<p>
  <strong>Desc modulo:</strong>
  <%= @sivic_modulo.desc_modulo %>
</p>

<p>
  <strong>Data bloqueio:</strong>
  <%= @sivic_modulo.data_bloqueio %>
</p>

</div></div>

<div class="btn-group">

  <%= link_to edit_sivic_modulo_path(@sivic_modulo), :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>

  <%= link_to sivic_modulos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>
