<%= form_for(@sivic_turma) do |f| %>
  <% if @sivic_turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_turma.errors.count, "error") %> prohibited this sivic_turma from being saved:</h2>

      <ul>
      <% @sivic_turma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="containermininmo">

  <div  class="field">
    <%= f.label :Descrição_Turma %>
    <%= f.text_field :DESC_turma %>
  </div>
  <div  class="field">
    <%= f.label :DATA_Inicio %>
    <%= f.text_field :DATA_Inicio, :value => (@sivic_turma.DATA_Inicio.blank? ? '' : @sivic_turma.DATA_Inicio.strftime("%d/%m/%Y")), :class => 'form-control-1' %>
  </div>
  <div  class="field">
    <%= f.label :DATA_Fim %>
    <%= f.text_field :DATA_Fim, :value => (@sivic_turma.DATA_Inicio.blank? ? '' : @sivic_turma.DATA_Inicio.strftime("%d/%m/%Y")), :class => 'form-control-1' %>
  </div>
  <div class="field">
    <%= f.label :Número_de_Vagas %> 
    <%= f.number_field :NUMR_QdtVagas %>
  </div>

    <!--Capturando dados automaticos-->
   <%=f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id%>  
   <%=f.hidden_field :user_inclusao, :value => current_user.id%>
   
 <%=render '/layouts/iconsalvar' %>

<% end %>


<script>

jQuery(function($){
   $("#sivic_turma_DATA_Inicio").mask("99/99/9999");
   $("#sivic_turma_DATA_Fim").mask("99/99/9999");
   $("#sivic_turma_DATA_bloqueio").mask("99/99/9999");
});

</script>