<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= 'Cadastro de Turmas'%></h3>
  </div>
  <div class="panel-footer">

    <%= form_for(@sivic_turma) do |f| %>
    <% if @sivic_turma.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <% if @sivic_turma.errors.any? %>
  
            <% @sivic_turma.errors.full_messages.each do |msg| %>

          <%= msg %></br>
        <% end %>
      <% end %>
      </div>
    <% end %>


  <div class="row">
      <div class="col-xs-6">
        <%= f.label :Curso %>
        <%= f.select :sivic_curso_id, options_from_collection_for_select(SivicCurso.all, 'id', 'nome_curso',@sivic_turma.sivic_curso_id),{:include_blank => true},{:class =>  'form-control'}%>
      </div>
      <div class="col-xs-6">
        <%= f.label :Descrição_Turma %>
        <%= f.text_field :DESC_turma, :class =>  'form-control'%>
    </div>
   </div>
  <br>
  <div class="row" >

     <div  class="col-xs-2">
      <%= f.label :DATA_Inicio %>
      <%= f.text_field :DATA_Inicio, :value => (@sivic_turma.DATA_Inicio.blank? ? '' : @sivic_turma.DATA_Inicio.strftime("%d/%m/%Y")), :class => 'form-control' %>
    </div>
    <div  class="col-xs-2">
      <%= f.label :DATA_Fim %>
      <%= f.text_field :DATA_Fim, :value => (@sivic_turma.DATA_Inicio.blank? ? '' : @sivic_turma.DATA_Inicio.strftime("%d/%m/%Y")), :class => 'form-control' %>
    </div>
     <div class="col-xs-2">
      <%= f.label :Número_de_Vagas %> 
      <%= f.number_field :NUMR_QdtVagas, :class =>  'form-control' %>
    </div>
  </div>

  <div class="row" >
      
  </div>

    <!--Capturando dados automaticos-->
   <%=f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id%>  
   <%=f.hidden_field :user_inclusao, :value => current_user.id%>

<br>

  </div>
</div>

<div class="btn-group">
  <button type="submit" class="btn btn-default btn">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>

  <%= yield(:iconexibir) %>

  <%= link_to sivic_turmas_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
</div>

<script>

jQuery(function($){
   $("#sivic_turma_DATA_Inicio").mask("99/99/9999");
   $("#sivic_turma_DATA_Fim").mask("99/99/9999");
   $("#sivic_turma_DATA_bloqueio").mask("99/99/9999");
});

</script>

<% end %>