<% content_for :titlePage do %>
  Turmas
<% end %>

<%=render '/layouts/panel' %>

<!--<table style="width:26%;">
  <tr>
    <td>
      <label >Situação</label>
      <select id='sivic_turma_situacao_id'>
        <option value='0'></option>
        <option value='0'>ATIVOS</option>
        <option value='1'>BLOQUEADOS</option>
        <option value='2'>TODOS</option>        
    </td>
    <td>
      <div style='margin-top:15px;'>
        <a data-toggle="modal" href="javascript:chamaPesquisa();" class="btn btn-info" style="">Buscar</a><br/>
      </div>
    </td>
  </tr>
</table>-->

<div class="containermininmo">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Turma</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
      <th>Vagas</th>
      <th>Data Bloqueio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_turmas.each do |sivic_turma| %>
      <tr>
        <td><%= sivic_turma.DESC_turma %></td>
        <td><%= sivic_turma.DATA_Inicio %></td>
        <td><%= sivic_turma.DATA_Fim %></td>
        <td><%= sivic_turma.NUMR_QdtVagas %></td>
        <td><%= sivic_turma.DATA_bloqueio %></td>
        <td align='right'>
        <div class="btn-group">
          <%= link_to sivic_turma, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-list-alt"></span> Exibir
          <% end %>             
          <%= link_to edit_sivic_turma_path(sivic_turma), :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-pencil"></span> Editar
          <% end %> 
           <%= link_to bloqueaTurma_path(sivic_turma), :confirm => 'Deseja bloquear a turma?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-ban-circle"></span> Bloquear
            <% end %>             
            <%= link_to sivic_turma , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>           
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_turma_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>


<script>

function chamaPesquisa(){

    nome = $('#NOME_pessoa_buscar').val()
    situacao = $('#sivic_turma_situacao_id').val().trim();

    if (situacao == "0" && situacao == ""){
      window.location = '/sivic_turmas/';
      return false;
    }

    if (situacao == ""){
        situacao = 0;
    }

    if (nome == ""){
      nome = 0;
    }    

    window.location = '/filtraturma/' + situacao;

  }


  </script>