<h1>Listing sivic_turmas</h1>

<table>
  <thead>
    <tr>
      <th>Sivic igreja</th>
      <th>User</th>
      <th>User</th>
      <th>Desc turma</th>
      <th>Data inicio</th>
      <th>Data fim</th>
      <th>Numr qdtvagas</th>
      <th>Data bloqueio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_turmas.each do |sivic_turma| %>
      <tr>
        <td><%= sivic_turma.sivic_igreja %></td>
        <td><%= sivic_turma.user %></td>
        <td><%= sivic_turma.user %></td>
        <td><%= sivic_turma.DESC_turma %></td>
        <td><%= sivic_turma.DATA_Inicio %></td>
        <td><%= sivic_turma.DATA_Fim %></td>
        <td><%= sivic_turma.NUMR_QdtVagas %></td>
        <td><%= sivic_turma.DATA_bloqueio %></td>
        <td><%= link_to 'Show', sivic_turma %></td>
        <td><%= link_to 'Edit', edit_sivic_turma_path(sivic_turma) %></td>
        <td><%= link_to 'Destroy', sivic_turma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sivic turma', new_sivic_turma_path %>
