<p id="notice"><%= notice %></p>
<% content_for :titlePage do %>
  Exibir Turma
<% end %>

<%= render 'layouts/panel' %>

<p>
  <strong>Descrição Turma:</strong>
  <%= @sivic_turma.DESC_turma %>
</p>

<p>
  <strong>Data Inicio:</strong>
  <%= @sivic_turma.DATA_Inicio %>
</p>

<p>
  <strong>Data Fim:</strong>
  <%= @sivic_turma.DATA_Fim %>
</p>

<p>
  <strong>Número de Vagas:</strong>
  <%= @sivic_turma.NUMR_QdtVagas %>
</p>

<hr>

  <div class="field">
    <a data-toggle="modal" href="#myModal" class="btn btn-success">Adicionar Disciplina</a>
  </div>

<hr>


<table class="table table-hover" id="tlbmoduloprofessor" name="tlbmoduloprofessor">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Professor</th>
      <th></th>     
    </tr>
  </thead>
  <tbody id ="idbodymodulo">
      <tr>
      </tr>
  </tbody>
</table>

<br/>

<%

  @sivic_moduloturma = SivicModuloturma.new
  @sivic_professor =  SivicProfessor.new

%>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Disciplina/Professor</h4>
      </div>
      <div class="modal-body">

        <table id="table_evento" name="table_evento" class="table table-hover" onload="buscaEvento()">
          
        <%= form_for(@sivic_moduloturma) do |moduloTurma| %>
          <div class="col-xs-12">
          <%= moduloTurma.label :Disciplina %>
          <%= moduloTurma.select :sivic_turma_id, options_from_collection_for_select(SivicModuloescola.all, 'id', 'nome_modulo',@sivic_moduloturma.sivic_turma_id),{:include_blank => true},{:class =>  'form-control'}%>
          </div>
       <% end %> 
        
       <%= form_for(@sivic_professor) do |professor| %>
          <div class="col-xs-12">
          <%= professor.label :Professor %>
          <%= professor.select :id, options_from_collection_for_select(SivicProfessor.all, 'id', 'nome_professor',@sivic_moduloturma.sivic_turma_id),{:include_blank => true},{:class =>  'form-control'}%>
          </div>
       <% end %> 
        

        </table>
      </div>

      <div class="modal-footer">
      <div class="row">
         
          <div class="col-xs-2">
              <a data-toggle="modal" href="javascript:createModuloProfessor(this.value);" class="btn btn-success">Cadastrar</a>
          </div>
          
          <div class="col-xs-8">
          </div>

           <div class="col-xs-2">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
          </div>
          </div>        
       </div> 

      </div>
    </div>
  </div>

</div></div>
<div class="btn-group">

  <%= link_to edit_sivic_turma_path(@sivic_turma), :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>


  <%= link_to sivic_turmas_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

  </div>


<script>

function createModuloProfessor(){
       $.ajax({
        url : '<%=criarTurmaModuloProfessor_path%>',
        data :
        {
           sivic_moduloescola_id : $('#sivic_moduloturma_sivic_turma_id').val()
          ,sivic_professor_id : $('#sivic_professor_id').val()
          ,sivic_turma_id :  '<%=@sivic_turma.id%>'
         },
        success: function(data){
            location.reload();
         }
       })     
   }


function buscaModuloProfessor(){
       $.ajax({
        url : '<%=buscaTurmaProfessor_path %>',
        data :
        {
          sivic_turmas_id : '<%=@sivic_turma.id%>'
         },
      success: function(data){         
        $('#idbodymodulo ').empty();
         for (var i in data){
              var item = data[i];

           $('#tlbmoduloprofessor').append('<tr><td>'+item.nome_modulo+'</td><td>'+item.nome_professor+'</td><td><a data-confirm="Deseja Excluir o registro?" data-method="delete" href="/sivic_turmamoduloprofessors/'+item.id+'" rel="nofollow" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Excluir</a></td></tr>')
           };   
         }
       })     
   }

   function deletaModuloProfessor(id){
       $.ajax({
        url : '<%= %>',
        data :
        {
          user_id : '<%=current_user.id%>'
         },
          success: function(data){
              buscaModuloProfessor();
          }
       })  
   }

    buscaModuloProfessor();

</script>
