<p id="notice"><%= notice %></p>
<% content_for :titlePage do %>
  Exibir Turma
<% end %>

<%= render 'layouts/panel' %>

<p>
  <strong>Descrição Turma:</strong>
  <%= @sivic_turma.DESC_turma %>
</p>

<p>
  <strong>Data Inicio:</strong>
  <%= @sivic_turma.DATA_Inicio %>
</p>

<p>
  <strong>Data Fim:</strong>
  <%= @sivic_turma.DATA_Fim %>
</p>

<p>
  <strong>Número de Vagas:</strong>
  <%= @sivic_turma.NUMR_QdtVagas %>
</p>

<p>
  <strong>Data bloqueio:</strong>
  <%= @sivic_turma.DATA_bloqueio %>
</p>

<hr>

  <div class="field">
    <a data-toggle="modal" href="#myModal" class="btn btn-success">Adicionar Modulos</a>
  </div>

<br/>

<%

  @sivic_moduloturma = SivicModuloturma.new
  @sivic_professor =  SivicProfessor.new

%>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eventos</h4>
      </div>
      <div class="modal-body">

        <table id="table_evento" name="table_evento" class="table table-hover" onload="buscaEvento()">
          
        <%= form_for(@sivic_moduloturma) do |moduloTurma| %>
          <div class="col-xs-12">
          <%= moduloTurma.label :Modulo %>
          <%= moduloTurma.select :sivic_turma_id, options_from_collection_for_select(SivicModuloescola.all, 'id', 'nome_modulo',@sivic_moduloturma.sivic_turma_id),{:include_blank => true},{:class =>  'form-control'}%>
          </div>
       <% end %> 
        
       <%= form_for(@sivic_professor) do |professor| %>
          <div class="col-xs-12">
          <%= professor.label :Professor %>
          <%= professor.select :id, options_from_collection_for_select(SivicProfessor.all, 'id', 'nome_professor',@sivic_moduloturma.sivic_turma_id),{:include_blank => true},{:class =>  'form-control'}%>
          </div>
       <% end %> 
        

        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

</div></div>
<table style="margin-top:10px;"> 
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('edit.png', title: 'Editar', class: 'exibirico') , edit_sivic_turma_path(@sivic_turma) %>
    </td>
    <td align="center" style="width:20px;">
      <%= link_to image_tag('back.png', title: 'Voltar',class: 'exibirico') , sivic_turmas_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Editar</label>
    </td>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Voltar</label>
    </td>
  </tr> 
</table>
