<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_turma.sivic_igreja %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_turma.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_turma.user %>
</p>

<p>
  <strong>Desc turma:</strong>
  <%= @sivic_turma.DESC_turma %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @sivic_turma.DATA_Inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @sivic_turma.DATA_Fim %>
</p>

<p>
  <strong>Numr qdtvagas:</strong>
  <%= @sivic_turma.NUMR_QdtVagas %>
</p>

<p>
  <strong>Data bloqueio:</strong>
  <%= @sivic_turma.DATA_bloqueio %>
</p>

<%= link_to 'Edit', edit_sivic_turma_path(@sivic_turma) %> |
<%= link_to 'Back', sivic_turmas_path %>
