<%= form_for(@sivic_notaaluno) do |f| %>
  <% if @sivic_notaaluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_notaaluno.errors.count, "error") %> prohibited this sivic_notaaluno from being saved:</h2>

      <ul>
      <% @sivic_notaaluno.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nota %><br>
    <%= f.text_field :nota %>
  </div>
  <div class="field">
    <%= f.label :sivic_licao_id %><br>
    <%= f.text_field :sivic_licao_id %>
  </div>
  <div class="field">
    <%= f.label :sivic_turmaaluno_id %><br>
    <%= f.text_field :sivic_turmaaluno_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
