<% content_for :titlePage do %>
  Notas Alunos 
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nota</th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag sivic_notaaluno_path, :method => :PUT do %>
        <% @sivic_notaaluno.each do |f| %>
      <tr>               
        <td>
            <%= label_tag "nome_pessoa[]", f.sivic_turmaaluno.sivic_pessoa.nome_pessoa%>
        </td>
        <td>
            <%= text_field_tag "nota[]", f.nota%>
        </td>
      </tr>
      <% end %>
   </tbody>

    <br>
      
  </table>

</div></div>


<div class="btn-group">
  <button type="submit" class="btn btn-default btn">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>

  <%= yield(:iconexibir) %>

  <%= link_to licaonota_sivic_notaaluno_path(@sivic_licao.sivic_turmamoduloprofessor_id), :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
</div>


<% end %>



<script>

</script>