<%= form_for(@sivic_pessoa) do |f| %>
  <% if @sivic_pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_pessoa.errors.count, "error") %> prohibited this sivic_pessoa from being saved:</h2>

      <ul>
      <% @sivic_pessoa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="containermininmo">
    <br />
    <table style="width:60%;" align="center">
      <tr>
        <td>
          <div class="field">
            <%= f.label :Nome, :class => 'lblForms'  %>
            <%= f.text_field :NOME_pessoa, :class => "form-control-4" %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label :Email, :class => 'lblForms'  %>
            <%= f.text_field :DESC_email %>
          </div>
        </td>
      </tr>
    </table>
    <table style="width:60%;" align="center">
      <tr>
        <td>
          <div class="field">
            <%= f.label :Lider, :class => 'lblForms'  %>
            <a data-toggle="modal" href="#myModal" class="btn btn-default" style='margin-bottom:10px;'><labeL class="lblForms">Buscar</label></a>
            <%= f.select :father_id, {},{},{ :class => 'form-control-4' } %>
          </div>
        </td>
        <td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= f.label :Observação, :class => 'lblForms'  %>
            <%= f.text_field :DESC_observacao, :class => 'form-control-100'  %>
          </div>
        </td>
      </tr>
    </table>

    <!--Campos ocultos -->
    <%= f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id%>
    <%=f.hidden_field :User_id, :value => current_user.id%>
    <!--Campos ocultos -->

    <%=render '/layouts/iconsalvar' %>

<% end %>

<fieldset>
  <div id="myModal" class="modal fade" style="display: none;">  
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Buscar Líder</h3>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-lg">
          <label >Nome</label><br>
          <input id="NOME_lider_buscar" name="NOME_lider_buscar" onkeypress="buscaPessoa();" type="text" class="form-control" placeholder="Nome" style="width: 85%;">
          <a data-toggle="modal" href="javascript:usaNome();" class="btn btn-success" style="margin-bottom: 10px;">Usar</a>
        </div>
        <table id="table_lider" name="table_lider" class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="tbodyid2">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
      </div>
  </div>  
</fieldset>



<script>
  function buscaPessoa(){

      var pesquisa;

        pesquisa = $('#NOME_lider_buscar').val();

      $.ajax({
        url: '<%= listarPessoa_path %>',
        data : 
        {
            NOME_pessoa : pesquisa
        },
        success: function(data){
          $("#tbodyid").empty();
          $("#tbodyid2").empty();
          for (var i in data) {
            var item = data[i];

              $('#table_lider').append('<tr><td><a href="javascript:setaLider(\'' + item.NOME_pessoa+'\','+item.id+');">'+item.NOME_pessoa+'</a></td><td><a href="javascript:setaLider(\'' + item.NOME_pessoa+'\','+item.id+');">'+item.DESC_email+'</a></td></tr>');

          };
 
        }
      })
    }

  function setaLider(nome,id){

      $('#sivic_pessoa_father_id').empty();
      $('#sivic_pessoa_father_id').html('<option>Carregando...</option>');

      var options = "<option value='"+id+"'>"+nome+"</option>";
      $('#sivic_pessoa_father_id').html(options);

      $('#myModal').modal('hide');
  }    

</script>