
<% content_for :titlePage do %>
  Lista de Pessoas
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr align="center">
      <th><strong class='titleTable'>Nome</strong></th>
      <th><strong class='titleTable'>Email</strong></th>
      <th><strong class='titleTable'>Observacao</strong></th>
      <th><strong class='titleTable'>Lider</strong></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_pessoas.each do |sivic_pessoa| %>
      <tr>
        <td><%= sivic_pessoa.nome_pessoa %></td>
        <td><%= sivic_pessoa.DESC_email %></td>
        <td><%= sivic_pessoa.DESC_observacao %></td>
          <% @lider = sivic_pessoa.father %>
          <% if @lider != nil %>
            <td><%= sivic_pessoa.father.nome_pessoa%></td>
          <%else%>
            <td><%= nil%></td>
          <%end%>

          <td align='right'>
            <div class="btn-group">
              <%= link_to sivic_pessoa, :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Exibir
              <% end %>             
              <%= link_to edit_sivic_pessoa_path(sivic_pessoa), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-pencil"></span> Editar
              <% end %>             
              <%= link_to sivic_pessoa , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir
              <% end %>            
            </div>
          </td>

      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
<%= will_paginate @sivic_pessoas %>
</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_pessoa_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>