<h1>Lista de Pessoas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Observacao</th>
      <th>Igreja</th>
      <th>Usuário de Sistema</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_pessoas.each do |sivic_pessoa| %>
      <tr>
        <td><%= sivic_pessoa.NOME_pessoa %></td>
        <td><%= sivic_pessoa.DESC_email %></td>
        <td><%= sivic_pessoa.DESC_observacao %></td>
        <td><%= sivic_pessoa.sivic_igreja.NOME_igreja %></td>
        <td><%= sivic_pessoa.User.email %></td>
        <td><%= link_to 'Exibir', sivic_pessoa %></td>
        <td><%= link_to 'Editar', edit_sivic_pessoa_path(sivic_pessoa) %></td>
        <td><%= link_to 'Excluir', sivic_pessoa, method: :delete, data: { confirm: 'Deseja excluir o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cadastro', new_sivic_pessoa_path %>
