<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_pessoa.NOME_pessoa %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sivic_pessoa.DESC_email %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @sivic_pessoa.DESC_observacao %>
</p>

<p>
  <strong>Lider:</strong>
  <% @lider = @sivic_pessoa.father %>
  <% if @lider != nil %>
    <%= @sivic_pessoa.father.NOME_pessoa%>
  <%else%>
      <%= nil%>
  <%end%>
</p>

<p>
  <strong>Operador de Inclusão:</strong>
  <%= User.find_by_id(@sivic_pessoa.User_id).email %>
</p>



<%= link_to 'Editar', edit_sivic_pessoa_path(@sivic_pessoa) %> |
<%= link_to 'Voltar', sivic_pessoas_path %>
