<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_pessoa.NOME_pessoa %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sivic_pessoa.DESC_email %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @sivic_pessoa.DESC_observacao %>
</p>

<p>
  <strong>Igreja:</strong>
  <%= @sivic_pessoa.sivic_igreja.NOME_igreja %>
</p>

<p>
  <strong>Usuário de sistema:</strong>
  <%= @sivic_pessoa.User.email %>
</p>

<%= link_to 'Editar', edit_sivic_pessoa_path(@sivic_pessoa) %> |
<%= link_to 'Voltar', sivic_pessoas_path %>
