<%= form_for(@sivic_endereco) do |f| %>
  <div class="field">
    <%= f.label :Bairro %><br>
    <%= f.text_field :DESC_Bairro %>
  </div>
  <div class="field">
    <%= f.label :Rua %><br>
    <%= f.text_field :DESC_Rua %>
  </div>
  <div class="field">
    <%= f.label :Complemento %><br>
    <%= f.text_field :DESC_Complemento %>
  </div>
  <div class="field">
    <%= f.label :Ponto_referência %><br>
    <%= f.text_field :DESC_Pontoreferencia %>
  </div>
  <div class="field">
    <%= f.label :Cep %><br>
    <%= f.number_field :NUMR_Cep %>
  </div>
  <div class="field">
    <%= f.label :sivic_cidade_id %><br>
    <%= f.text_field :sivic_cidade_id %>
  </div>
<% end %>