<% content_for :titlePage do %>
  Listar Bancos
<% end %>


<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Codigo Banco</th>
      <th>Nome Banco</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_bancos.each do |sivic_banco| %>
      <tr>
        <td><%= sivic_banco.numr_codigo %></td>
        <td><%= sivic_banco.nome_banco %></td>

        <td align='right'>
          <div class="btn-group">
            <%= link_to sivic_banco, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Exibir 
            <% end %>             
            <%= link_to edit_sivic_banco_path(sivic_banco), :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span> Editar 
            <% end %>              
              <%= link_to sivic_banco , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir 
              <% end %>           
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_banco_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>
