<p id="notice"><%= notice %></p>

<p>
  <strong>Numr contador:</strong>
  <%= @sivic_contcategory.numr_contador %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_contcategory.sivic_igreja %>
</p>

<%= link_to 'Edit', edit_sivic_contcategory_path(@sivic_contcategory) %> |
<%= link_to 'Back', sivic_contcategories_path %>
