<% content_for :titlePage do %>
  Lista de Tipos de Eventos
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tipo Evento</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_tipo_eventos.each do |sivic_tipo_evento| %>
      <tr>
        <td><%= sivic_tipo_evento.desc_tipoevento %></td>

        <td align='right'>
          <div class="btn-group">
            <%= link_to sivic_tipo_evento, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Exibir
            <% end %>             
            <%= link_to edit_sivic_tipo_evento_path(sivic_tipo_evento), :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span> Editar
            <% end %>             
            <%= link_to sivic_tipo_evento, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>
          </div>
        </td>    
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
<%= will_paginate @sivic_tipo_eventos %>
</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_tipo_evento_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>
