<% content_for :titlePage do %>
  Lista de Tipos de Eventos
<% end %>

<%=render '/layouts/panel' %>

<div class="containermininmo">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Tipo Evento</th>
      <th style='width:500px;'></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_tipo_eventos.each do |sivic_tipo_evento| %>
      <tr>
        <td><%= sivic_tipo_evento.desc_tipoevento %></td>
        <td></td>
        <td><%= link_to image_tag('show.png', :title => 'Exibir', class: 'exibirico') , sivic_tipo_evento %></td>
        <td><%= link_to image_tag('edit.png', :title => 'Editar',  class: 'exibirico') , edit_sivic_tipo_evento_path(sivic_tipo_evento) %></td>
        <td><%= link_to image_tag('trash.png', :title => 'Excluir',  class: 'exibirico'), sivic_tipo_evento , :method => :delete,  :confirm => 'Deseja excluir o registro?'%></td>        
      </tr>
    <% end %>
  </tbody>
</table>

</div>

</div></div>

<table style="margin-top:10px;">
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('new.png', :title => 'Novo', class: "exibirico") , new_sivic_tipo_evento_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Novo</label>
    </td>
  </tr> 
</table>