<h1>Listing sivic_tipo_eventos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Igreja</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_tipo_eventos.each do |sivic_tipo_evento| %>
      <tr>
        <td><%= sivic_tipo_evento.nome %></td>
        <td><%= sivic_tipo_evento.igreja_id %></td>
        <td><%= link_to 'Show', sivic_tipo_evento %></td>
        <td><%= link_to 'Edit', edit_sivic_tipo_evento_path(sivic_tipo_evento) %></td>
        <td><%= link_to 'Destroy', sivic_tipo_evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sivic tipo evento', new_sivic_tipo_evento_path %>
