<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_tipo_evento.nome %>
</p>

<p>
  <strong>Igreja:</strong>
  <%= @sivic_tipo_evento.igreja_id %>
</p>

<%= link_to 'Edit', edit_sivic_tipo_evento_path(@sivic_tipo_evento) %> |
<%= link_to 'Back', sivic_tipo_eventos_path %>
