<p id="notice"><%= notice %></p>

<% content_for :titlePage do %>
  Exibir Tipo de Evento
<% end %>

<%= render 'layouts/panel' %>

<p>
  <strong>Tipo Evento:</strong>
  <%= @sivic_tipo_evento.desc_tipoevento %>
</p>

</div></div>

<div class="btn-group">

  <%= link_to edit_sivic_tipo_evento_path(@sivic_tipo_evento), :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>


  <%= link_to sivic_tipo_eventos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>
