<p id="notice"><%= notice %></p>

<p>
  <strong>Nome cidade:</strong>
  <%= @sivic_cidade.nome_cidade %>
</p>

<p>
  <strong>Sivic estado:</strong>
  <%= @sivic_cidade.sivic_estado %>
</p>

<%= link_to 'Edit', edit_sivic_cidade_path(@sivic_cidade) %> |
<%= link_to 'Back', sivic_cidades_path %>
