<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_cidade.nome %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @sivic_cidade.estado_id %>
</p>

<%= link_to 'Edit', edit_sivic_cidade_path(@sivic_cidade) %> |
<%= link_to 'Back', sivic_cidades_path %>
