<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= 'Cadastro de Eventos'%></h3>
  </div>
  <div class="panel-footer">

    <%= form_for(@sivic_evento) do |f| %>
    <% if @sivic_evento.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <% if @sivic_evento.errors.any? %>
  
            <% @sivic_evento.errors.full_messages.each do |msg| %>

          <%= msg %></br>
        <% end %>
      <% end %>
      </div>
    <% end %>


<div class="tabbable">
      <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab1" data-toggle="tab">Dados Evento</a>
          </li>
          <li>
            <a href="#tab2" data-toggle="tab">Endereço</a>
          </li>        
      </ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab1">
    <br />
    <div class="row">
      <div class="col-xs-3">
        <%= f.label :Tipo_do_Evento %>
        <%= f.select :sivic_tipo_evento_id, options_from_collection_for_select(SivicTipoEvento.all, 'id', 'desc_tipoevento',@sivic_evento.sivic_tipo_evento_id),{:include_blank => true},{:class =>  'form-control'}%>
      </div>
      <div class="col-xs-5">
        <%= f.label :Nome_Evento %>
        <%= f.text_field :desc_evento, :class =>  'form-control'  %>
      </div>
       <div class="col-xs-4">
        <%= f.label :Resumo %>
        <%= f.text_area :DESC_resumo, :class =>  'form-control' %>
      </div>   
    </div>  
    <div class="row">  
     
      <div class="col-xs-2">
          <%= f.label :Valor_inscricao %>
          <%= f.text_field :VARL_inscricao, :class =>  'form-control'  %>
       </div>
        <div class="col-xs-2">
          <%= f.label :DATA_inicio %>
          <%= f.text_field :DATA_inicio, :value => (@sivic_evento.DATA_inicio.blank? ? '' : @sivic_evento.DATA_inicio.strftime("%d/%m/%Y")), :class =>  'form-control' %>
      </div>

      <div class="col-xs-2">
        <%= f.label :DATA_fim %>
        <%= f.text_field :DATA_fim, :value => (@sivic_evento.DATA_fim.blank? ? '' : @sivic_evento.DATA_fim.strftime("%d/%m/%Y")), :class =>  'form-control' %>
      </div>
      <div class="col-xs-3">
        <%= f.label :Qtd_Vagas %>
        <%= f.number_field :NUMR_qdtVagas, :class =>  'form-control'  %>
      </div> 
     

  </div>

</div>
  
  <div class="tab-pane" id="tab2">
    <%=  f.fields_for :sivic_endereco do |endereco| %>
        <br />
        <div class="row">
            <div class="col-xs-3">
              <%= endereco.label :Rua %>
              <%= endereco.text_field :DESC_Rua, :class =>  'form-control' %>
            </div>

            <div class="col-xs-3">
              <%= endereco.label :Complemento %>
              <%= endereco.text_field :DESC_Complemento, :class =>  'form-control' %>
            </div>

            <div class="col-xs-3">
              <%= endereco.label :Ponto_de_referência %>
              <%= endereco.text_field :DESC_Pontoreferencia, :class =>  'form-control' %>
            </div>

            <div class="col-xs-3">
              <%= endereco.label :Bairro %>
              <%= endereco.text_field :DESC_Bairro, :class =>  'form-control' %>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-3">
              <%= endereco.label :CEP.capitalize %>
              <%= endereco.number_field :NUMR_Cep, :class =>  'form-control' %>
            </div>
          

      
        <%=  f.fields_for :sivic_estado do |estado| %>
            <div class="col-xs-3">
              <%= estado.label :Estado %>
              <%= estado.select :sivic_estado_id, options_from_collection_for_select(SivicEstado.all, 'id', 'nome_estado',@sivic_estado), {:include_blank => true}, {:onchange => 'changeState(this)', :class =>  'form-control'}%>
            </div>
        <%end%>
        <%if @sivic_cidade %>
            <div class="col-xs-3">
              <%= endereco.label :Cidade %>
              <%= endereco.select :sivic_cidade_id, options_from_collection_for_select(@sivic_cidade, 'id', 'nome_cidade',@sivic_cidade_setada),{},{:class =>  'form-control'}%>
            </div>
        <%else%>
            <div class="col-xs-3">
              <%= endereco.label :Cidade   %>
              <%= endereco.select :sivic_cidade_id, [], {},{:class =>  'form-control'} %><br>
            </div> 

        <%end%>
        <% end %>

        </div>
  </fieldset>
    <!--Capturando igreja do usuaário logado -->
    <%= f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id %>
    <!--Capturando Usuário logado --> 
    <%= f.hidden_field :User_id, :value => current_user.id%> 


        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-group">
  <button type="submit" class="btn btn-default btn">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>

  <%= yield(:iconexibir) %>

  <%= link_to sivic_eventos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
</div>


<% end %>

<script>

jQuery(function($){
   $("#sivic_evento_DATA_inicio").mask("99/99/9999");
   $("#sivic_evento_DATA_fim").mask("99/99/9999");
   $("#sivic_evento_sivic_endereco_attributes_NUMR_Cep").mask("99.999-999");

});
  function changeState(state){
      $.ajax({
        url: '<%= listarCidade_path %>',
        data : {id : state.value},
        success: function(data){
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').empty();
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').html('<option>Carregando...</option>');
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').attr('disabled', 'disabled');
          var options = "";
          for (var i in data) {
            var item = data[i];
            options += "<option value='"+item.id+"'>"+item.name+"</option>"
          };
 
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').html(options);
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').removeAttr('disabled');          
        }
      })
    }


 $(function() {
     $("#sivic_evento_VARL_inscricao").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  })


</script>