<%= form_for(@sivic_evento) do |f| %>
  <% if @sivic_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_evento.errors.count, "error") %> prohibited this sivic_evento from being saved:</h2>

      <ul>
      <% @sivic_evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 

<div class="containermininmo">

<div class="tabbable">
      <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab1" data-toggle="tab">Dados Evento</a>
          </li>
          <li>
            <a href="#tab2" data-toggle="tab">Endereço</a>
          </li>        
      </ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab1">

    <table style="width:95%;">
      <tr>
        <td>
            <div class="field">
              <%= f.label :Tipo_do_Evento %>
              <%= f.select :sivic_tipo_evento_id, options_from_collection_for_select(SivicTipoEvento.all, 'id', 'desc_tipoevento',@sivic_evento.sivic_tipo_evento_id),:include_blank => true, :class =>  'form-control-2'%>
            </div>
        </td>
        <td>    
            <div class="field">
              <%= f.label :Evento %>
              <%= f.text_field :DESC_evento %>
            </div>
        </td>
        <td>
            <div class="field">
              <%= f.label :Valor_inscricao %>
              <%= f.text_field :VARL_inscricao %>
            </div>          
        </td>  
      </tr>
     </table>      
            <div class="field">
              <%= f.label :Resumo %>
              <%= f.text_area :DESC_resumo, :class =>  'form-control-100' %>
            </div>
    <table style="width:95%;">
      <tr>
        <td>
          <div class="field">
            <%= f.label :DATA_inicio %>
            <%= f.text_field :DATA_inicio, :class =>  'form-control-1' %>
          </div>  
        </td>
        <td>
          <div class="field">
            <%= f.label :DATA_fim %>
            <%= f.text_field :DATA_fim, :class =>  'form-control-1' %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label :Vagas_limitado %>
            <%= f.number_field :FLAG_ilimitado %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label :Qtd_Vagas %>
            <%= f.number_field :NUMR_qdtVagas %>
          </div>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="tab-pane" id="tab2">
    <%=  f.fields_for :sivic_endereco do |endereco| %>
      <table style="width:95%;" align='center'>
        <tr>
          <td>
            <div class="field">
              <%= endereco.label :Rua %>
              <%= endereco.text_field :DESC_Rua, :class =>  'form-control-3' %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= endereco.label :Complemento %>
              <%= endereco.text_field :DESC_Complemento, :class =>  'form-control-3' %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= endereco.label :Ponto_de_referência %>
              <%= endereco.text_field :DESC_Pontoreferencia, :class =>  'form-control-3' %>
            </div>
          </td>
        </tr>
      </table>
      <table style="width:95%;" align='center'>
        <tr>
          <td>
            <div class="field">
              <%= endereco.label :Bairro %>
              <%= endereco.text_field :DESC_Bairro %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= endereco.label :CEP.capitalize %>
              <%= endereco.number_field :NUMR_Cep, :class =>  'form-control-1' %>
            </div>
          </td>

      
        <%=  f.fields_for :sivic_estado do |estado| %>
          <td>
            <div class="field">
              <%= estado.label :Estado %>
              <%= estado.select :sivic_estado_id, options_from_collection_for_select(SivicEstado.all, 'id', 'nome_estado',@sivic_estado), {:include_blank => true}, {:onchange => 'changeState(this)'}%>
            </div>
          </td>
        <%end%>
        <%if @sivic_cidade %>
          <td>
            <div class="field">
              <%= endereco.label :Cidade %>
              <%= endereco.select :sivic_cidade_id, options_from_collection_for_select(@sivic_cidade, 'id', 'nome_cidade',@sivic_cidade_setada)%>
            </div>
          </td>
        <%else%>
          <td>
            <div class="field">
              <%= endereco.label :Cidade   %>
              <%= endereco.select :sivic_cidade_id, [] %><br>
            </div> 
          </td>

        <%end%>
        <% end %>
      </tr>
    </table>
  </fieldset>
    <!--Capturando igreja do usuaário logado -->
    <%= f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja.id %>
    <!--Capturando Usuário logado -->
    <%= f.hidden_field :User, :value => current_user.id%>  

</div>
</div>
</div>
<%=render '/layouts/iconsalvar' %>

<% end %>

<script>

jQuery(function($){
   $("#sivic_evento_DATA_inicio").mask("99/99/9999");
   $("#sivic_evento_DATA_fim").mask("99/99/9999");
   $("#sivic_evento_sivic_endereco_attributes_NUMR_Cep").mask("99.999-999");

});
  function changeState(state){
      $.ajax({
        url: '<%= listarCidade_path %>',
        data : {id : state.value},
        success: function(data){
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').empty();
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').html('<option>Carregando...</option>');
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').attr('disabled', 'disabled');
          var options = "";
          for (var i in data) {
            var item = data[i];
            options += "<option value='"+item.id+"'>"+item.name+"</option>"
          };
 
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').html(options);
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').removeAttr('disabled');          
        }
      })
    }

</script>