<%= form_for(@sivic_evento) do |f| %>
  <% if @sivic_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_evento.errors.count, "error") %> prohibited this sivic_evento from being saved:</h2>

      <ul>
      <% @sivic_evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :Tipo_do_Evento %><br>
    <%= f.select :sivic_tipo_evento_id, options_from_collection_for_select(SivicTipoEvento.all, 'id', 'desc_tipoevento',@sivic_evento.sivic_tipo_evento_id),:include_blank => true%>
  </div>
  
  <div class="field">
    <%= f.label :Evento %><br>
    <%= f.text_field :DESC_evento %>
  </div>
  <div class="field">
    <%= f.label :Resumo %><br>
    <%= f.text_area :DESC_resumo %>
  </div>
  <div class="field">
    <%= f.label :Valor_inscricao %><br>
    <%= f.text_field :VARL_inscricao %>
  </div>
  <div class="field">
    <%= f.label :DATA_inicio %><br>
    <%= f.text_field :DATA_inicio %>
  </div>  
  <div class="field">
    <%= f.label :DATA_fim %><br>
    <%= f.text_field :DATA_fim %>
  </div>
  <div class="field">
    <%= f.label :Vagas_limitado %><br>
    <%= f.number_field :FLAG_ilimitado %>
  </div>
  <div class="field">
    <%= f.label :Qtd_Vagas %><br>
    <%= f.number_field :NUMR_qdtVagas %>
  </div>
    
  <legend>Endereço</legend>


  <%=  f.fields_for :sivic_endereco do |endereco| %>
  <div class="field">
    <%= endereco.label :Bairro %><br>
    <%= endereco.text_field :DESC_Bairro %>
  </div>
  <div class="field">
    <%= endereco.label :Rua %><br>
    <%= endereco.text_field :DESC_Rua %>
  </div>
  <div class="field">
    <%= endereco.label :Complemento %><br>
    <%= endereco.text_field :DESC_Complemento %>
  </div>
  <div class="field">
    <%= endereco.label :Ponto_referência %><br>
    <%= endereco.text_field :DESC_Pontoreferencia %>
  </div>
  <div class="field">
    <%= endereco.label :CEP.capitalize %><br>
    <%= endereco.number_field :NUMR_Cep %>
  </div>

  <%=  f.fields_for :sivic_estado do |estado| %>
  <div class="field">
    <%= estado.label :Estado %><br>
    <%= estado.select :sivic_estado_id, options_from_collection_for_select(SivicEstado.all, 'id', 'nome_estado',@sivic_estado), {:include_blank => true}, {:onchange => 'changeState(this)',}%>
  </div>
  <%end%>

  <%if @sivic_cidade %>

    <div class="field">
      <%= endereco.label :Cidade %><br>
      <%= endereco.select :sivic_cidade_id, options_from_collection_for_select(@sivic_cidade, 'id', 'nome_cidade',@sivic_cidade_setada)%>
    </div>

  <%else%>

    <div class="field">
      <%= endereco.label :Cidade   %><br>
      <%= endereco.select :sivic_cidade_id, [] %><br>
    </div> 

  <%end%>

  <% end %>
</fieldset>
  <!--Capturando igreja do usuaário logado -->
  <%= f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja.id %>
  <!--Capturando Usuário logado -->
  <%= f.hidden_field :User_id, :value => current_user.id%>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


 <!-- Implementação do calendário -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">


<script>
  function changeState(state){
      $.ajax({
        url: '<%= listarCidade_path %>',
        data : {id : state.value},
        success: function(data){
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').empty();
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').html('<option>Carregando...</option>');
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').attr('disabled', 'disabled');
          var options = "";
          for (var i in data) {
            var item = data[i];
            options += "<option value='"+item.id+"'>"+item.name+"</option>"
          };
 
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').html(options);
          $('#sivic_evento_sivic_endereco_attributes_sivic_cidade_id').removeAttr('disabled');          
        }
      })
    }


  $(function() {
    //ID do campo a ser implementado
    $( "#sivic_evento_DATA_inicio" ).datepicker();
    $( "#sivic_evento_DATA_fim" ).datepicker();
  });

</script>