<h1>Lista de Eventos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tipo do Evento</th>
      <th>Evento</th>
      <th>Resumo</th>
      <th>Valor Inscricao</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
      <th>Qtd Vagas</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_eventos.each do |sivic_evento| %>
      <tr>
        <td><%= sivic_evento.sivic_tipoEvento%></td>
        <td><%= sivic_evento.DESC_evento %></td>
        <td><%= sivic_evento.DESC_resumo %></td>
        <td><%= sivic_evento.VARL_inscricao %></td>
        <td><%= sivic_evento.DATA_inicio %></td>
        <td><%= sivic_evento.DATA_fim %></td>
        <td><%= sivic_evento.NUMR_qdtVagas %></td>
        <td><%= link_to 'Exibir', sivic_evento %></td>
        <td><%= link_to 'Editar', edit_sivic_evento_path(sivic_evento) %></td>
        <td><%= link_to 'Excluir', sivic_evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Registro', new_sivic_evento_path %>
