<% content_for :titlePage do %>
  Lista de Eventos
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tipo do Evento</th>
      <th>Evento</th>
      <th>Resumo</th>
      <th>Valor Inscricao</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
      <th>Qtd Vagas</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_eventos.each do |sivic_evento| %>
      <tr>
        <td><%= sivic_evento.sivic_tipo_evento.desc_tipoevento %></td>
        <td><%= sivic_evento.DESC_evento %></td>
        <td><%= sivic_evento.DESC_resumo %></td>
        <td><%= number_to_currency(sivic_evento.VARL_inscricao, unit: "R$", separator: ",", delimiter: "") %></td>
        <td><%= sivic_evento.DATA_inicio.blank? ? '' : sivic_evento.DATA_inicio.strftime("%d/%m/%Y") %></td>
        <td><%= sivic_evento.DATA_fim.blank? ? '' : sivic_evento.DATA_fim.strftime("%d/%m/%Y") %></td>
        <td><%= sivic_evento.NUMR_qdtVagas %></td>
        <td align='right'>

        <div class="btn-group">
          <%= link_to sivic_evento, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-list-alt"></span> Exibir
          <% end %>             
          <%= link_to edit_sivic_evento_path(sivic_evento), :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-pencil"></span> Editar
          <% end %>             
          <%= link_to sivic_evento, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-trash"></span> Excluir
          <% end %>
        </div>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
<%= will_paginate @sivic_eventos %>
</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_evento_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>



<script>

function encerrar(evento_id){
        
     $.ajax({
        url : '<%= encerraEvento_path %>',
        data :
        {
          id : evento_id
        },
        success: function(data){
            document.location.reload();
          }
     })  
  }

</script>


