<% content_for :titlePage do %>
  Lista de Eventos
<% end %>

<%=render '/layouts/panel' %>

<div class="containermininmo">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tipo do Evento</th>
      <th>Evento</th>
      <th>Resumo</th>
      <th>Valor Inscricao</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
      <th>Qtd Vagas</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_eventos.each do |sivic_evento| %>
      <tr>
        <td><%= sivic_evento.sivic_tipo_evento.desc_tipoevento %></td>
        <td><%= sivic_evento.DESC_evento %></td>
        <td><%= sivic_evento.DESC_resumo %></td>
        <td><%= sivic_evento.VARL_inscricao %></td>
        <td><%= sivic_evento.DATA_inicio %></td>
        <td><%= sivic_evento.DATA_fim %></td>
        <td><%= sivic_evento.NUMR_qdtVagas %></td>
          <td><%= link_to image_tag('show.png', :title => 'Exibir', class: 'exibirico') , sivic_evento %></td>
          <td><%= link_to image_tag('edit.png', :title => 'Editar',  class: 'exibirico') , edit_sivic_evento_path(sivic_evento) %></td>
          <td><%= link_to image_tag('trash.png', :title => 'Excluir',  class: 'exibirico'), sivic_evento , :method => :delete,  :confirm => 'Deseja excluir o registro?'%></td> 
          <td><%= link_to image_tag('edit.png', :title => 'Editar',  class: 'exibirico') , relDiscipulos_path(sivic_evento) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div></div>
<table style="margin-top:10px;">
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('new.png', :title => 'Novo', class: 'exibirico') , new_sivic_evento_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Novo</label>
    </td>
  </tr> 
</table>

<script>

function encerrar(evento_id){
        
     $.ajax({
        url : '<%= encerraEvento_path %>',
        data :
        {
          id : evento_id
        },
        success: function(data){
            document.location.reload();
          }
     })  
  }

</script>


