<p id="notice"><%= notice %></p>


<% content_for :titlePage do %>
  Exibir Evento
<% end %>

<%= render 'layouts/panel' %>


<legend>Dados Principais</legend>

<p>
  <strong>Tipo Evento:</strong>
  <%= @sivic_evento.sivic_tipo_evento.desc_tipoevento %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @sivic_evento.desc_evento %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @sivic_evento.DESC_resumo %>
</p>

<p>
  <strong>Valor Inscricao:</strong>
  <%= @sivic_evento.VARL_inscricao %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @sivic_evento.DATA_inicio.blank? ? '' : @sivic_evento.DATA_inicio.strftime("%d/%m/%Y")%>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @sivic_evento.DATA_fim %>
</p>


<p>
  <strong>Quantidade Vagas:</strong>
  <%= @sivic_evento.NUMR_qdtVagas %>
</p>

<legend>Endereço</legend>

<p>
  <strong>Bairro:</strong>
  <%= @sivic_evento.sivic_endereco.DESC_Bairro %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @sivic_evento.sivic_endereco.DESC_Rua %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @sivic_evento.sivic_endereco.DESC_Complemento %>
</p>

<p>
  <strong>Ponto de Referência:</strong>
  <%= @sivic_evento.sivic_endereco.DESC_Pontoreferencia %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @sivic_evento.sivic_endereco.NUMR_Cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @sivic_evento.sivic_endereco.sivic_cidade.nome_cidade %>
</p>
<p>
  <strong>Cidade:</strong>
  <%= @sivic_evento.sivic_endereco.sivic_cidade.sivic_estado.nome_estado %>
</p>

</div></div>
<div class="btn-group">

  <%= link_to edit_sivic_evento_path(@sivic_evento), :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>


  <%= link_to sivic_eventos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>