<p id="notice"><%= notice %></p>

<legend>Dados Principais</legend>

<p>
  <strong>Tipo Evento:</strong>
  <%= @sivic_evento.sivic_tipoEvento_id %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @sivic_evento.DESC_evento %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @sivic_evento.DESC_resumo %>
</p>

<p>
  <strong>Valor Inscricao:</strong>
  <%= @sivic_evento.VARL_inscricao %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @sivic_evento.DATA_inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @sivic_evento.DATA_fim %>
</p>


<p>
  <strong>Quantidade Vagas:</strong>
  <%= @sivic_evento.NUMR_qdtVagas %>
</p>

<legend>Endereço</legend>

<p>
  <strong>Bairro:</strong>
  <%= @sivic_evento.sivic_endereco.DESC_Bairro %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @sivic_evento.sivic_endereco.DESC_Rua %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @sivic_evento.sivic_endereco.DESC_Complemento %>
</p>

<p>
  <strong>Ponto de Referência:</strong>
  <%= @sivic_evento.sivic_endereco.DESC_Pontoreferencia %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @sivic_evento.sivic_endereco.NUMR_Cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @sivic_evento.sivic_endereco.sivic_cidade.nome_cidade %>
</p>
<p>
  <strong>Cidade:</strong>
  <%= @sivic_evento.sivic_endereco.sivic_cidade.sivic_estado.nome_estado %>
</p>

<%= link_to 'Editar', edit_sivic_evento_path(@sivic_evento) %> |
<%= link_to 'Voltar', sivic_eventos_path %>
