<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @sivic_user.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sivic_user.email %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_user.sivic_pessoa.NOME_pessoa %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_user.role %>
</p>


<%#= link_to 'Editar', edit_sivic_pessoa_path(@sivic_pessoa) %> 
<%#= link_to 'Voltar', sivic_pessoas_path %>
