<h1>Listing sivic_sitpartcelulas</h1>

<table>
  <thead>
    <tr>
      <th>Desc situacao</th>
      <th>Sivic igreja</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_sitpartcelulas.each do |sivic_sitpartcelula| %>
      <tr>
        <td><%= sivic_sitpartcelula.DESC_situacao %></td>
        <td><%= sivic_sitpartcelula.sivic_igreja %></td>
        <td><%= link_to 'Show', sivic_sitpartcelula %></td>
        <td><%= link_to 'Edit', edit_sivic_sitpartcelula_path(sivic_sitpartcelula) %></td>
        <td><%= link_to 'Destroy', sivic_sitpartcelula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sivic sitpartcelula', new_sivic_sitpartcelula_path %>
