<% content_for :titlePage do %>
  Situação Participantes Celulas
<% end %>


<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Situacão</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_sitpartcelulas.each do |sivic_sitpartcelula| %>
      <tr>
        <td><%= sivic_sitpartcelula.DESC_situacao %></td>
      <td align='right'>  
        <%= link_to sivic_sitpartcelula, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
               <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>
        <%= link_to edit_sivic_sitpartcelula_path(sivic_sitpartcelula), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar"  do %>
                <span class="glyphicon glyphicon-pencil"></span> 
          <% end %>
        <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_sitpartcelulas/<%=sivic_sitpartcelula.id%>" data-method="delete" data-confirm="       Deseja excluir o registro?" data-original-title="Excluir">
            <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
        </a>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div></div>

  <%= link_to new_sivic_sitpartcelula_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
