<p id="notice"><%= notice %></p>

<p>
  <strong>Desc situacao:</strong>
  <%= @sivic_sitpartcelula.DESC_situacao %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_sitpartcelula.sivic_igreja %>
</p>

<%= link_to 'Edit', edit_sivic_sitpartcelula_path(@sivic_sitpartcelula) %> |
<%= link_to 'Back', sivic_sitpartcelulas_path %>
