
<%= form_for(@sivic_discipulo) do |f| %>
  <% if @sivic_discipulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_discipulo.errors.count, "error") %> prohibited this sivic_discipulo from being saved:</h2>

      <ul>
      <% @sivic_discipulo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="containermininmo">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab1" data-toggle="tab">Dados Básicos</a>
        </li>
        <li>
          <a href="#tab2" data-toggle="tab">Novo Convertido</a>
        </li>
        <li>
          <a href="#tab3" data-toggle="tab">Discípulo</a>
        </li>        
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          
           <%=  f.fields_for :sivic_pessoa do |pessoa| %>

         
              <table style="width:95%" align='center'>
                <tr>
                  <td>
                    <div class="field">
                      <%= pessoa.label :Nome %>
                      <%= pessoa.text_field :NOME_pessoa, :onclick => "$('#myModal2').modal('show')", :class => "form-control-3"%>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <%= pessoa.label :Email %>
                      <%= pessoa.text_field :DESC_email, :class =>  'form-control-3' %>
                    </div>
                  </td>
                  <td>
                    <div class="field">
                      <%= pessoa.label :Lider %>
                      <a data-toggle="modal" href="#myModal3" class="btn btn-default" style='margin-bottom:10px;'>Buscar</a>
                      <%= pessoa.select :father_id, {},{},{ :class => 'form-control-3' } %>
                    </div>
                  </td>
                </tr>
              </table>
              <table style="width:95%" align='center'>
                <tr>
                  <td>
                    <div class="field">
                      <%= pessoa.label :Observação %>
                      <%= pessoa.text_field :DESC_observacao, :class => 'form-control-100'%>
                    </div>
                  </td>
                </tr>
              </table>

                    <div class="field">
                      <%= pessoa.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id %>
                    </div>
                    <div class="field">
                      <%= pessoa.hidden_field :User_id, :value => current_user.id%>
                    </div>              

              <div class="field">
                <%= f.hidden_field :sivic_pessoa_id%>
              </div>

              <!--Endereço-->
              <hr>

              <%=  f.fields_for :sivic_endereco do |endereco| %>
                <table style="width:95%;" align='center'>
                  <tr>
                    <td>
                      <div class="field">
                        <%= endereco.label :Rua %>
                        <%= endereco.text_field :DESC_Rua, :class =>  'form-control-3' %>
                      </div>
                    </td>
                    <td>
                      <div class="field">
                        <%= endereco.label :Complemento %>
                        <%= endereco.text_field :DESC_Complemento, :class =>  'form-control-3' %>
                      </div>
                    </td>
                    <td>
                      <div class="field">
                        <%= endereco.label :Ponto_de_referência %>
                        <%= endereco.text_field :DESC_Pontoreferencia, :class =>  'form-control-3' %>
                      </div>
                    </td>
                  </tr>
                </table>
                <table style="width:95%;" align='center'>
                  <tr>
                    <td>
                      <div class="field">
                        <%= endereco.label :Bairro %>
                        <%= endereco.text_field :DESC_Bairro %>
                      </div>
                    </td>
                    <td>
                      <div class="field">
                        <%= endereco.label :CEP.capitalize %>
                        <%= endereco.number_field :NUMR_Cep %>
                      </div>
                    </td>

                
                  <%=  f.fields_for :sivic_estado do |estado| %>
                    <td>
                      <div class="field">
                        <%= estado.label :Estado %>
                        <%= estado.select :sivic_estado_id, options_from_collection_for_select(SivicEstado.all, 'id', 'nome_estado',@sivic_estado), {:include_blank => true}, {:onchange => 'changeState(this)'}%>
                      </div>
                    </td>
                  <%end%>
                  <%if @sivic_cidade %>
                    <td>
                      <div class="field">
                        <%= endereco.label :Cidade %>
                        <%= endereco.select :sivic_cidade_id, options_from_collection_for_select(@sivic_cidade, 'id', 'nome_cidade',@sivic_cidade_setada)%>
                      </div>
                    </td>
                  <%else%>
                    <td>
                      <div class="field">
                        <%= endereco.label :Cidade   %>
                        <%= endereco.select :sivic_cidade_id, [] %><br>
                      </div> 
                    </td>

                  <%end%>
                <% end %>
              <%end%>
            </tr>
            </table>
        </div>

        <div class="tab-pane" id="tab2">

        <table style="width:95%;" align='center'>
          <tr>
            <td>
              <div class="field">
                <%= f.label :Data_de_Nascimento %>
                <%= f.text_field :DATA_Nascimento, :value => (@sivic_discipulo.DATA_Nascimento.blank? ? '' : @sivic_discipulo.DATA_Nascimento.strftime("%d/%m/%Y")), :class => 'form-control-1' %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :Sexo %>
                <%= f.collection_select :DESC_Sexo, SivicDiscipulo::SEXO, :to_s, :humanize,{},{ :class => 'form-control-1' }%>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :Profissão %>
                <%= f.select :sivic_profissao_id, options_from_collection_for_select(SivicProfissao.all, 'id', 'profissao')%>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :Escolaridade %>
                <%= f.select :sivic_escolaridade_id, options_from_collection_for_select(SivicEscolaridade.all, 'id', 'NOME_escolaridade')%>
              </div>
            </td>
          </tr>
        </table>
        <table style="width:95%;" align='center'>
          <tr>
            <td>
              <div class="field">
                <%= f.label :Quantidade_de_Filhos %>
                <%= f.number_field :NUMR_QtdFilhos, :class => 'form-control-1' %>
              </div>
            </td>            
            <td>
              <div class="field">
                <%= f.label :Apelido %>
                <%= f.text_field :DESC_Apelido %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :Estado_Civil %>
                <%= f.collection_select :DESC_EstadoCivil, SivicDiscipulo::ESTADOCIVIL, :to_s, :humanize %>
              </div>   
            </td>
            <td>
              <div class="field">
                <%= f.label :Rede %>
                <%= f.select :sivic_rede_id, options_from_collection_for_select(SivicRede.all, 'id', 'nome_rede')%>
              </div>
            </td>
          </tr>
        </table>
        <table style="width:95%;" align='center'>
          <tr>
            <td>
              <div class="field">
                <%= f.label :Célula %>
                <%= f.select :sivic_celula_id, options_from_collection_for_select(SivicCelula.all, 'id', 'NUMR_Dia')%>
              </div>
            </td>            
            <td>
              <div class="field">
                <%= f.label :Data_da_Decisao %>
                <%= f.text_field :DATA_Decisao, :value => (@sivic_discipulo.DATA_Decisao.blank? ? '' : @sivic_discipulo.DATA_Decisao.strftime("%d/%m/%Y")), :class => 'form-control-1' %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :Momento_Estudo_Biblico %>
                <%= f.text_field :DESC_MomentoEstudoBiblico %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :Nome_do_Conjuge %>
                <%= f.text_field :NOME_Conjuge %>
              </div>              
            </td>
            <td>
            </td>
          </tr>
        </table>
          <hr>
          <table style="width:95%;" align='center'>
              <tr>
                <td>
                  <div class="checkbox">
                    <%= f.check_box :FLAG_Membro %>
                    <%= f.label :Membro %>
                  </div>
                </td>
                <td>
                  <div class="checkbox">
                    <%= f.check_box :FLAG_RecebeuCristo %>
                    <%= f.label :Recebeu_Cristo %>
                  </div>
                </td>
                <td>
                  <div class="checkbox">
                    <%= f.check_box :FLAG_Reconciliacao %>
                    <%= f.label :Reconciliacao %>
                  </div>
                </td>
                <td>
                  <div class="checkbox">
                    <%= f.check_box :FLAG_OcasiaoCelula %>
                    <%= f.label :Ocasiao_Celula %>
                  </div>
                </td>
              </tr>
              <tr>      
                <td>
                  <div class="checkbox">
                    <%= f.check_box :FLAG_OcasiaoCelebracaoEvento %>
                    <%= f.label :Ocasiao_Celebração_Evento %>
                  </div>
                </td>
                <td>
                  <div class="checkbox">
                    <%= f.check_box :FLAG_OcasiaoEvangelismoPessoal %>
                    <%= f.label :Ocasiao_Evangelismo_Pessoal %>
                  </div>
                </td>
                <td>
                  <div class="checkbox">
                    <%= f.check_box :FLAG_OcasiaoCultoLivre %>
                    <%= f.label :Ocasiao_Culto_Livre %>
                  </div>
                </td>
                <td>
                  <div class="checkbox">
                    <%= f.check_box :FLAG_Trabalhando %>
                    <%= f.label :Trabalhando %>
                  </div>
                </td>
              </tr>
            </table>
            <hr>

              <div class="field">
                <%= f.hidden_field :NUMG_UsuarioInclusao, :value => current_user.id %>
              </div>
              <div class="field">
                <%= f.hidden_field :NUMG_UsuarioBloqueio, :value => current_user.id%>
              </div>

        </div>
        <div class="tab-pane" id="tab3">

          <table style="width:95%;" align='center'>
            <tr>
              <td>
                <div class="field">
                  <label>CPF</label>
                  <%= f.text_field :NUMR_CPF %>
                </div>
              </td>
              <td>
                <div class="field">
                  <label>RG</label>
                  <%= f.text_field :NUMR_RG %>
                </div>
              </td>
              <td>
                <div class="field">
                  <label>Data de Emissão</label>
                  <%= f.text_field :DATA_EmissaoRG, :value => (@sivic_discipulo.DATA_EmissaoRG.blank? ? '' : @sivic_discipulo.DATA_EmissaoRG.strftime("%d/%m/%Y")), :class => 'form-control-1' %>
                </div>
              </td>
              <td>
                <div class="field">
                  <%= f.label :Titulo_Eleitoral %>
                  <%= f.text_field :NUMR_TituloEleitoral %>
                </div>
              </td>                
            </tr>
          </table>
          <table style="width:95%;" align='center'>
            <tr>
              <td>
                <div class="field">
                  <%= f.label :Nome_do_Pai %>
                  <%= f.text_field :NOME_Pai, :class => 'form-control-4' %>
                </div>
              </td>
              <td>
                <div class="field">
                  <%= f.label :Nome_da_Mae %>
                  <%= f.text_field :NOME_Mae, :class => 'form-control-4' %>
                </div> 
              </td>
            </tr>
          </table>
          <table style="width:95%;" align='center'>
            <tr>
              <td>
                <div class="field">
                  <%= f.label :DATA_de_Batismo %>
                  <%= f.text_field :DATA_Batismo, :value => (@sivic_discipulo.DATA_Batismo.blank? ? '' : @sivic_discipulo.DATA_Batismo.strftime("%d/%m/%Y")), :class => 'form-control-1' %>
                </div>
              </td>
              <td>
                <div class="field">
                  <%= f.label :Igreja_de_Batismo %>
                  <%= f.text_field :DESC_IgrejaBatismo %>
                </div>                
              </td>
              <td>
                <div class="checkbox">
                  <%= f.check_box :FLAG_DoadorSangue %>
                  <%= f.label :Doador_de_Sangue %>
                </div>
              </td>
              <td>
                <div class="checkbox">
                  <%= f.check_box :FLAG_DoadorOrgao %>
                  <%= f.label :Doador_de_Orgao %>
                </div> 
              </td>
            </tr>
          </table>
          <table style="width:95%;" align='center'>
            <tr>
              <td>
                <div class="field">
                  <%= f.label :Data_de_Casamento %>
                  <%= f.text_field :DATA_Casamento, :value => (@sivic_discipulo.DATA_Casamento.blank? ? '' : @sivic_discipulo.DATA_Casamento.strftime("%d/%m/%Y")), :class => 'form-control-1' %>
                </div>
              </td>
              <td>
                  <div class="field">
                    <%= f.label :Data_de_Nascimento_do_Conjuge %>
                    <%= f.text_field :DATA_NascConjuge, :value => (@sivic_discipulo.DATA_NascConjuge.blank? ? '' : @sivic_discipulo.DATA_NascConjuge.strftime("%d/%m/%Y")), :class => 'form-control-1' %>
                  </div>
              </td>
              <td>
                  <div class="field">
                    <%= f.label :Profissão_do_Conjuge %>
                    <%= f.select :NUMG_ProfissaoConjuge, options_from_collection_for_select(SivicProfissao.all, 'id', 'profissao')%>
                  </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <%=render '/layouts/iconsalvar' %>
  <% end %>
  
<fieldset>
  <div id="myModal2" class="modal fade" style="display: none;">  
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Buscar Pessoas</h3>  
      </div>  
      <div class="modal-body">
        <div class="input-group input-group-lg">
          <label >Nome</label>
          <input id="NOME_pessoa_buscar" name="NOME_pessoa_buscar" onkeypress="buscaPessoa('pessoa');" type="text" class="form-control" placeholder="Nome" style="width: 85%;">
          <a data-toggle="modal" href="javascript:usaNome();" class="btn btn-success" style="margin-bottom: 10px;">Usar</a>
        </div>
        <table id="table_user" name="table_user" class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="tbodyid">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
      </div>
  </div>  
</fieldset>
<fieldset>
  <div id="myModal3" class="modal fade" style="display: none;">  
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Buscar Líder</h3>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-lg">
          <label >Nome</label><br>
          <input id="NOME_lider_buscar" name="NOME_lider_buscar" onkeypress="buscaPessoa('lider');" type="text" class="form-control" placeholder="Nome" style="width: 85%;">
          <a data-toggle="modal" href="javascript:usaNome('lider');" class="btn btn-success" style="margin-bottom: 10px;">Usar</a>
        </div>
        <table id="table_lider" name="table_lider" class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="tbodyid2">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
      </div>
  </div>  
</fieldset>

<script>

jQuery(function($){
   $("#sivic_discipulo_DATA_Nascimento").mask("99/99/9999");
   $("#sivic_discipulo_DATA_Nascimento").mask("99/99/9999");
   $("#sivic_discipulo_DATA_EmissaoRG").mask("99/99/9999");
   $("#sivic_discipulo_DATA_Casamento").mask("99/99/9999");
   $("#sivic_discipulo_DATA_NascConjuge").mask("99/99/9999");
   $("#sivic_discipulo_DATA_Batismo").mask("99/99/9999");
   $("#sivic_discipulo_DATA_Decisao").mask("99/99/9999");
   $("#sivic_discipulo_NUMR_CPF").mask("999.999.999.99");

});


  function changeState(state){
      $.ajax({
        url: '<%= listarCidade_path %>',
        data : {id : state.value},
        success: function(data){
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').empty();
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').html('<option>Carregando...</option>');
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').attr('disabled', 'disabled');
          var options = "";
          for (var i in data) {
            var item = data[i];
            options += "<option value='"+item.id+"'>"+item.name+"</option>"
          };
 
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').html(options);
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').removeAttr('disabled');          
        }
      })
    }


  function buscaPessoa(fonte){

      var pesquisa;

      if (fonte == 'lider'){
        pesquisa = $('#NOME_lider_buscar').val();
      }else{
        pesquisa = $('#NOME_pessoa_buscar').val();
      }

      $.ajax({
        url: '<%= listarPessoa_path %>',
        data : 
        {
            NOME_pessoa : pesquisa
        },
        success: function(data){
          $("#tbodyid").empty();
          $("#tbodyid2").empty();
          for (var i in data) {
            var item = data[i];

            if (fonte == 'lider' ) {
              $('#table_lider').append('<tr><td><a href="javascript:setaLider(\'' + item.NOME_pessoa+'\','+item.id+');">'+item.NOME_pessoa+'</a></td><td><a href="javascript:setaLider(\'' + item.NOME_pessoa+'\','+item.id+');">'+item.DESC_email+'</a></td></tr>');
            }else{
              $('#table_user').append('<tr><td><a href="javascript:setaNome(\'' + item.NOME_pessoa+'\','+item.id+',\'' + item.DESC_email+'\','+item.father_id+',\''+item.NOME_Lider+'\');">'+item.NOME_pessoa+'</a></td><td><a href="javascript:setaNome(\'' + item.NOME_pessoa+'\','+item.id+',\'' + item.DESC_email+'\');">'+item.DESC_email+'</a></td></tr>');

            }
          };
 
        }
      })
    }

  function setaLider(nome,id){

      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').empty();
      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html('<option>Carregando...</option>');

      var options = "<option value='"+id+"'>"+nome+"</option>";
      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html(options);

      $('#myModal3').modal('hide');
  }    

  function setaNome(nome,id,email,idlider,nomelider){

      $('#sivic_discipulo_sivic_pessoa_id').val(id)
      $('#sivic_discipulo_sivic_pessoa_attributes_NOME_pessoa').val(nome)
      $('#sivic_discipulo_sivic_pessoa_attributes_DESC_email').val(email)
      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').empty();
      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html('<option>Carregando...</option>');

      var options = "<option value='"+idlider+"'>"+nomelider+"</option>";
      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html(options);

      $('#myModal2').modal('hide');
  }

  function usaNome(nome){

      $('#sivic_discipulo_sivic_pessoa_attributes_NOME_pessoa').val($('#NOME_pessoa_buscar').val());
      $('#sivic_discipulo_sivic_pessoa_id').val("");
      $('#sivic_discipulo_sivic_pessoa_attributes_DESC_email').val("")
      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').empty("");      
      $('#myModal2').modal('hide');

  }   

  <% if @sivic_discipulo.sivic_pessoa.id && @sivic_discipulo.sivic_pessoa.father%>

    //disablePessoaForm();
    $('#sivic_discipulo_sivic_pessoa_attributes_father_id').empty();
    $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html('<option>Carregando...</option>');
    $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html('<option value="<%=@sivic_discipulo.sivic_pessoa.father.id%>"><%=@sivic_discipulo.sivic_pessoa.father.NOME_pessoa%></option>');
    //$('#sivic_discipulo_sivic_pessoa_attributes_father_id').attr('disabled', 'disabled');

  <% end %>

</script>


