<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= 'Cadastro de Ministérios'%></h3>
  </div>
  <div class="panel-footer">

  <%= form_for(@sivic_discipulo) do |f| %>
    <% if @sivic_discipulo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@sivic_discipulo.errors.count, "error") %> prohibited this sivic_discipulo from being saved:</h2>

        <ul>
        <% @sivic_discipulo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab1" data-toggle="tab">Dados Básicos</a>
        </li>
        <li>
          <a href="#tab2" data-toggle="tab">Novo Convertido</a>
        </li>
        <li>
          <a href="#tab3" data-toggle="tab">Discípulo</a>
        </li>        
      </ul>
      <div class="tab-content">

        <div class="tab-pane active" id="tab1">
          
          <%=  f.fields_for :sivic_pessoa do |pessoa| %>

            <br />

            <div class="row">
              <div class="col-xs-4">
                <%= pessoa.label :Nome %>
                <%= pessoa.text_field :nome_pessoa, :class => "form-control"%>
              </div>
              <div class="col-xs-3">
                <%= pessoa.label :Email %>
                <%= pessoa.text_field :DESC_email, :class =>  'form-control' %>
              </div>
              <div class="col-xs-3">
                <%= pessoa.label :Lider %><br />
                <%= pessoa.select :father_id, {},{},{ :class => 'form-control' } %>
              </div>

              <div class="col-xs-2" style='margin-top:23px;'>
                <a data-toggle="modal" href="#myModal3" class="btn btn-success" style='margin-bottom:10px;'>Buscar</a>
              </div>              
            </div>

            <div class="row">
              <div class="col-xs-4">
                <%= pessoa.label :Observação %>
                <%= pessoa.text_field :DESC_observacao, :class => 'form-control'%>
              </div>

              <div class="col-xs-4">
                <%= pessoa.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id %>
              </div>

              <div class="col-xs-4">
                <%= pessoa.hidden_field :User_id, :value => current_user.id%>
              </div>              

              <div class="col-xs-4">
                <%= f.hidden_field :sivic_pessoa_id%>
              </div>
            </div>
              <!--Endereço-->
            <hr>

            <%=  f.fields_for :sivic_endereco do |endereco| %>
              <div class="row">
                <div class="col-xs-4">
                  <%= endereco.label :Rua %>
                  <%= endereco.text_field :DESC_Rua, :class =>  'form-control' %>
                </div>

                <div class="col-xs-4">
                  <%= endereco.label :Complemento %>
                  <%= endereco.text_field :DESC_Complemento, :class =>  'form-control' %>
                </div>

                <div class="col-xs-4">
                  <%= endereco.label :Ponto_de_referência %>
                  <%= endereco.text_field :DESC_Pontoreferencia, :class =>  'form-control' %>
                </div>
              </div>  
              <br />
              <div class="row">
                <div class="col-xs-4">
                  <%= endereco.label :Bairro %>
                  <%= endereco.text_field :DESC_Bairro, :class =>  'form-control' %>
                </div>

                <div class="col-xs-2">
                  <%= endereco.label :CEP.capitalize %>
                  <%= endereco.text_field :NUMR_Cep, :class =>  'form-control' %>
                </div>
        
                <%=  f.fields_for :sivic_estado do |estado| %>
                  <div class="col-xs-3">
                    <%= estado.label :Estado %>
                    <%= estado.select :sivic_estado_id, options_from_collection_for_select(SivicEstado.all, 'id', 'nome_estado',@sivic_estado), {:include_blank => true}, {:onchange => 'changeState(this)', :class =>  'form-control'}%>
                  </div>
                <%end%>

                <%if @sivic_cidade %>
                  <div class="col-xs-3">
                    <%= endereco.label :Cidade %>
                    <%= endereco.select :sivic_cidade_id, options_from_collection_for_select(@sivic_cidade, 'id', 'nome_cidade',@sivic_cidade_setada),{},{ :class =>  'form-control'}%>
                  </div>
                <%else%>
                  <div class="col-xs-3">
                    <%= endereco.label :Cidade   %>
                    <%= endereco.select :sivic_cidade_id, [], {},{:class =>  'form-control'} %><br>
                  </div> 
                <%end%>
              </div>
            <% end %>
          <%end%>
        </div>

        <div class="tab-pane" id="tab2">

          <br />

          <div class="row">

            <div class="col-xs-2">
              <%= f.label :Data_de_Nascimento %>
              <%= f.text_field :DATA_Nascimento, :value => (@sivic_discipulo.DATA_Nascimento.blank? ? '' : @sivic_discipulo.DATA_Nascimento.strftime("%d/%m/%Y")), :class => 'form-control' %>
            </div>

            <div class="col-xs-2">
              <%= f.label :Sexo %>
              <%= f.collection_select :DESC_Sexo, SivicDiscipulo::SEXO, :to_s, :humanize,{},{ :class => 'form-control' }%>
            </div>

            <div class="col-xs-4">
              <%= f.label :Profissão %>
              <%= f.select :sivic_profissao_id, options_from_collection_for_select(SivicProfissao.all, 'id', 'profissao'),{}, {:class => "form-control"}%>
            </div>

            <div class="col-xs-4">
              <%= f.label :Escolaridade %>
              <%= f.select :sivic_escolaridade_id, options_from_collection_for_select(SivicEscolaridade.all, 'id', 'NOME_escolaridade'), {}, {:class => "form-control"}%>
            </div>

          </div>
          <br />
          <div class="row">

            <div class="col-xs-2">
              <%= f.label :Qtd_Filhos %>
              <%= f.number_field :NUMR_QtdFilhos, :class => 'form-control' %>
            </div>

            <div class="col-xs-4">
              <%= f.label :Apelido %>
              <%= f.text_field :DESC_Apelido, :class => 'form-control' %>
            </div>

            <div class="col-xs-2">
              <%= f.label :Estado_Civil %>
              <%= f.collection_select :DESC_EstadoCivil, SivicDiscipulo::ESTADOCIVIL, :to_s, :humanize, {}, {:class => "form-control"}%>
            </div>   

            <div class="col-xs-4">
              <%= f.label :Rede %>
              <%= f.select :sivic_rede_id, options_from_collection_for_select(SivicRede.all, 'id', 'nome_rede'), {}, {:class => "form-control"} %>
            </div>

          </div>
          <br />
          <div class="row">

            <div class="col-xs-3">
              <%= f.label :Célula %>
              <%= f.select :sivic_celula_id, options_from_collection_for_select(SivicCelula.all, 'id', 'NUMR_Dia'), {}, {:class => "form-control"}%>
            </div>

            <div class="col-xs-2">
              <%= f.label :Data_da_Decisao %>
              <%= f.text_field :DATA_Decisao, :value => (@sivic_discipulo.DATA_Decisao.blank? ? '' : @sivic_discipulo.DATA_Decisao.strftime("%d/%m/%Y")), :class => 'form-control' %>
            </div>

            <div class="col-xs-3">
              <%= f.label :Dia_Estudo %>
              <%= f.collection_select :DESC_MomentoEstudoBiblico, SivicDiscipulo::DIAS, :to_s, :humanize, {}, {:class => "form-control"}%>
            </div>            

            <div class="col-xs-2">
              <%= f.label :Hora_Estudo %>
              <%= f.text_field :hora_estudobiblico, :value => (@sivic_discipulo.hora_estudobiblico.blank? ? '' : @sivic_discipulo.hora_estudobiblico.strftime("%H:%M")), :class => 'form-control' %>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-xs-4">
              <%= f.label :Nome_do_Conjuge %>
              <%= f.text_field :NOME_Conjuge, :class => 'form-control' %>
            </div>              

          </div>

          <div class="row" style="margin-top:15px; margin-left:8px;">
            <div style="float:left; width:200px;">
              <b>Ocasião da Decisão</b>
              <div class="radio">
                <input id="sivic_discipulo_FLAG_OcasiaoRecebeuCristo" type="radio" value="0" name="sivic_discipulo[FLAG_OcasiaoRecebeuCristo]" <%= @sivic_discipulo.FLAG_OcasiaoRecebeuCristo == 0 ? 'checked = "checked"' : '' %>>Célula
              </div>

              <div class="radio">
                      <input id="sivic_discipulo_FLAG_OcasiaoRecebeuCristo" type="radio" value="1" name="sivic_discipulo[FLAG_OcasiaoRecebeuCristo]" <%= @sivic_discipulo.FLAG_OcasiaoRecebeuCristo == 1 ? 'checked = "checked"' : '' %>>Celebração Evento
              </div>

              <div class="radio">
                      <input id="sivic_discipulo_FLAG_OcasiaoRecebeuCristo" type="radio" value="2" name="sivic_discipulo[FLAG_OcasiaoRecebeuCristo]" <%= @sivic_discipulo.FLAG_OcasiaoRecebeuCristo == 2 ? 'checked = "checked"' : '' %>>Evangelismo Pessoal
              </div>

              <div class="radio">
                      <input id="sivic_discipulo_FLAG_OcasiaoRecebeuCristo" type="radio" value="3" name="sivic_discipulo[FLAG_OcasiaoRecebeuCristo]" <%= @sivic_discipulo.FLAG_OcasiaoRecebeuCristo == 3 ? 'checked = "checked"' : '' %>>Culto Livre
              </div>
            </div>

            <div style="float:left; width:200px;">
              <b>Tipo de Decisão</b>
              <div class="radio">
                <input id="sivic_discipulo_FLAG_Reconciliacao" type="radio" value="true" name="sivic_discipulo[FLAG_Reconciliacao]" <%= @sivic_discipulo.FLAG_Reconciliacao == true ? 'checked = "checked"' : '' %>>Recebeu a Cristo
              </div>
              <div class="radio">
                <input id="sivic_discipulo_FLAG_Reconciliacao" type="radio" value="false" name="sivic_discipulo[FLAG_Reconciliacao]" <%= @sivic_discipulo.FLAG_Reconciliacao == false ? 'checked = "checked"' : '' %>>Reconciliação              
              </div>
            </div>

            <div style="width:200px; float: left;">
              <b>Trabalhando?</b>
              <div class="radio">
                <input id="sivic_discipulo_FLAG_Trabalhando" type="radio" value="true" name="sivic_discipulo[FLAG_Trabalhando]" <%= @sivic_discipulo.FLAG_Trabalhando == true ? 'checked = "checked"' : '' %>>Sim
              </div>
              <div class="radio">
                    <input id="sivic_discipulo_FLAG_Trabalhando" type="radio" value="false" name="sivic_discipulo[FLAG_Trabalhando]" <%= @sivic_discipulo.FLAG_Trabalhando == false ? 'checked = "checked"' : '' %>>Não             
              </div>
            </div>


          </div>

        <%= f.hidden_field :NUMG_UsuarioInclusao, :value => current_user.id %>
        <%= f.hidden_field :NUMG_UsuarioBloqueio, :value => current_user.id%>

        </div>
        <div class="tab-pane" id="tab3">
          <hr>
          <div class="row">
            <div class="col-xs-2">
              <%= f.check_box :FLAG_Discipulo, :class => 'checkbox-inline' %>
              <%= f.label :Discipulo %>
            </div>
            <div class="col-xs-2">
            <%= f.check_box :FLAG_Discipulador, :class => 'checkbox-inline' %>
            <%= f.label :Discipulador %>
            </div>
            <div class="col-xs-2">
            <%= f.check_box :FLAG_Consolidador, :class => 'checkbox-inline' %>
            <%= f.label :Consolidador %>
            </div>
          </div>
          <hr>

          <div class="row">

            <div class="col-xs-2">
              <label>CPF</label>
              <%= f.text_field :NUMR_CPF, :class => 'form-control' %>
            </div>

            <div class="col-xs-2">
              <label>RG</label>
              <%= f.text_field :NUMR_RG, :class => 'form-control' %>
            </div>

            <div class="col-xs-2">
              <label>Data de Emissão</label>
              <%= f.text_field :DATA_EmissaoRG, :value => (@sivic_discipulo.DATA_EmissaoRG.blank? ? '' : @sivic_discipulo.DATA_EmissaoRG.strftime("%d/%m/%Y")), :class => 'form-control' %>
            </div>

            <div class="col-xs-3">
              <%= f.label :Titulo_Eleitoral %>
              <%= f.text_field :NUMR_TituloEleitoral, :class => 'form-control' %>
            </div>            

            <div class="col-xs-3">
              <div class="checkbox">
                <%= f.check_box :FLAG_DoadorSangue %>
                <%= f.label :Doador_de_Sangue %>
              </div>

              <div class="checkbox">
                <%= f.check_box :FLAG_DoadorOrgao %>
                <%= f.label :Doador_de_Orgao %>
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              <%= f.label :Nome_do_Pai %>
              <%= f.text_field :NOME_Pai, :class => 'form-control' %>
            </div>

            <div class="col-xs-4">
              <%= f.label :Nome_da_Mae %>
              <%= f.text_field :NOME_Mae, :class => 'form-control' %>
            </div> 

            <div class="col-xs-2">
              <%= f.label :Telefone_Fixo %>
              <%= f.text_field :DESC_TelefoneFixo, :class => 'form-control' %>
            </div> 

            <div class="col-xs-2">
              <%= f.label :Telefone_Celular %>
              <%= f.text_field :DESC_TelefoneCelular, :class => 'form-control' %>
            </div> 
          </div> 
          <br/>
          <div class="row">
            <div class="col-xs-4">
              <%= f.label :Igreja_de_Batismo %>
              <%= f.text_field :DESC_IgrejaBatismo, :class => 'form-control' %>
            </div>  

            <div class="col-xs-2">
              <%= f.label :DATA_de_Batismo %>
              <%= f.text_field :DATA_Batismo, :value => (@sivic_discipulo.DATA_Batismo.blank? ? '' : @sivic_discipulo.DATA_Batismo.strftime("%d/%m/%Y")), :class => 'form-control' %>
            </div>

            <div class="col-xs-2">
              <%= f.label :Data_de_Casamento %>
              <%= f.text_field :DATA_Casamento, :value => (@sivic_discipulo.DATA_Casamento.blank? ? '' : @sivic_discipulo.DATA_Casamento.strftime("%d/%m/%Y")), :class => 'form-control' %>
            </div>

            <div class="col-xs-2">
              <label>Nasc. do Conjuge</label>
              <%= f.text_field :DATA_NascConjuge, :value => (@sivic_discipulo.DATA_NascConjuge.blank? ? '' : @sivic_discipulo.DATA_NascConjuge.strftime("%d/%m/%Y")), :class => 'form-control' %>
            </div>

          </div>
          <br />
          <div class="row">
            <div class="col-xs-4">
              <%= f.label :Profissão_do_Conjuge %>
              <%= f.select :NUMG_ProfissaoConjuge, options_from_collection_for_select(SivicProfissao.all, 'id', 'profissao'), {}, {:class => 'form-control'}%>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="btn-group">

  <button type="submit" class="btn btn-default btn">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>

  <%= yield(:iconexibir) %>

  <%= link_to sivic_discipulos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>
    
  <% end %>


  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Buscar Pessoas</h4>
      </div>
      <div class="modal-body">

        <label >Nome</label><br>
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input id="nome_pessoa_buscar" name="nome_pessoa_buscar" onkeypress="buscaPessoa('pessoa')" type="text" class="form-control" placeholder="Nome">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" onclick="usaNome();">Usar</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <br />

        <table id="table_user" name="table_user" class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="tbodyid">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Buscar Pessoas</h4>
      </div>
      <div class="modal-body">

        <label >Nome</label><br>
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <input id="NOME_lider_buscar" name="NOME_lider_buscar" onkeypress="buscaPessoa('lider')" type="text" class="form-control" placeholder="Nome">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" onclick="usaNome('lider');">Usar</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <br />

        <table id="table_lider" name="table_lider" class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody id="tbodyid2">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<script>

$("#sivic_discipulo_sivic_pessoa_attributes_nome_pessoa" ).click(function() {
  $('#myModal2').modal({ keyboard: false })
  $('#myModal2').modal('show');
});


$('#myModal2').on('shown.bs.modal', function () {
    $('#nome_pessoa_buscar').val($("#sivic_discipulo_sivic_pessoa_attributes_nome_pessoa" ).val());
    $("#sivic_discipulo_sivic_pessoa_attributes_nome_pessoa" ).val("");  
    $('#nome_pessoa_buscar').focus();
})

jQuery(function($){
   $("#sivic_discipulo_DATA_Nascimento").mask("99/99/9999");
   $("#sivic_discipulo_DATA_Nascimento").mask("99/99/9999");
   $("#sivic_discipulo_DATA_EmissaoRG").mask("99/99/9999");
   $("#sivic_discipulo_DATA_Casamento").mask("99/99/9999");
   $("#sivic_discipulo_DATA_NascConjuge").mask("99/99/9999");
   $("#sivic_discipulo_DATA_Batismo").mask("99/99/9999");
   $("#sivic_discipulo_DATA_Decisao").mask("99/99/9999");
   $("#sivic_discipulo_NUMR_CPF").mask("999.999.999.99");
   $("#sivic_discipulo_DESC_TelefoneFixo").mask("(99)9999-9999");
   $("#sivic_discipulo_DESC_TelefoneCelular").mask("(99)9999-9999");
   $("#sivic_discipulo_hora_estudobiblico").mask("99:99");
   $("#sivic_discipulo_sivic_endereco_attributes_NUMR_Cep").mask("99.999-999");


});

  function changeState(state){
      $.ajax({
        url: '<%= listarCidade_path %>',
        data : {id : state.value},
        success: function(data){
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').empty();
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').html('<option>Carregando...</option>');
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').attr('disabled', 'disabled');
          var options = "";
          for (var i in data) {
            var item = data[i];
            options += "<option value='"+item.id+"'>"+item.name+"</option>"
          };
 
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').html(options);
          $('#sivic_discipulo_sivic_endereco_attributes_sivic_cidade_id').removeAttr('disabled');          
        }
      })
    }


  function buscaPessoa(fonte){

      var pesquisa;

      if (fonte == 'lider'){
        pesquisa = $('#NOME_lider_buscar').val();
      }else{
        pesquisa = $('#nome_pessoa_buscar').val();
      }

      $.ajax({
        url: '<%= listarDiscipulos_path %>',
        data : 
        {
            nome_pessoa : pesquisa
        },
        success: function(data){
          $("#tbodyid").empty();
          $("#tbodyid2").empty();
          for (var i in data) {
            var item = data[i];

            if (fonte == 'lider' ) {
              $('#table_lider').append('<tr><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.nome_pessoa+'</a></td><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.DESC_email+'</a></td></tr>');
            }else{
              $('#table_user').append('<tr><td><a href="javascript:window.location.replace(\'http://localhost:3000/sivic_discipulos/' +item.id+ '/edit\')";">'+item.nome_pessoa+'</a></td><td><a href="javascript:window.location.replace(\'http://localhost:3000/sivic_discipulos/' +item.id+ '/edit\')";">'+item.DESC_email+'</a></td></tr>');

            }
          };
 
        }
      })
    }

  function setaLider(nome,id){

      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').empty();
      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html('<option>Carregando...</option>');

      var options = "<option value='"+id+"'>"+nome+"</option>";
      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html(options);

      $('#myModal3').modal('hide');
  }    

  function setaNome(nome,id,email,idlider,nomelider){

      //$('#sivic_discipulo_sivic_pessoa_id').val(id)
      //$('#sivic_discipulo_sivic_pessoa_attributes_nome_pessoa').val(nome)
      //$('#sivic_discipulo_sivic_pessoa_attributes_DESC_email').val(email)
      //$('#sivic_discipulo_sivic_pessoa_attributes_father_id').empty();
      //$('#sivic_discipulo_sivic_pessoa_attributes_father_id').html('<option>Carregando...</option>');

      //var options = "<option value='"+idlider+"'>"+nomelider+"</option>";
      //$('#sivic_discipulo_sivic_pessoa_attributes_father_id').html(options);

      //$('#myModal2').modal('hide');

      window.location.replace("http://localhost:3000/sivic_discipulos/" + id + "/edit");
  }

  function usaNome(nome){

      $('#sivic_discipulo_sivic_pessoa_attributes_nome_pessoa').val($('#nome_pessoa_buscar').val());
      $('#sivic_discipulo_sivic_pessoa_id').val("");
      $('#sivic_discipulo_sivic_pessoa_attributes_DESC_email').val("")
      $('#sivic_discipulo_sivic_pessoa_attributes_father_id').empty("");      
      $('#myModal2').modal('hide');

  }   

  <% if @sivic_discipulo.sivic_pessoa.id && @sivic_discipulo.sivic_pessoa.father%>

    //disablePessoaForm();
    $('#sivic_discipulo_sivic_pessoa_attributes_father_id').empty();
    $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html('<option>Carregando...</option>');
    $('#sivic_discipulo_sivic_pessoa_attributes_father_id').html('<option value="<%=@sivic_discipulo.sivic_pessoa.father.id%>"><%=@sivic_discipulo.sivic_pessoa.father.nome_pessoa%></option>');
    //$('#sivic_discipulo_sivic_pessoa_attributes_father_id').attr('disabled', 'disabled');

  <% end %>

</script>


