<% content_for :titlePage do %>
  Listar Discípulos
<% end %>


<%=render '/layouts/panel' %>

<%= form_tag nil, method: 'GET' do %>
  <label >Nome</label><br>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <input id="q" name="q" type="text" class="form-control" placeholder="Nome">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" >Buscar</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <br />  
<% end %>
          
  <hr>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><strong class='titleTable'>Nome</strong></th>
        <th><strong class='titleTable'>Data de Nascimento</strong></th>
        <th><strong class='titleTable'>CPF</strong></th>
        <th><strong class='titleTable'>Data batismo</strong></th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @sivic_discipulos.each do |sivic_discipulo| %>
        <tr>
          <td><%= sivic_discipulo.sivic_pessoa.nome_pessoa %></td>
          <td><%= sivic_discipulo.DATA_Nascimento.blank? ? '' : sivic_discipulo.DATA_Nascimento.strftime("%d/%m/%Y")  %></td>
          <td><%= sivic_discipulo.NUMR_CPF %></td>
          <td><%= sivic_discipulo.DATA_Batismo.blank? ? '' : sivic_discipulo.DATA_Batismo.strftime("%d/%m/%Y")  %></td>

        <td align='right'>
            <%= link_to sivic_discipulo, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
            <% end %>             
            <%= link_to edit_sivic_discipulo_path(sivic_discipulo), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>             
            <%= link_to relDiscipulos_path(sivic_discipulo), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Diagrama" do %>
              <span class="glyphicon glyphicon-user"></span> 
            <% end %>            
            <%= link_to relGeracoes_path(sivic_discipulo, format: 'pdf'), {:class => "btn btn-default btn-sm", :target => '_blank', :rel=>"tooltip", :title=>"Geração"} do %>
              <span class="glyphicon glyphicon-tasks"></span>
            <% end %>

            <!--<a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_discipulos/<%=sivic_discipulo.id%>"    data-method="delete" data-confirm="Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" data-original-title="Geração" title="" rel="tooltip"></span>
            </a>-->           
        </td> 
                  
        </tr>
      <% end %>
    </tbody>
  </table>

<div class="apple_pagination">
<%= will_paginate @sivic_discipulos %>
</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_discipulo_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>


<script>
jQuery(function($){
  $('#q').focus();
});  


$(function(){
  $("a[rel='tooltip']").tooltip();
})

</script>