<% content_for :titlePage do %>
  Listar Discípulos
<% end %>


<%=render '/layouts/panel' %>

          <label >Nome</label>
          <input id="NOME_pessoa_buscar" name="NOME_pessoa_buscar" type="text" class="form-control" placeholder="Nome do Discípulo" style="width: 20%;">
          <a data-toggle="modal" href="javascript:usaNome();" class="btn btn-info" style="margin-bottom: 10px;">Buscar</a>

  <hr>

<div class="containermininmo">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><strong class='titleTable'>Nome</strong></th>
        <th><strong class='titleTable'>Data de Nascimento</strong></th>
        <th><strong class='titleTable'>CPF</strong></th>
        <th><strong class='titleTable'>Data batismo</strong></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sivic_discipulos.each do |sivic_discipulo| %>
        <tr>
          <td><%= sivic_discipulo.sivic_pessoa.NOME_pessoa %></td>
          <td><%= sivic_discipulo.DATA_Nascimento.blank? ? '' : sivic_discipulo.DATA_Nascimento.strftime("%d/%m/%Y")  %></td>
          <td><%= sivic_discipulo.NUMR_CPF %></td>
          <td><%= sivic_discipulo.DATA_Batismo %></td>
          <td><%= link_to image_tag('show.png', :title => 'Exibir', class: 'exibirico') , sivic_discipulo %></td>
          <td><%= link_to image_tag('edit.png', :title => 'Editar',  class: 'exibirico') , edit_sivic_discipulo_path(sivic_discipulo) %></td>
          <td><%= link_to image_tag('trash.png', :title => 'Excluir',  class: 'exibirico'), sivic_discipulo , :method => :delete,  :confirm => 'Deseja excluir o registro?'%></td>
          <td><%= link_to image_tag('diagrama.png', :title => 'Diagrama',  class: 'exibirico') , relDiscipulos_path(sivic_discipulo) %></td>
                  
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

</div></div>

<table style="margin-top:10px;">
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('new.png', :title => 'Novo', class: "exibirico") , new_sivic_discipulo_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Novo</label>
    </td>
  </tr> 
</table>



<script>

function buscaDiagrama(evento_id){

    alert('lol');
        
     $.ajax({
        url : '<%= buscaDiagrama_path %>',
        data :
        {
          id : evento_id
        },
        success: function(data){
            document.location.reload();
          }
     })  
  }

</script>


