<h1>Listing sivic_discipulos</h1>

<table>
  <thead>
    <tr>
      <th>Sivic pessoa</th>
      <th>Sivic endereco</th>
      <th>Sivic profissao</th>
      <th>Sivic escolaridade</th>
      <th>Sivic rede</th>
      <th>Sivic celula</th>
      <th>Numg profissaoconjuge</th>
      <th>Numg usuarioinclusao</th>
      <th>Numg usuariobloqueio</th>
      <th>Desc sexo</th>
      <th>Data nascimento</th>
      <th>Desc apelido</th>
      <th>Desc estadocivil</th>
      <th>Nome conjuge</th>
      <th>Data decisao</th>
      <th>Numr qtdfilhos</th>
      <th>Flag membro</th>
      <th>Flag recebeucristo</th>
      <th>Flag reconciliacao</th>
      <th>Flag ocasiaocelula</th>
      <th>Flag ocasiaocelebracaoevento</th>
      <th>Flag ocasialevangelismopessoal</th>
      <th>Flag ocasiaocultolivre</th>
      <th>Flag trabalhando</th>
      <th>Desc momentoestudobiblico</th>
      <th>Numr rg</th>
      <th>Data emissaorg</th>
      <th>Numr cpf</th>
      <th>Nome pai</th>
      <th>Nome mae</th>
      <th>Data nascconjuge</th>
      <th>Data casamento</th>
      <th>Numr tituloeleitoral</th>
      <th>Data batismo</th>
      <th>Desc igrejabatismo</th>
      <th>Flag doadorsangue</th>
      <th>Flag doadororgao</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_discipulos.each do |sivic_discipulo| %>
      <tr>
        <td><%= sivic_discipulo.sivic_pessoa %></td>
        <td><%= sivic_discipulo.sivic_endereco %></td>
        <td><%= sivic_discipulo.sivic_profissao %></td>
        <td><%= sivic_discipulo.sivic_escolaridade %></td>
        <td><%= sivic_discipulo.sivic_rede %></td>
        <td><%= sivic_discipulo.sivic_celula %></td>
        <td><%= sivic_discipulo.NUMG_ProfissaoConjuge %></td>
        <td><%= sivic_discipulo.NUMG_UsuarioInclusao %></td>
        <td><%= sivic_discipulo.NUMG_UsuarioBloqueio %></td>
        <td><%= sivic_discipulo.DESC_Sexo %></td>
        <td><%= sivic_discipulo.DATA_Nascimento %></td>
        <td><%= sivic_discipulo.DESC_Apelido %></td>
        <td><%= sivic_discipulo.DESC_EstadoCivil %></td>
        <td><%= sivic_discipulo.NOME_Conjuge %></td>
        <td><%= sivic_discipulo.DATA_Decisao %></td>
        <td><%= sivic_discipulo.NUMR_QtdFilhos %></td>
        <td><%= sivic_discipulo.FLAG_Membro %></td>
        <td><%= sivic_discipulo.FLAG_RecebeuCristo %></td>
        <td><%= sivic_discipulo.FLAG_Reconciliacao %></td>
        <td><%= sivic_discipulo.FLAG_OcasiaoCelula %></td>
        <td><%= sivic_discipulo.FLAG_OcasiaoCelebracaoEvento %></td>
        <td><%= sivic_discipulo.FLAG_OcasiaoEvangelismoPessoal %></td>
        <td><%= sivic_discipulo.FLAG_OcasiaoCultoLivre %></td>
        <td><%= sivic_discipulo.FLAG_Trabalhando %></td>
        <td><%= sivic_discipulo.DESC_MomentoEstudoBiblico %></td>
        <td><%= sivic_discipulo.NUMR_RG %></td>
        <td><%= sivic_discipulo.DATA_EmissaoRG %></td>
        <td><%= sivic_discipulo.NUMR_CPF %></td>
        <td><%= sivic_discipulo.NOME_Pai %></td>
        <td><%= sivic_discipulo.NOME_Mae %></td>
        <td><%= sivic_discipulo.DATA_NascConjuge %></td>
        <td><%= sivic_discipulo.DATA_Casamento %></td>
        <td><%= sivic_discipulo.NUMR_TituloEleitoral %></td>
        <td><%= sivic_discipulo.DATA_Batismo %></td>
        <td><%= sivic_discipulo.DESC_IgrejaBatismo %></td>
        <td><%= sivic_discipulo.FLAG_DoadorSangue %></td>
        <td><%= sivic_discipulo.FLAG_DoadorOrgao %></td>
        <td><%= link_to 'Show', sivic_discipulo %></td>
        <td><%= link_to 'Edit', edit_sivic_discipulo_path(sivic_discipulo) %></td>
        <td><%= link_to 'Destroy', sivic_discipulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sivic discipulo', new_sivic_discipulo_path %>
