<% content_for :titlePage do %>
  <strong class='titlepage'>Listar Discípulos</strong>
<% end %>

<%=render '/layouts/panel' %>

<div class="containermininmo">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><strong class='titleTable'>Nome</strong></th>
        <th><strong class='titleTable'>Data de Nascimento</strong></th>
        <th><strong class='titleTable'>CPF</strong></th>
        <th><strong class='titleTable'>Data batismo</strong></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sivic_discipulos.each do |sivic_discipulo| %>
        <tr>
          <td><%= sivic_discipulo.sivic_pessoa.NOME_pessoa %></td>
          <td><%= sivic_discipulo.DATA_Nascimento.strftime("%d/%m/%Y")  %></td>
          <td><%= sivic_discipulo.NUMR_CPF %></td>
          <td><%= sivic_discipulo.DATA_Batismo %></td>
          <td><%= link_to image_tag('folder_blue_open.png', :title => 'Exibir') , sivic_discipulo %></td>
          <td><%= link_to image_tag('edit.png', :title => 'Editar') , edit_sivic_discipulo_path(sivic_discipulo) %></td>
          <td><%= link_to image_tag('trash.png', :title => 'Excluir'), sivic_discipulo , :method => :delete,  :confirm => 'Deseja excluir o registro?'%></td>
                  
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<table style="margin-top:10px;">
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('folder_new.png', :title => 'Novo') , new_sivic_discipulo_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Novo</label>
    </td>
  </tr> 
</table>


