<% content_for :titlePage do %>
  Relatório de Membros
<% end %>


<%=render '/layouts/panel' %>

<%= form_tag nil, method: 'GET' do %>
    <div class="row mar-bot40">
      <%=fields_for :sivic_situaco do |sit| %>
        <div class="col-lg-2" >
          <%= sit.label :Situação %>
          <%= select_tag 'situacao[id]', content_tag(:option,'TODOS',:value=>"0")+options_from_collection_for_select(SivicSituacaodiscipulo.all, 'id', 'nome_situacao'),:class =>  'form-control'%>
        </div>

        <div class="col-lg-2" >
          <%= sit.label :Sexo %>
          <%= select_tag 'sexo', content_tag(:option,'TODOS',:value=>"0")+options_from_collection_for_select(SivicDiscipulo::SEXO, :to_s, :humanize),:class =>  'form-control'%>
        </div>

        <div class="col-lg-2">
          <%= sit.label :Estado_Civil %>
          <%= select_tag 'estadocivil', content_tag(:option,'TODOS',:value=>"0")+options_from_collection_for_select(SivicDiscipulo::ESTADOCIVIL, :to_s, :humanize),:class =>  'form-control'%>
        </div>   

        <div class="col-lg-2" >

        <div class="radio">
          <label>
            <input type="radio" name="tipomembro" id="novoconvertido" value="novoconvertido">
            Novo Convertido
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="tipomembro" id="discipulo" value="discipulo">
            Discípulo
          </label>
        </div>
        <div class="radio disabled">
          <label>
            <input type="radio" name="tipomembro" id="ambos" value="ambos" checked>
            Ambos
          </label>
        </div>
        </div>

        <div class="col-lg-2" >
          <div class="checkbox">
            <label>
              <input type="checkbox" id="discipulador" name="discipulador" value="true"> Discipulador
            </label>
            <label>
              <input type="checkbox" id="consolidador" name="consolidador" value="true"> Consolidador
            </label>
            <label>
              <input type="checkbox" id="batizado" name="batizado" value="true"> Batizado
            </label>            
          </div>              
        </div>

    </div>
<%end%> 

<button class="btn btn-success" type="submit" >Listar</button>
<button class="btn btn-default" type="submit" >Imprimir</button>
<% end %>

</div></div>
  <br/>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>
  <!-- Table -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>CPF</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
      <% @sivic_discipulos.each do |sivic_discipulo| %>
        <tr>
          <td><%= sivic_discipulo.sivic_pessoa.nome_pessoa %></td>
          <td><%= sivic_discipulo.DATA_Nascimento.blank? ? '' : sivic_discipulo.DATA_Nascimento.strftime("%d/%m/%Y")  %></td>
          <td><%= sivic_discipulo.NUMR_CPF %></td>
          <td><%= sivic_discipulo.sivic_pessoa.DESC_email%></td>
        </tr>
      <% end %>  
  </tbody>
</table>
</div>


