<p id="notice"><%= notice %></p>

<% content_for :titlePage do %>
  Exibir Discípulo
<% end %>

<%= render 'layouts/panel' %>

<p>
  <strong>Nome:</strong>
  <%= @sivic_discipulo.sivic_pessoa.nome_pessoa %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @sivic_discipulo.sivic_endereco.DESC_Rua %>
</p>

<p>
  <strong>Profissão:</strong>
  <%= @sivic_discipulo.sivic_profissao.profissao %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @sivic_discipulo.sivic_escolaridade.NOME_escolaridade %>
</p>

<p>
  <strong>Rede:</strong>
  <%= @sivic_discipulo.sivic_rede.nome_rede %>
</p>

<p>
  <strong>Célula:</strong>
  <%= @sivic_discipulo.sivic_celula.blank? ? '' : @sivic_discipulo.sivic_celula.NUMR_Dia%>
</p>

<p>
  <strong>Profissão do Conjuge:</strong>
  <%= @sivic_discipulo.ProfissaoConjuge.profissao %>
</p>

<p>
  <strong>Usuário de Inclusão:</strong>
  <%= @sivic_discipulo.UsuarioInclusao.email %>
</p>

<p>
  <strong>Usuário de Bloqueio:</strong>
  <%= @sivic_discipulo.UsuarioBloqueio.email %>
</p>

<p>
  <strong>Orientação Sexual:</strong>
  <%= @sivic_discipulo.DESC_Sexo %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @sivic_discipulo.DATA_Nascimento %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @sivic_discipulo.DESC_Apelido %>
</p>

<p>
  <strong>Estado Civil:</strong>
  <%= @sivic_discipulo.DESC_EstadoCivil %>
</p>

<p>
  <strong>Nome do Conjuge:</strong>
  <%= @sivic_discipulo.NOME_Conjuge %>
</p>

<p>
  <strong>Data da Decisão:</strong>
  <%= @sivic_discipulo.DATA_Decisao %>
</p>

<p>
  <strong>Quantidade de Filhos:</strong>
  <%= @sivic_discipulo.NUMR_QtdFilhos %>
</p>

<p>
  <strong>Discípulo:</strong>
  <%= @sivic_discipulo.FLAG_Discipulo %>
</p>

<p>
  <strong>Ocasião em que recebeu Cristo:</strong>
  <%if @sivic_discipulo.FLAG_OcasiaoRecebeuCristo == 0%>
    Célula
  <%elsif @sivic_discipulo.FLAG_OcasiaoRecebeuCristo == 1%>
    Celebração Evento
  <%elsif @sivic_discipulo.FLAG_OcasiaoRecebeuCristo == 2%>
    Evangelismo Pessoal
  <%elsif @sivic_discipulo.FLAG_OcasiaoRecebeuCristo == 3%>
    Culto Livre
  <%end%>
</p>

<p>
  <strong>Trabalhando:</strong>
  <%= @sivic_discipulo.FLAG_Trabalhando %>
</p>

<p>
  <strong>Momento Estudo Bíblico:</strong>
  <%= @sivic_discipulo.DESC_MomentoEstudoBiblico %>
</p>

<p>
  <strong>RG:</strong>
  <%= @sivic_discipulo.NUMR_RG %>
</p>

<p>
  <strong>Data de Expedição:</strong>
  <%= @sivic_discipulo.DATA_EmissaoRG %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @sivic_discipulo.NUMR_CPF %>
</p>

<p>
  <strong>Nome do Pai:</strong>
  <%= @sivic_discipulo.NOME_Pai %>
</p>

<p>
  <strong>Nome da Mãe:</strong>
  <%= @sivic_discipulo.NOME_Mae %>
</p>

<p>
  <strong>Data de Nascimento do Conjuge:</strong>
  <%= @sivic_discipulo.DATA_NascConjuge %>
</p>

<p>
  <strong>Data de Casamento:</strong>
  <%= @sivic_discipulo.DATA_Casamento %>
</p>

<p>
  <strong>Titulo Eleitoral:</strong>
  <%= @sivic_discipulo.NUMR_TituloEleitoral %>
</p>

<p>
  <strong>Data Batismo:</strong>
  <%= @sivic_discipulo.DATA_Batismo %>
</p>

<p>
  <strong>Igreja de Batismo:</strong>
  <%= @sivic_discipulo.DESC_IgrejaBatismo %>
</p>

<p>
  <strong>Doador de Sangue:</strong>
  <%= @sivic_discipulo.FLAG_DoadorSangue %>
</p>

<p>
  <strong>Doador de Órgao:</strong>
  <%= @sivic_discipulo.FLAG_DoadorOrgao %>
</p>

</div>
</div>

<div class="btn-group">

  <%= link_to edit_sivic_discipulo_path(@sivic_discipulo), :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>
  <%= link_to sivic_discipulos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>
