<%if notice %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
     <%= notice %>
</div>
<%end%>

<% content_for :titlePage do %>
  Exibir Categoria
<% end %>

<%= render 'layouts/panel' %>


<p>
  <strong>Categoria Pai:</strong>
  <% @pai = SivicCategory.find_by_id(@sivic_category.father_id) %>
  <% if @pai != nil %>
    <%= SivicCategory.find_by_id(@sivic_category.father_id).nome_categoria%>
  <%else%>
      <%= nil%>
  <%end%>

</p>

<p>
  <strong>Nome categoria:</strong>
  <%= @sivic_category.nome_categoria %>
</p>


</div></div>
<div class="btn-group">

  <%= link_to edit_sivic_category_path(@sivic_category), :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>


  <%= link_to sivic_categories_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>
