<p id="notice"><%= notice %></p>

<p>
  <strong>Nome categoria:</strong>
  <%= @sivic_category.nome_categoria %>
</p>

<p>
  <strong>Tipo categoria:</strong>
  <%= @sivic_category.tipo_categoria %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_category.sivic_igreja %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_category.user %>
</p>

<%= link_to 'Edit', edit_sivic_category_path(@sivic_category) %> |
<%= link_to 'Back', sivic_categories_path %>
