<% content_for :titlePage do %>
  Lista de Contas
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome conta</th>
      <th>Agência</th>
      <th>Conta</th>
      <th>Dv</th>
      <th>Banco</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_contabancos.each do |sivic_contabanco| %>
      <tr>
        <td><%= sivic_contabanco.nome_conta %></td>
        <td><%= sivic_contabanco.numr_agencia %></td>
        <td><%= sivic_contabanco.numr_conta %></td>
        <td><%= sivic_contabanco.numr_dvconta %></td>
        <td><%= sivic_contabanco.sivic_banco.nome_banco %></td>      

         <td align='right'>   
          <%= link_to sivic_contabanco, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>             
          <%= link_to edit_sivic_contabanco_path(sivic_contabanco), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar" do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>

           <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_contabancos/<%=sivic_contabanco.id%>"  data-method="delete" data-confirm="Deseja   excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
            </a>       
        </td>


      </tr>
    <% end %>
  </tbody>
</table>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_contabanco_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>



<script>


$(function(){
  $("a[rel='tooltip']").tooltip();
})

</script>
