<p id="notice"><%= notice %></p>

<p>
  <strong>Nome conta:</strong>
  <%= @sivic_contabanco.nome_conta %>
</p>

<p>
  <strong>Numr agencia:</strong>
  <%= @sivic_contabanco.numr_agencia %>
</p>

<p>
  <strong>Numr conta:</strong>
  <%= @sivic_contabanco.numr_conta %>
</p>

<p>
  <strong>Numr dvconta:</strong>
  <%= @sivic_contabanco.numr_dvconta %>
</p>

<p>
  <strong>Sivic banco:</strong>
  <%= @sivic_contabanco.sivic_banco %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_contabanco.sivic_igreja %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_contabanco.User %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_contabanco.User %>
</p>

<p>
  <strong>Data exclusao:</strong>
  <%= @sivic_contabanco.data_exclusao %>
</p>

<%= link_to 'Edit', edit_sivic_contabanco_path(@sivic_contabanco) %> |
<%= link_to 'Back', sivic_contabancos_path %>
