<%= form_for(@sivic_rede) do |f| %>
  <% if @sivic_rede.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_rede.errors.count, "error") %> prohibited this sivic_rede from being saved:</h2>

      <ul>
      <% @sivic_rede.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :nome_rede %>
  </div>
  <div class="field">
    <%= f.label :sivic_igreja_id %><br>
    <%= f.text_field :sivic_igreja_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
