<% content_for :titlePage do %>
  Lista de Redes
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome rede</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_redes.each do |sivic_rede| %>
      <tr>
        <td><%= sivic_rede.nome_rede %></td>

       <td align='right'>     
          <%= link_to sivic_rede, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>             
          <%= link_to edit_sivic_rede_path(sivic_rede), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar" do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>           
           <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_redes/<%=sivic_rede.id%>" data-method="delete" data-confirm="Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
          </a>       
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="apple_pagination">
<%= will_paginate @sivic_redes %>
</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_rede_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>

