<%= form_for(@sivic_partevenrelacelula) do |f| %>
  <% if @sivic_partevenrelacelula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_partevenrelacelula.errors.count, "error") %> prohibited this sivic_partevenrelacelula from being saved:</h2>

      <ul>
      <% @sivic_partevenrelacelula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sivic_relatorioscelula %><br>
    <%= f.text_field :sivic_relatorioscelula_id %>
  </div>
  <div class="field">
    <%= f.label :sivic_participantecelula_id %><br>
    <%= f.text_field :sivic_participantecelula_id %>
  </div>
  <div class="field">
    <%= f.label :DESC_SituacaoParticipante %><br>
    <%= f.text_field :DESC_SituacaoParticipante %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
