<h1>Listing sivic_partevenrelacelulas</h1>

<table>
  <thead>
    <tr>
      <th>Sivic relatorioscelula</th>
      <th>Sivic participantecelula</th>
      <th>Desc situacaoparticipante</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_partevenrelacelulas.each do |sivic_partevenrelacelula| %>
      <tr>
        <td><%= sivic_partevenrelacelula.sivic_relatorioscelula.id %></td>
        <td><%= sivic_partevenrelacelula.sivic_participantecelula.NOME_Participante %></td>
        <td><%= sivic_partevenrelacelula.DESC_SituacaoParticipante %></td>
        <td><%= link_to 'Show', sivic_partevenrelacelula %></td>
        <td><%= link_to 'Edit', edit_sivic_partevenrelacelula_path(sivic_partevenrelacelula) %></td>
        <td><%= link_to 'Destroy', sivic_partevenrelacelula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sivic partevenrelacelula', new_sivic_partevenrelacelula_path %>
