<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic relatorioscelula:</strong>
  <%= @sivic_partevenrelacelula.sivic_relatorioscelula %>
</p>

<p>
  <strong>:</strong>
  <%= @sivic_partevenrelacelula. %>
</p>

<p>
  <strong>Sivic participantecelula:</strong>
  <%= @sivic_partevenrelacelula.sivic_participantecelula %>
</p>

<p>
  <strong>Desc situacaoparticipante:</strong>
  <%= @sivic_partevenrelacelula.DESC_SituacaoParticipante %>
</p>

<%= link_to 'Edit', edit_sivic_partevenrelacelula_path(@sivic_partevenrelacelula) %> |
<%= link_to 'Back', sivic_partevenrelacelulas_path %>
