<p id="notice"><%= notice %></p>

<p>
  <strong>Nome categoria:</strong>
  <%= @sivic_categorium.nome_categoria %>
</p>

<p>
  <strong>Tipo categoria:</strong>
  <%= @sivic_categorium.tipo_categoria %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_categorium.user %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_categorium.sivic_igreja %>
</p>

<%= link_to 'Edit', edit_sivic_categorium_path(@sivic_categorium) %> |
<%= link_to 'Back', sivic_categoria_path %>
