<%= form_for(@sivic_userpermissao) do |f| %>
  <% if @sivic_userpermissao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_userpermissao.errors.count, "error") %> prohibited this sivic_userpermissao from being saved:</h2>

      <ul>
      <% @sivic_userpermissao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sivic_permissao_id %><br>
    <%= f.text_field :sivic_permissao_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
