<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic permissao:</strong>
  <%= @sivic_userpermissao.sivic_permissao %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_userpermissao.user %>
</p>

<%= link_to 'Edit', edit_sivic_userpermissao_path(@sivic_userpermissao) %> |
<%= link_to 'Back', sivic_userpermissaos_path %>
