<%= form_for(@sivic_situacaodiscipulo) do |f| %>
  <% if @sivic_situacaodiscipulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_situacaodiscipulo.errors.count, "error") %> prohibited this sivic_situacaodiscipulo from being saved:</h2>

      <ul>
      <% @sivic_situacaodiscipulo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sivic_igreja_id %><br>
    <%= f.text_field :sivic_igreja_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :nome_situacao %><br>
    <%= f.text_field :nome_situacao %>
  </div>
  <div class="field">
    <%= f.label :data_exclusao %><br>
    <%= f.datetime_select :data_exclusao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
