<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic igrejas:</strong>
  <%= @sivic_situacaodiscipulo.sivic_igreja %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_situacaodiscipulo.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_situacaodiscipulo.user %>
</p>

<p>
  <strong>Nome situacao:</strong>
  <%= @sivic_situacaodiscipulo.nome_situacao %>
</p>

<p>
  <strong>Data exclusao:</strong>
  <%= @sivic_situacaodiscipulo.data_exclusao %>
</p>

<%= link_to 'Edit', edit_sivic_situacaodiscipulo_path(@sivic_situacaodiscipulo) %> |
<%= link_to 'Back', sivic_situacaodiscipulos_path %>
