<h1>Listing sivic_muduloescolas</h1>

<table>
  <thead>
    <tr>
      <th>Sivic igreja</th>
      <th>User</th>
      <th>Nome modulo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_muduloescolas.each do |sivic_muduloescola| %>
      <tr>
        <td><%= sivic_muduloescola.sivic_igreja %></td>
        <td><%= sivic_muduloescola.user %></td>
        <td><%= sivic_muduloescola.nome_modulo %></td>
        <td><%= link_to 'Show', sivic_muduloescola %></td>
        <td><%= link_to 'Edit', edit_sivic_muduloescola_path(sivic_muduloescola) %></td>
        <td><%= link_to 'Destroy', sivic_muduloescola, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sivic muduloescola', new_sivic_muduloescola_path %>
