<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_muduloescola.sivic_igreja %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_muduloescola.user %>
</p>

<p>
  <strong>Nome modulo:</strong>
  <%= @sivic_muduloescola.nome_modulo %>
</p>

<%= link_to 'Edit', edit_sivic_muduloescola_path(@sivic_muduloescola) %> |
<%= link_to 'Back', sivic_muduloescolas_path %>
