
<%=render '/layouts/finanbar' %>


<% content_for :titlePage do %>
Contas a Pagar
<% end %>

<table class="table table-hover table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Data</th>
      <th>Categoria</th>
      <th>Lançamento</th>
      <th>Valor</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_lancamentos.each do |sivic_lancamento| %>
      <tr>
        <td><%= (sivic_lancamento.data_vencimento.blank? ? '' : sivic_lancamento.data_vencimento.strftime("%d/%m/%Y")) %></td>
        <td><%= sivic_lancamento.sivic_category.nome_categoria %></td>
        <td><%= sivic_lancamento.nome_lancamento %></td>
        <td><%= number_to_currency(sivic_lancamento.valr_lancamento, unit: "R$", separator: ",", delimiter: "") %></td>

        <td align='right'>
          <div class="btn-group">

            <a class="btn btn-default btn-sm" onclick="buscaLancamento(<%= sivic_lancamento.id %>);">
                <span class="glyphicon glyphicon-pencil"></span>
                 Editar
            </a>
            <%= link_to sivic_lancamento , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>
          </div>
        </td>  

      </tr>
    <% end %>
  </tbody>
</table>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Totais</div>

  <!-- Table -->
  <table class="table">
  
    <tr>
      <td>
        Pagas(R$)
      </td>
      <td>
        <spam style="color:rgb(211, 47, 47);"><%= number_to_currency(@total_pago, unit: "R$", separator: ",", delimiter: ".") %></spam>
      </td>
    </tr>
    <tr>
      <td>
        A Pagar(R$)
      </td>
      <td>
        <spam style="color:rgb(211, 47, 47);"><%= number_to_currency(@a_pagar, unit: "R$", separator: ",", delimiter: ".") %></spam>
      </td>
    </tr>

    <tr>
      <td>
        Vencidas(R$)
      </td>
      <td>
        <b><spam style="color:rgb(211, 47, 47);"><%= number_to_currency(@vencidas, unit: "R$", separator: ",", delimiter: ".") %></spam></b>
      </td>
    </tr>

    <tr>
      <td>
        Total de Pagamnetos(R$)
      </td>
      <td>
        <b><spam style="color: rgb(56, 90, 122);"><%= number_to_currency(@total_lancamentos, unit: "R$", separator: ",", delimiter: ".") %></label></b>
      </td>
    </tr>            
  
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title" id="myModalLabel">Novo Pagamento</h4>
      </div>
      <div class="modal-body">
        
        <div id = "alert_placeholder"></div>  
        <div class="row">
          <div class="col-xs-6">
              <spam>Descrição</spam>
              <input id="nome_lancamento" name="nome_lancamento" type="text" class="form-control" placeholder="Descrição do lançamento"> 
          </div>

          <div class="col-xs-6">
              <spam>Categoria</spam>
              <%=  fields_for :sivic_category do |f| %>
                <%= f.select :sivic_category_id, options_from_collection_for_select(SivicCategory.all, 'id', 'nome_categoria'),{:include_blank => true},{ :class =>  'form-control'}%>
              <% end %>
          </div>
        </div>
        </br>
        <div class="row">

            <div class='col-sm-4'>
              <spam>Data Vencimento</spam>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input id="data_vencimento" name="data_vencimento" type='text' class="form-control" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

          <div class="col-xs-8">
              <spam>Conta</spam>
              <%=  fields_for :sivic_contabancos do |f| %>
                <%= f.select :sivic_conta_id, options_from_collection_for_select(SivicContabanco.all, 'id', 'nome_conta'),{:include_blank => true},{ :class =>  'form-control'}%>
              <% end %>          
          </div>          
        </div>

        <div class="row">
          <div class="col-xs-4">
              <spam>Valor</spam>
              <input id="valr_lancamento" name="valr_lancamento" type="text" class="form-control"> 
          </div>
        </div>

        <hr>

        <div style="margin-left:10px;">

          <div class="row">
            <div class="col-xs-2">
              <div class="checkbox">
                <label>
                  <input id="chkRepetir" type="checkbox" onclick="desabilitarepetir();"> Repetir
                </label>
              </div>
            </div>
            <div class="col-xs-4">
              <select id="selTemporizador" class="form-control" disabled="disabled">
                <option value='D'>Diariamente</option>
                <option value='S'>Semanalmente</option>
                <option value='M'>Mensalmente</option>
                <option value='B'>Bimestralmente</option>
                <option value='T'>Trimestralmente</option>
                <option value='SM'>Semestralmente</option>
                <option value='A'>Anualmente</option>
              </select>
            </div>
              
            <div class="col-xs-2">
              <spam id="lblnumr_recorrencia" style="color:gray;">Ocorrência:</spam>
            </div>            
            <div class="col-xs-2">
              <input id="numr_recorrencia" name="numr_recorrencia" type="text" class="form-control" disabled="disabled"> 
            </div>            

          </div>

          <hr>

          <div class="row">
            <div class="col-xs-2">
              <div class="checkbox">
                <label>
                  <input id="chkPago" type="checkbox" value='True' onclick="desabilitapago();"> Pago
                </label>
              </div>
            </div>
            <div class='col-sm-4'>
              <spam id="lbldata_pagamento" style="color:gray;" >Data Pagamento</spam>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <input id="data_pagamento" name="data_pagamento" type='text' class="form-control" disabled="disabled"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
                
            <div class="col-xs-3">
              <spam id="lblvalr_descontotaxa" style="color:gray;">Descontos/Taxas:</spam>
              <input id="valr_descontotaxa" name="valr_descontotaxa" type="text" class="form-control" disabled="disabled" value="0,00"> 
            </div>             
            <div class="col-xs-3">
              <spam id="lblvalr_jurosmulta" style="color:gray;">Juros/Multa:</spam>
              <input id="valr_jurosmulta" name="valr_jurosmulta" type="text" class="form-control" disabled="disabled" value="0,00"> 
            </div>             
          </div>  
          <div class="row">
            <div class="col-xs-2">
            </div>             
            <div class="col-xs-4">
              <spam id="lblvalr_pago" style="color:gray;">Valor Pago</spam>
              <input id="valr_pago" name="valr_pago" type="text" class="form-control" disabled="disabled" value="0,00">
            </div> 
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button id="bntSalvar" type="button" class="btn btn-primary" onclick="validates();">Savar Pagamento</button>
      </div>
    </div>
  </div>
</div>

</div></div>
</div>

<script>

function buscaLancamento(id){

  $.ajax({
    url: '<%= busca_lancamento_path %>',
    data : 
    {
        id : id
    },

    success: function(data){
          
        //alert_boot('Pagamento salvo com sucesso.','success');

        var options = "";
        for (var i in data) {
          var item = data[i];

        $('#nome_lancamento').val(item.nome_lancamento);
        $('#sivic_category_sivic_category_id').val(item.sivic_category_id);
        $('#data_vencimento').val(item.data_vencimento);
        $('#sivic_conta_id').val(item.sivic_contabanco_id);
        $('#data_pagamento').val(item.data_pagamento);

        //valores monetários
        $("#valr_pago").val(item.valr_pago);
        ///$("#valr_pago").maskMoney('mask', item.valr_pago);
        $("#valr_jurosmulta").val(item.valr_jurosmulta);
        //$("#valr_jurosmulta").maskMoney('mask', item.valr_jurosmulta);
        $("#valr_descontotaxa").val(item.valr_descontotaxa);
        //$("#valr_descontotaxa").maskMoney('mask', item.valr_descontotaxa);
        $("#valr_lancamento").val(item.valr_lancamento);
        //$("#valr_lancamento").maskMoney('mask', item.valr_lancamento);
        };

        //Desativar função de repetir
        $("#chkRepetir").removeAttr("disabled");
        $("#chkRepetir").attr("disabled", true);
        $('#numr_recorrencia').prop( "disabled", true );
        $('#selTemporizador').prop( "disabled", true );
        $("#lblnumr_recorrencia").css("color", "gray");

        //mascarando datas
        $("#data_vencimento").mask("99/99/9999");
        $("#data_pagamento").mask("99/99/9999");

        //abre o modal
        $('#myModal').modal('show');

    }
  })          

}


$(function() {
  $('#datetimepicker2').datetimepicker({language: 'pt', pickTime: false});
  $('#datetimepicker1').datetimepicker({language: 'pt', pickTime: false});      
  $("#valr_lancamento").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $("#valr_descontotaxa").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $("#valr_jurosmulta").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $("#valr_pago").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  $('#myModal').on('hidden.bs.modal', function (e) { location.reload();})
  $("#data_vencimento").mask("99/99/9999");
  $("#data_pagamento").mask("99/99/9999");
})

function validates(){


  if ($('#nome_lancamento').val() == ""){
    alert_boot('Digite um nome para o lançamento','danger');
    return false;
  }
  if ($('#sivic_category_sivic_category_id').val() == ""){
    alert_boot('Escolha uma categoria para o lançamento.','warning')
    return false;
  }  
  if ($('#data_vencimento').val() == ""){
    alert_boot('Digite uma data de vencimento.','warning')
    return false;
  }   
  if ($('#sivic_contabancos_sivic_conta_id').val() == ""){
    alert_boot('Escolha uma conta.','warning')
    return false;
  }    
  if ($('#valr_lancamento').val() == ""){
    alert_boot('Digite o valor do lançamento.','warning')
    return false;
  }  

  if($('#chkRepetir').is(':checked') == true){

      if ($('#numr_recorrencia').val() == ""){
        alert_boot('Digite a quantidade de parcela no campo recorrência.','warning')
        return false;
      }  

  }

  if($('#chkPago').is(':checked') == true){

      if ($('#data_pagamento').val() == ""){
        alert_boot('Digite a data do pagamento.','warning')
        return false;
      }  

      if ($('#valr_pago').val() == ""){
        alert_boot('Digite o valor pago.','warning')
        return false;
      }  

  }

  salvapagamento();

}

function salvapagamento() {

var pago;

if($('#chkPago').is(':checked') == true){
  pago = 'True';
}  else {
  pago = 'False';
}
  
  $.ajax({
    url: '<%= inserePagamento_path %>',
    data : 
    {
        nome_lancamento : $('#nome_lancamento').val()
        ,sivic_category_id : $('#sivic_category_sivic_category_id').val()
        ,data_vencimento : $('#data_vencimento').val()
        ,sivic_contabanco_id : $('#sivic_contabancos_sivic_conta_id').val()
        ,valr_lancamento : $('#valr_lancamento').val()
        ,numr_temporizador : $('#selTemporizador').val()
        ,numr_recorrencia : $('#numr_recorrencia').val()
        ,data_pagamento : $('#data_pagamento').val()
        ,valr_descontotaxa : $('#valr_descontotaxa').val()
        ,valr_jurosmulta : $('#valr_jurosmulta').val()
        ,chkPago : pago
        ,valr_pago : $('#valr_pago').val()
    },
    success: function(data){
          
        alert_boot('Pagamento salvo com sucesso.','success');

        $('#nome_lancamento').val('');
        $('#sivic_category_sivic_category_id').val('');
        $('#data_vencimento').val('');
        $('#sivic_conta_id').val('');
        $('#valr_lancamento').val('');
        $('#selTemporizador').val('');
        $('#numr_recorrencia').val('');
        $('#data_pagamento').val('');
        $('#valr_descontotaxa').val('');
        $('#valr_jurosmulta').val('');
        $('#valr_pago').val('');

    }
  })  
}



function desabilitapago(){

  if($('#chkPago').is(':checked') == true){

    $('#data_pagamento').prop( "disabled", false );
    $('#valr_descontotaxa').prop( "disabled", false );
    $('#valr_jurosmulta').prop( "disabled", false );
    $('#valr_pago').prop( "disabled", false );
    $("#lbldata_pagamento").css("color", "black");
    $("#lblvalr_descontotaxa").css("color", "black");
    $("#lblvalr_jurosmulta").css("color", "black");
    $("#lblvalr_pago").css("color", "black");

  } else {
    $('#data_pagamento').prop( "disabled", true );
    $('#valr_descontotaxa').prop( "disabled", true );
    $('#valr_jurosmulta').prop( "disabled", true );
    $('#valr_pago').prop( "disabled", true );
    $("#lbldata_pagamento").css("color", "gray");
    $("#lblvalr_descontotaxa").css("color", "gray");
    $("#lblvalr_jurosmulta").css("color", "gray");
    $("#lblvalr_pago").css("color", "gray");
  }

}

function desabilitarepetir(){

  if($('#chkRepetir').is(':checked') == true){

    $('#numr_recorrencia').prop( "disabled", false );
    $('#selTemporizador').prop( "disabled", false );
    $("#lblnumr_recorrencia").css("color", "black");

  } else {
    $('#numr_recorrencia').prop( "disabled", true );
    $('#selTemporizador').prop( "disabled", true );
    $("#lblnumr_recorrencia").css("color", "gray");
  }
  
}


function alert_boot(message,color) {

  $('#alert_placeholder').html('<div class="alert alert-'+color+'" role="alert">'+message+'<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> </div>')
}

</script>