<p id="notice"><%= notice %></p>

<p>
  <strong>Nome lancamento:</strong>
  <%= @sivic_lancamento.nome_lancamento %>
</p>

<p>
  <strong>Valr lancamento:</strong>
  <%= @sivic_lancamento.valr_lancamento %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <%= @sivic_lancamento.data_vencimento %>
</p>

<p>
  <strong>Data competencia:</strong>
  <%= @sivic_lancamento.data_competencia %>
</p>

<p>
  <strong>Flag pago:</strong>
  <%= @sivic_lancamento.flag_pago %>
</p>

<p>
  <strong>Flag dizimo:</strong>
  <%= @sivic_lancamento.flag_dizimo %>
</p>

<p>
  <strong>Numr recorrencia:</strong>
  <%= @sivic_lancamento.numr_recorrencia %>
</p>

<p>
  <strong>Sivic category:</strong>
  <%= @sivic_lancamento.sivic_category %>
</p>

<p>
  <strong>Sivic centrocusto:</strong>
  <%= @sivic_lancamento.sivic_centrocusto %>
</p>

<p>
  <strong>Sivic rede:</strong>
  <%= @sivic_lancamento.sivic_rede %>
</p>

<p>
  <strong>Sivic tipmovfinanceiro:</strong>
  <%= @sivic_lancamento.sivic_tipmovfinanceiro %>
</p>

<p>
  <strong>Sivic pessoa:</strong>
  <%= @sivic_lancamento.sivic_pessoa %>
</p>

<p>
  <strong>Sivic fornecedor:</strong>
  <%= @sivic_lancamento.sivic_fornecedor %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_lancamento.sivic_igreja %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_lancamento.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_lancamento.user %>
</p>

<p>
  <strong>Data exclusao:</strong>
  <%= @sivic_lancamento.data_exclusao %>
</p>

<%= link_to 'Edit', edit_sivic_lancamento_path(@sivic_lancamento) %> |
<%= link_to 'Back', sivic_lancamentos_path %>
