<% content_for :titlePage do %>
  Lista de Disciplina
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome Disciplina</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_moduloescolas.each do |sivic_moduloescola| %>
      <tr>
        <td><%= sivic_moduloescola.nome_modulo %></td>

      <td align='right'>   
          <%= link_to sivic_moduloescola, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>             
          <%= link_to edit_sivic_moduloescola_path(sivic_moduloescola), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar" do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
                 
           <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_moduloescolas/<%=sivic_moduloescola.id%>"     data-method="delete" data-confirm="Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
            </a>       
      </td>

      </tr>
    <% end %>
  </tbody>
</table>
</div></div>
<div class="btn-group">
  <%= link_to new_sivic_moduloescola_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>


<script>

$(function(){
  $("a[rel='tooltip']").tooltip();
})

</script>