<p id="notice"><%= notice %></p>
<% content_for :titlePage do %>
  Exibit Modulo
<% end %>

<%= render 'layouts/panel' %>

<p>
  <strong>Nome Módulo:</strong>
  <%= @sivic_moduloescola.nome_modulo %>
</p>

<%= link_to 'Edit', edit_sivic_moduloescola_path(@sivic_moduloescola) %> |
<%= link_to 'Back', sivic_moduloescolas_path %>
