<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_moduloescola.sivic_igreja %>
</p>

<p>
  <strong>User:</strong>
  <%= @sivic_moduloescola.user %>
</p>

<p>
  <strong>Nome modulo:</strong>
  <%= @sivic_moduloescola.nome_modulo %>
</p>

<%= link_to 'Edit', edit_sivic_moduloescola_path(@sivic_moduloescola) %> |
<%= link_to 'Back', sivic_moduloescolas_path %>
