<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic relatorioscelulas:</strong>
  <%= @observacoesrelatorio.sivic_relatorioscelulas %>
</p>

<p>
  <strong>Sivic pessoas:</strong>
  <%= @observacoesrelatorio.sivic_pessoas %>
</p>

<p>
  <strong>Desc observacao:</strong>
  <%= @observacoesrelatorio.DESC_Observacao %>
</p>

<%= link_to 'Edit', edit_observacoesrelatorio_path(@observacoesrelatorio) %> |
<%= link_to 'Back', observacoesrelatorios_path %>
