<%= form_for(@sivic_professor) do |f| %>
  <% if @sivic_professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_professor.errors.count, "error") %> prohibited this sivic_professor from being saved:</h2>

      <ul>
      <% @sivic_professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="containermininmo">
  <table style="width:40%" align='center'>
    <tr>
      <td>
        <div class="field">
          <%= f.label :sivic_pessoa_id %>
          <%= f.text_field :sivic_pessoa_id %>
        </div>
      </td>
    </tr>
  </table>
    <!--Capturando Usuario logado-->
    <%=f.hidden_field :user_inclusao, :value => current_user.id%>  

    <%=render '/layouts/iconsalvar' %>

<% end %>
