<%= form_for(@sivic_professor) do |f| %>
  <% if @sivic_professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_professor.errors.count, "error") %> prohibited this sivic_professor from being saved:</h2>

      <ul>
      <% @sivic_professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sivic_pessoa_id %><br>
    <%= f.text_field :sivic_pessoa_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :DATA_bloqueio %><br>
    <%= f.datetime_select :DATA_bloqueio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
