<% content_for :titlePage do %>
  Professores
<% end %>

<%=render '/layouts/panel' %>

<table style="width:26%;">
  <tr>
    <td>
      <label >Situação</label>
      <select id='sivic_professor_situacao_id' class="form-control">
        <option value='0'></option>
        <option value='0'>ATIVOS</option>
        <option value='1'>BLOQUEADOS</option>
        <option value='2'>TODOS</option>        
    </td>
    <td>
      <div style='margin-top:22px;'>
        <a data-toggle="modal" href="javascript:chamaPesquisa();" class="btn btn-info" style="">Buscar</a><br/>
      </div>
    </td>
  </tr>
</table>

 <hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Professor</th>
      <th>Data bloqueio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_professors.each do |sivic_professor| %>
      <tr>
        <td><%= sivic_professor.sivic_pessoa.NOME_pessoa %></td>  
        <td><%= sivic_professor.DATA_bloqueio.blank? ? '' : sivic_professor.DATA_bloqueio.strftime("%d/%m/%Y") %></td>
        <td><%= link_to image_tag('show.png', :title => 'Exibir', class: 'exibirico') , sivic_professor %></td>
        <td><%= link_to image_tag('edit.png', :title => 'Editar',  class: 'exibirico') ,  edit_sivic_professor_path(sivic_professor) %></td>
        <td><%= link_to image_tag('trash.png', :title => 'Excluir',  class: 'exibirico'), sivic_professor , :method => :delete,  :confirm => 'Deseja excluir o registro?'%></td>

         <td> <%= link_to_function  image_tag('block.png', :title => 'Bloquear', class: 'exibirico'), "var r = confirm('Deseja bloquear o professor?'); if (r == true){encerrar('#{sivic_professor.id}')}else{}"%></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div></div>
<div class="btn-group">
  <%= link_to new_sivic_professor_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>





<script>

function chamaPesquisa(){

    nome = $('#NOME_pessoa_buscar').val()
    situacao = $('#sivic_professor_situacao_id').val().trim();

    if (situacao == "0" && situacao == ""){
      window.location = '/sivic_professors/';
      return false;
    }

    if (situacao == ""){
        situacao = 0;
    }

    if (nome == ""){
      nome = 0;
    }    

    window.location = '/filtraprofessor/' + situacao;

  }

function encerrar(id){
      

     $.ajax({
        url : '<%= bloqueaProfessor_path %>',
        data :
        {
          id : id
          ,user_bloqueio : '<%= current_user.id %>'
        },
        success: function(data){
            document.location.reload();
          }
     })  
  }

</script>
