<% content_for :titlePage do %>
  Professores
<% end %>

<%=render '/layouts/panel' %>

<table style="width:26%;">
  <tr>
    <td>
      <label >Situação</label>
      <select id='sivic_professor_situacao_id' class="form-control">
        <option value='0'></option>
        <option value='0'>ATIVOS</option>
        <option value='1'>BLOQUEADOS</option>
        <option value='2'>TODOS</option>        
    </td>
    <td>
      <div style='margin-top:22px;'>
        <a data-toggle="modal" href="javascript:chamaPesquisa();" class="btn btn-info" style="">Buscar</a><br/>
      </div>
    </td>
  </tr>
</table>

 <hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Professor</th>
      <th>Data bloqueio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_professors.each do |sivic_professor| %>
      <tr>
        <td><%= sivic_professor.sivic_pessoa.nome_pessoa %></td>  
        <td><%= sivic_professor.DATA_bloqueio.blank? ? '' : sivic_professor.DATA_bloqueio.strftime("%d/%m/%Y") %></td>

         <td align='right'>   
          <%= link_to sivic_professor, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>             
          <!--<%= link_to edit_sivic_professor_path(sivic_professor), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar" do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>-->
          

        <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/bloqueaProfessor<%=sivic_professor.id%>"    
               data-confirm="Deseja desbloquear o professor?" data-original-title="Bloquear">
                  <span class="glyphicon glyphicon-ban-circle" rel="tooltip"></span>
        </a>

                
        <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/desbloqueaProfessor<%=sivic_professor.id%>"    
            data-confirm="Deseja bloquear o professor?" data-original-title="Desbloquear">
            <span class="glyphicon glyphicon-ok-circle" rel="tooltip"></span>
        </a>



       

          

            <!--<a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_professors/<%=sivic_professor.id%>"    
               data-method="delete" data-confirm=" Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
            </a> -->          
        </td>

      </tr>
    <% end %>
  </tbody>
</table>


</div></div>
<div class="btn-group">
  <%= link_to new_sivic_professor_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>





<script>

function chamaPesquisa(){

    nome = $('#NOME_pessoa_buscar').val()
    situacao = $('#sivic_professor_situacao_id').val().trim();

    if (situacao == "0" && situacao == ""){
      window.location = '/sivic_professors/';
      return false;
    }

    if (situacao == ""){
        situacao = 0;
    }

    if (nome == ""){
      nome = 0;
    }    

    window.location = '/filtraprofessor/' + situacao;

  }



$(function(){
  $("a[rel='tooltip']").tooltip();
})


</script>
