<% content_for :titlePage do %>
  Listar Fechamentos
<% end %>


<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Valor Fechado</th>
      <th>Data</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_fechamentos.each do |sivic_fechamento| %>
      <tr>
        <td><%= sivic_fechamento.desc_fechamento %></td>
        <td><%= number_to_currency(sivic_fechamento.valr_fechamento, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td><%= sivic_fechamento.data_fechamento.blank? ? '' : sivic_fechamento.data_fechamento.strftime("%d/%m/%Y")  %></td>

        <td align='right'>
          <div class="btn-group">
            <%= link_to sivic_fechamento, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Exibir 
            <% end %>             
            <%= link_to edit_sivic_fechamento_path(sivic_fechamento), :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span> Editar 
            <% end %>              
              <%= link_to sivic_fechamento , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir 
              <% end %>           
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_fechamento_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>

