<h1>Cadastro de Profissões</h1>

<table>
  <thead>
    <tr>
      <th>Profissao</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_profissaos.each do |sivic_profissao| %>
      <tr>
        <td><%= sivic_profissao.profissao %></td>
        <td><%= link_to 'Listar', sivic_profissao %></td>
        <td><%= link_to 'Editar', edit_sivic_profissao_path(sivic_profissao) %></td>
        <td><%= link_to 'Deletar', sivic_profissao, method: :delete, data: { confirm: 'Deseja deletar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Profissao', new_sivic_profissao_path %>
