<% content_for :titlePage do %>
 <div center> Lista de Atividades</div>
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome Atividade</th>
      <th>Data Bloqueio</th>
      <th>Periodicidade</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_atividades.each do |sivic_atividade| %>
      <tr>
        <td><%= sivic_atividade.nome_atividade %></td>
        <td><%= sivic_atividade.data_bloqueio %></td>
        <td><%= sivic_atividade.sivic_periodicidadeconso %></td>
      
        <td align='right'>   
          <%= link_to sivic_atividade, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>             
          <%= link_to edit_sivic_atividade_path(sivic_atividade), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar" do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
                      
           <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_atividades/<%=sivic_atividade.id%>"     data-method="delete" data-confirm="Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
            </a>       
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div></div>
<div class="btn-group">
  <%= link_to new_sivic_atividade_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>


<script>


$(function(){
  $("a[rel='tooltip']").tooltip();
})

</script>
