<% content_for :titlePage do %>
 <div center> Lista de Atividades</div>
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome atividade</th>
      <th>Desc atividade</th>
      <th>Data bloqueio</th>
      <th>Data exclusao</th>
      <th>Sivic periodicidadeconso</th>
      <th>Sivic igreja</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_atividades.each do |sivic_atividade| %>
      <tr>
        <td><%= sivic_atividade.nome_atividade %></td>
        <td><%= sivic_atividade.desc_atividade %></td>
        <td><%= sivic_atividade.data_bloqueio %></td>
        <td><%= sivic_atividade.data_exclusao %></td>
        <td><%= sivic_atividade.sivic_periodicidadeconso %></td>
        <td><%= sivic_atividade.sivic_igreja %></td>
        <td><%= sivic_atividade.User %></td>
        <td><%= link_to 'Show', sivic_atividade %></td>
        <td><%= link_to 'Edit', edit_sivic_atividade_path(sivic_atividade) %></td>
        <td><%= link_to 'Destroy', sivic_atividade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div></div>
<div class="btn-group">
  <%= link_to new_sivic_atividade_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>


<script>


$(function(){
  $("a[rel='tooltip']").tooltip();
})

</script>
