<%if notice %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
     <%= notice %>
</div>
<%end%>

<% content_for :titlePage do %>
  Exibir Atividades
<% end %>

<%= render 'layouts/panel' %>

<p>
  <strong>Nome atividade:</strong>
  <%= @sivic_atividade.nome_atividade %>
</p>

<p>
  <strong>Desc atividade:</strong>
  <%= @sivic_atividade.desc_atividade %>
</p>

<p>
  <strong>Data bloqueio:</strong>
  <%= @sivic_atividade.data_bloqueio.blank? ? '' : @sivic_atividade.data_bloqueio.strftime("%d/%m/%Y")%>
</p>


<p>
  <strong>Sivic periodicidadeconso:</strong>
  <%= @sivic_atividade.sivic_periodicidadecon.desc_periodicidade %>
</p>


</div></div>
<div class="btn-group">

  <%= link_to edit_sivic_atividade_path(@sivic_atividade), :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> Editar
  <% end %>


  <%= link_to sivic_atividades_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>