<p id="notice"><%= notice %></p>

<% content_for :titlePage do %>
  Nova lição
<% end %>

<%= render 'layouts/panel' %>

<p>
  <strong>Turma:</strong>
  <%= @sivic_turmamoduloprofessor.sivic_turma.DESC_turma %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @sivic_turmamoduloprofessor.sivic_moduloescola.nome_modulo %>
</p>

<hr>
 <div class="field">
    <a data-toggle="modal" href="#myModal" class="btn btn-success">Nova Lição</a>
  </div>
<hr>

<table class="table table-hover" id="tlblicao" name="tlblicao">
  <thead>
    <tr>
      <th>Licão</th>
      <th></th>     
    </tr>
  </thead>
  <tbody id ="idbodylicao">
      <tr>
      </tr>
  </tbody>
</table>

</div></div>

<div class="btn-group">

  <%= link_to sivic_licaos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cadastrar Lição</h4>
      </div>
      <div class="modal-body">

       <table id="table_evento" name="table_evento" class="table table-hover" onload="buscaEvento()">
        <%@sivic_licao = SivicLicao.new%>
       	<%= form_for(@sivic_licao) do |f| %>
 
      <div class="row">
        <div class="col-xs-12">
    		  <div class="field">
    		    <%= f.label :nome_licao %><br>
    		    <%= f.text_field :nome_licao, :class =>  'form-control'%>
    		  </div>
        </div>
      </div>
       
       <%= f.hidden_field :sivic_turmamoduloprofessor_id, :value => @sivic_turmamoduloprofessor.id %>
		   <%= f.hidden_field :user_inclusao, :value => current_user.id %>
		   <%= f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id %>

		<% end %>		 
       
        </table>
      </div>

      <div class="modal-footer">
      <div class="row">
         
          <div class="col-xs-2">
              <a data-toggle="modal" href="javascript:createLicao(this.value);" class="btn btn-success">Cadastrar</a>
          </div>
          
          <div class="col-xs-8">
          </div>

           <div class="col-xs-2">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
          </div>
          </div>        
       </div> 

      </div>
    </div>
  </div>


<script>


    function createLicao(){
        
       $.ajax({
        url: '<%= criarLicao_path %>',
        data :
        {
           nome_licao : $('#sivic_licao_nome_licao').val()
          ,sivic_igreja_id : $('#sivic_licao_sivic_igreja_id').val()
          ,sivic_turmamoduloprofessor_id: $('#sivic_licao_sivic_turmamoduloprofessor_id').val()
          ,user_inclusao : $('#sivic_licao_user_inclusao').val()
        },

       success: function(data){
          buscaLicao()
          $('#myModal').modal('hide');
         } 
       })      
     }

     function buscaLicao(){
       $.ajax({
        url : '<%=buscaLicao_path %>',
        data :
        {
          sivic_turmamoduloprofessor_id: $('#sivic_licao_sivic_turmamoduloprofessor_id').val()
         },
           success: function(data){         
        $('#idbodylicao ').empty();
         for (var i in data){
              var item = data[i];

           $('#tlblicao').append('<tr><td>'+item.nome_licao+'</td><td><a data-confirm="Deseja Excluir o registro?" data-method="delete" href="/sivic_licaos/'+item.id+'" rel="nofollow" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Excluir</a></td></tr>')
           };   
         }
       })     
   }

   buscaLicao()

</script>

