<%= form_for(@sivic_escolaridade) do |f| %>
  <% if @sivic_escolaridade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_escolaridade.errors.count, "error") %> prohibited this sivic_escolaridade from being saved:</h2>

      <ul>
      <% @sivic_escolaridade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="containermininmo">
  <table style="width:20%" align='center'>
    <tr>
      <td>
        <div class="field">
          <%= f.label :NOME_escolaridade %>
          <%= f.text_field :NOME_escolaridade, :class => 'form-control-3' %>
        </div>
      </td>
    </tr>
  </table>
  <%=render '/layouts/iconsalvar' %>
<% end %>
