<h1>Lista de Escolaridade</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome escolaridade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_escolaridades.each do |sivic_escolaridade| %>
      <tr>
        <td><%= sivic_escolaridade.NOME_escolaridade %></td>
        <td><%= link_to 'Exibir', sivic_escolaridade %></td>
        <td><%= link_to 'Editar', edit_sivic_escolaridade_path(sivic_escolaridade) %></td>
        <td><%= link_to 'Deletar', sivic_escolaridade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cadastro de Escolaridade', new_sivic_escolaridade_path %>
