<p id="notice"><%= notice %></p>

<p>
  <strong>Numr contador:</strong>
  <%= @sivic_contdiscipulo.NUMR_Contador %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_contdiscipulo.sivic_igreja %>
</p>

<%= link_to 'Edit', edit_sivic_contdiscipulo_path(@sivic_contdiscipulo) %> |
<%= link_to 'Back', sivic_contdiscipulos_path %>
