<p id="notice"><%= notice %></p>

<p>
  <strong>Sivic moduloescola:</strong>
  <%= @sivic_moduloturma.sivic_moduloescola %>
</p>

<p>
  <strong>Sivic turma:</strong>
  <%= @sivic_moduloturma.sivic_turma %>
</p>

<%= link_to 'Edit', edit_sivic_moduloturma_path(@sivic_moduloturma) %> |
<%= link_to 'Back', sivic_moduloturmas_path %>
