<p id="notice"><%= notice %></p>

<p>
  <strong>Desc bairro:</strong>
  <%= @sivic_endereco.DESC_Bairro %>
</p>

<p>
  <strong>Desc rua:</strong>
  <%= @sivic_endereco.DESC_Rua %>
</p>

<p>
  <strong>Desc complemento:</strong>
  <%= @sivic_endereco.DESC_Complemento %>
</p>

<p>
  <strong>Desc pontoreferencia:</strong>
  <%= @sivic_endereco.DESC_Pontoreferencia %>
</p>

<p>
  <strong>Numr cep:</strong>
  <%= @sivic_endereco.NUMR_Cep %>
</p>

<p>
  <strong>Sivic cidade:</strong>
  <%= @sivic_endereco.sivic_cidade %>
</p>

<%= link_to 'Edit', edit_sivic_endereco_path(@sivic_endereco) %> |
<%= link_to 'Back', sivic_enderecos_path %>
