<% content_for :titlePage do %>
  Lista de Ministerios
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_ministerios.each do |sivic_ministerio| %>
      <tr>
        <td><%= sivic_ministerio.nome_ministerio %></td>
        <td><%= sivic_ministerio.sigl_ministerio %></td>
        <td align='right'>
            <%= link_to sivic_ministerio, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
            <% end %>             
            <%= link_to edit_sivic_ministerio_path(sivic_ministerio), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>             

            <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_ministerios/<%=sivic_ministerio.id%>  "data-method="delete" data-confirm="Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
            </a>   

        </td>             
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
<%= will_paginate @sivic_ministerios %>
</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_ministerio_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>

<script>


$(function(){
  $("a[rel='tooltip']").tooltip();
})

</script>