<% content_for :titlePage do %>
  Lista de Ministerios
<% end %>

<%=render '/layouts/panel' %>

<div class="containermininmo">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th style='width:500px;'></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_ministerios.each do |sivic_ministerio| %>
      <tr>
        <td><%= sivic_ministerio.nome_ministerio %></td>
        <td><%= sivic_ministerio.sigl_ministerio %></td>
        <td></td>
        <td><%= link_to image_tag('show.png', :title => 'Exibir', class: 'exibirico') , sivic_ministerio %></td>
        <td><%= link_to image_tag('edit.png', :title => 'Editar',  class: 'exibirico') , edit_sivic_ministerio_path(sivic_ministerio) %></td>
        <td><%= link_to image_tag('trash.png', :title => 'Excluir',  class: 'exibirico'), sivic_ministerio , :method => :delete,  :confirm => 'Deseja excluir o registro?'%></td>
                  
      </tr>
    <% end %>
  </tbody>
</table>

</div>

</div></div>

<table style="margin-top:10px;">
  <tr>
    <td align="center" style="width:50px;">
      <%= link_to image_tag('new.png', :title => 'Novo', class: "exibirico") , new_sivic_ministerio_path %>
    </td>
  </tr>
  <tr>
    <td align="center" style="width:20px;">
      <label class="altBotoes">Novo</label>
    </td>
  </tr> 
</table>

