<% content_for :titlePage do %>
  Disciplinas
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Turma</th>
      <th>Curso</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_turmamoduloprofessors.each do |sivic_turmamoduloprofessor| %>
      <tr>
        <td><%= sivic_turmamoduloprofessor.sivic_moduloescola.nome_modulo %></td>
        <td><%= sivic_turmamoduloprofessor.sivic_turma.DESC_turma %></td>
        <td><%= sivic_turmamoduloprofessor.sivic_turma.sivic_curso.nome_curso %></td>

        <td align='right'>
        <div class="btn-group">
          <%= link_to sivic_turmamoduloprofessor, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-play"></span> Nova Lição
          <% end %>             
           <%= link_to bloqueaTurma_path(sivic_turmamoduloprofessor), :confirm => 'Deseja bloquear a turma?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-forward"></span> Nova Aula
            <% end %>                       
        </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div></div>
<div class="btn-group">
  <%= link_to new_sivic_licao_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>