<p id="notice"><%= notice %></p>

<p>
  <strong>Numr contador:</strong>
  <%= @sivic_contcelula.NUMR_Contador %>
</p>

<p>
  <strong>Sivic igreja:</strong>
  <%= @sivic_contcelula.sivic_igreja %>
</p>

<%= link_to 'Edit', edit_sivic_contcelula_path(@sivic_contcelula) %> |
<%= link_to 'Back', sivic_contcelulas_path %>
