<p id="notice"><%= notice %></p>

<p>
  <strong>Nome igreja:</strong>
  <%= @sivic_inscricao.nome_igreja %>
</p>

<p>
  <strong>Nome pessoa:</strong>
  <%= @sivic_inscricao.nome_pessoa %>
</p>

<p>
  <strong>Desc telefone:</strong>
  <%= @sivic_inscricao.desc_telefone %>
</p>

<p>
  <strong>Numg cidade:</strong>
  <%= @sivic_inscricao.numg_cidade %>
</p>

<p>
  <strong>Desc email:</strong>
  <%= @sivic_inscricao.desc_email %>
</p>

<p>
  <strong>Desc senha:</strong>
  <%= @sivic_inscricao.desc_senha %>
</p>

<p>
  <strong>Desc confirmasenha:</strong>
  <%= @sivic_inscricao.desc_confirmasenha %>
</p>

<%= link_to 'Edit', edit_sivic_inscricao_path(@sivic_inscricao) %> |
<%= link_to 'Back', sivic_inscricaos_path %>
