<% content_for :titlePage do %>
  Lista de Cursos
<% end %>

<%=render '/layouts/panel' %>

<table  class="table table-hover">
  <thead>
    <tr>
      <th>Nome curso</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_cursos.each do |sivic_curso| %>
      <tr>
        <td><%= sivic_curso.nome_curso %></td>
        <td align='right'>
        <div class="btn-group">
          <%= link_to sivic_curso, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-list-alt"></span> Exibir
          <% end %>             
          <%= link_to edit_sivic_curso_path(sivic_curso), :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-pencil"></span> Editar
          <% end %>             
            <%= link_to sivic_curso , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>           
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div></div>
<div class="btn-group">
  <%= link_to new_sivic_curso_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>