<%= form_for(@sivic_igreja) do |f| %>
  <% if @sivic_igreja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_igreja.errors.count, "error") %> prohibited this sivic_igreja from being saved:</h2>

      <ul>
      <% @sivic_igreja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NOME_igreja %><br>
    <%= f.text_field :NOME_igreja %>
  </div>
  <div class="field">
    <%= f.label :NUMR_telefone %><br>
    <%= f.text_field :NUMR_telefone %>
  </div>
  <div class="field">
    <%= f.label :NOME_responsavel %><br>
    <%= f.text_field :NOME_responsavel %>
  </div>
  <div class="field">
    <%= f.label :NUMR_cnpj %><br>
    <%= f.text_field :NUMR_cnpj %>
  </div>
  <div class="field">
    <%= f.label :sivic_endereco_id %><br>
    <%= f.text_field :sivic_endereco_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
