<%= form_for(@sivic_igreja) do |f| %>
  <% if @sivic_igreja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_igreja.errors.count, "error") %> prohibited this sivic_igreja from being saved:</h2>

      <ul>
      <% @sivic_igreja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <legend>Dados Principais</legend>
 
  <div class="field">
    <%= f.label :NOME %><br>
    <%= f.text_field :NOME_igreja %>
  </div>
  <div class="field">
    <%= f.label :Telefone %><br>
    <%= f.text_field :NUMR_telefone %>
  </div>
  <div class="field">
    <%= f.label :Nome_do_Responsável %><br>
    <%= f.text_field :NOME_responsavel %>
  </div>
  <div class="field">
    <%= f.label :CNPJ %><br>
    <%= f.text_field :NUMR_cnpj %>
  </div>  


  <legend>Endereço</legend>


  <%=  f.fields_for :sivic_endereco do |endereco| %>
  <div class="field">
    <%= endereco.label :Bairro %><br>
    <%= endereco.text_field :DESC_Bairro %>
  </div>
  <div class="field">
    <%= endereco.label :Rua %><br>
    <%= endereco.text_field :DESC_Rua %>
  </div>
  <div class="field">
    <%= endereco.label :Complemento %><br>
    <%= endereco.text_field :DESC_Complemento %>
  </div>
  <div class="field">
    <%= endereco.label :Ponto_referência %><br>
    <%= endereco.text_field :DESC_Pontoreferencia %>
  </div>
  <div class="field">
    <%= endereco.label :Cep %><br>
    <%= endereco.number_field :NUMR_Cep %>
  </div>

  <%=  f.fields_for :sivic_estado do |estado| %>
  <div class="field">
    <%= estado.label :sivic_estado_id %><br>
    <%= estado.select :sivic_estado_id, options_from_collection_for_select(@sivic_estado, 'id', 'nome_estado') , {}, {:onchange => 'changeState(this)'}%>
  </div>
  <%end%>

  <div class="field">
    <%= endereco.label :sivic_cidade_id   %><br>
    <%= endereco.select :sivic_cidade_id, [] %><br>
  </div> 

  <% end %>
</fieldset>

  <div class="actions" >
    <%= f.submit %>
  </div>
<% end %>

<script>
  function changeState(state){
      $.ajax({
        url: '<%= listarCidade_path %>',
        data : {id : state.value},
        success: function(data){
          $('#sivic_igreja_sivic_endereco_attributes_sivic_cidade_id').empty();
          $('#sivic_igreja_sivic_endereco_attributes_sivic_cidade_id').html('<option>Carregando...</option>');
          $('#sivic_igreja_sivic_endereco_attributes_sivic_cidade_id').attr('disabled', 'disabled');
          var options = "";
          for (var i in data) {
            var item = data[i];
            options += "<option value='"+item.id+"'>"+item.name+"</option>"
          };
 
          $('#sivic_igreja_sivic_endereco_attributes_sivic_cidade_id').html(options);
          $('#sivic_igreja_sivic_endereco_attributes_sivic_cidade_id').removeAttr('disabled');          
        }
      })
    }
</script>
