<h1>Listing sivic_igrejas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Igrejasede</th>
      <th>Endereco</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_igrejas.each do |sivic_igreja| %>
      <tr>
        <td><%= sivic_igreja.nome %></td>
        <td><%= sivic_igreja.igrejaSede_id %></td>
        <td><%= sivic_igreja.endereco_id %></td>
        <td><%= link_to 'Show', sivic_igreja %></td>
        <td><%= link_to 'Edit', edit_sivic_igreja_path(sivic_igreja) %></td>
        <td><%= link_to 'Destroy', sivic_igreja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sivic igreja', new_sivic_igreja_path %>
