<% content_for :titlePage do %>
  Lista de Igrejas
<% end %>

<%=render '/layouts/panel' %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome </th>
        <th>Telefone</th>
        <th>Nome responsável</th>
        <th>CNPJ</th>
        
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sivic_igrejas.each do |sivic_igreja| %>
        <tr>
          <td><%= sivic_igreja.NOME_igreja %></td>
          <td><%= sivic_igreja.NUMR_telefone %></td>
          <td><%= sivic_igreja.NOME_responsavel %></td>
          <td><%= sivic_igreja.NUMR_cnpj %></td>
          <td align='right'>

          <div class="btn-group">
            <%= link_to sivic_igreja, :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Exibir
            <% end %>             
            <%= link_to edit_sivic_igreja_path(sivic_igreja), :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span> Editar
            <% end %>             
            <%= link_to sivic_igreja , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-trash"></span> Excluir
            <% end %>            
          </div>

          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>

<div class="apple_pagination">
<%= will_paginate @sivic_igrejas %>
</div>

</div></div>
<div class="btn-group">
  <%= link_to new_sivic_igreja_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>

