<h1>Lista de Igrejas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome </th>
      <th>Telefone</th>
      <th>Nome responsável</th>
      <th>CNPJ</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_igrejas.each do |sivic_igreja| %>
      <tr>
        <td><%= sivic_igreja.NOME_igreja %></td>
        <td><%= sivic_igreja.NUMR_telefone %></td>
        <td><%= sivic_igreja.NOME_responsavel %></td>
        <td><%= sivic_igreja.NUMR_cnpj %></td>
        <td><%= link_to 'Exibir', sivic_igreja %></td>
        <td><%= link_to 'Editar', edit_sivic_igreja_path(sivic_igreja) %></td>
        <td><%= link_to 'Excluir', sivic_igreja, method: :delete, data: { confirm: 'Deseja excluir o registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# if can? :create, SivicIgreja %>
  <%= link_to 'Cadastrar nova Igreja', new_sivic_igreja_path %>
<%# end %>

