<p id="notice"><%= notice %></p>

<legend>Dados Principais</legend>

<p>
  <strong>Nome igreja:</strong>
  <%= @sivic_igreja.NOME_igreja %>
</p>

<p>
  <strong>Numr telefone:</strong>
  <%= @sivic_igreja.NUMR_telefone %>
</p>

<p>
  <strong>Nome responsavel:</strong>
  <%= @sivic_igreja.NOME_responsavel %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @sivic_igreja.NUMR_cnpj %>
</p>

<legend>Endereço</legend>


<p>
  <strong>Desc bairro:</strong>
  <%= @sivic_igreja.sivic_endereco.DESC_Bairro %>
</p>

<p>
  <strong>Desc rua:</strong>
  <%= @sivic_igreja.sivic_endereco.DESC_Rua %>
</p>

<p>
  <strong>Desc complemento:</strong>
  <%= @sivic_igreja.sivic_endereco.DESC_Complemento %>
</p>

<p>
  <strong>Desc pontoreferencia:</strong>
  <%= @sivic_igreja.sivic_endereco.DESC_Pontoreferencia %>
</p>

<p>
  <strong>Numr cep:</strong>
  <%= @sivic_igreja.sivic_endereco.NUMR_Cep %>
</p>

<p>
  <strong>Sivic cidade:</strong>
  <%= @sivic_igreja.sivic_endereco.sivic_cidade.nome_cidade %>
</p>




<%= link_to 'Editar', edit_sivic_igreja_path(@sivic_igreja) %> |
<%= link_to 'Voltar', sivic_igrejas_path %>
