<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_igreja.nome %>
</p>

<p>
  <strong>Igrejasede:</strong>
  <%= @sivic_igreja.igrejaSede_id %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @sivic_igreja.endereco_id %>
</p>

<%= link_to 'Edit', edit_sivic_igreja_path(@sivic_igreja) %> |
<%= link_to 'Back', sivic_igrejas_path %>
