<p id="notice"><%= notice %></p>

<legend>Dados Principais</legend>

<p>
  <strong>Nome igreja:</strong>
  <%= @sivic_igreja.NOME_igreja %>
</p>

<p>
  <strong>Numr telefone:</strong>
  <%= @sivic_igreja.NUMR_telefone %>
</p>

<p>
  <strong>Nome responsavel:</strong>
  <%= @sivic_igreja.NOME_responsavel %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @sivic_igreja.NUMR_cnpj %>
</p>

<legend>Endereço</legend>




<%= link_to 'Editar', edit_sivic_igreja_path(@sivic_igreja) %> |
<%= link_to 'Voltar', sivic_igrejas_path %>
