<p id="notice"><%= notice %></p>

<legend>Dados Principais</legend>

<p>
  <strong>Nome igreja:</strong>
  <%= @sivic_igreja.NOME_igreja %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @sivic_igreja.NUMR_telefone %>
</p>

<p>
  <strong>Nome do Eesponsavel:</strong>
  <%= @sivic_igreja.NOME_responsavel %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @sivic_igreja.NUMR_cnpj %>
</p>

<legend>Endereço</legend>


<p>
  <strong>Bairro:</strong>
  <%= @sivic_igreja.sivic_endereco.DESC_Bairro %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @sivic_igreja.sivic_endereco.DESC_Rua %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @sivic_igreja.sivic_endereco.DESC_Complemento %>
</p>

<p>
  <strong>Ponto de Referência:</strong>
  <%= @sivic_igreja.sivic_endereco.DESC_Pontoreferencia %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @sivic_igreja.sivic_endereco.NUMR_Cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @sivic_igreja.sivic_endereco.sivic_cidade.nome_cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @sivic_igreja.sivic_endereco.sivic_cidade.sivic_estado.nome_estado %>
</p>




<%= link_to 'Editar', edit_sivic_igreja_path(@sivic_igreja) %> |
<%= link_to 'Voltar', sivic_igrejas_path %>
