<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= 'Realizar Inscrição'%></h3>
  </div>
  <div class="panel-footer">

<%= form_for(@sivic_partevento) do |f| %>
  <% if @sivic_partevento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_partevento.errors.count, "error") %> prohibited this sivic_partevento from being saved:</h2>

      <ul>
      <% @sivic_partevento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    
    <div class="row">      
       <div class="col-xs-3">
       </div>     
       <div class="col-xs-6">
            <%= f.label :Nome %>
            <%= f.hidden_field :sivic_pessoa_id%>
            <%#= f.text_field :sivic_pessoa_id, disabled="disabled" %>
            <div class="input-group">
             <input id="nome_pessoa" name="nome_pessoa" disabled="true" value="<%=@sivic_partevento.sivic_pessoa.nome_pessoa rescue nil%>" onkeypress="" type="text" class="form-control" placeholder="Nome pessoa">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" onclick="$('#myModal2').modal('show');">Buscar Pessoa</button>
            </span>
           </div>
       </div>
    </div>


    <br/>
    <div class="row">
      <div class="col-xs-3">
      </div>      
          <div div class="col-xs-6">
             <%= f.label :Evento %>
             <%= f.hidden_field :sivic_evento_id%>
            <div class="input-group">
             <input id="sivic_evento" name="sivic_evento" disabled="true" value="<%=@sivic_partevento.sivic_evento.desc_evento rescue nil%>" onkeypress="" type="text" class="form-control" placeholder="Nome evento">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" onclick="$('#myModal3').modal('show');">Buscar Evento</button>
            </span>
           </div>
      </div>
    </div>

    <br/> 

    <div class="row">
      <div class="col-xs-3">
      </div>      
          <div div class="col-xs-6">
             <%= f.label :Convidado_por %>
             <%= f.text_field :desc_convidadopor, :class => "form-control"%>
      </div>
    </div>
    
    <br/> 
    
    <%=  f.fields_for :sivic_movimentofinanceiro do |movimento| %>

      <div class="row">
        <div div class="col-xs-3">
        </div>
        <div div class="col-xs-2">
          <%= movimento.label :Valor_Pago %>
          <%= movimento.text_field :VALR_movimento, :class => "form-control" %>
        </div>

         <div div class="col-xs-2">
          <%= movimento.label :Valor_Restante %>
          <%= movimento.text_field :valr_restante, :class => "form-control" %>
        </div>
        <div div class="col-xs-1">
        </div>
        <div style="width:100px; float: left;">           
              <div class="radio">
                <input id="sivic_partevento_flag_passando" type="radio" value="true" name="sivic_partevento[flag_passando]" <%= @sivic_partevento.flag_passando == true ? 'checked = "checked"' : '' %>>Passando
              </div>
              <div class="radio">
                    <input id="sivic_partevento_flaf_passando" type="radio" value="false" name="sivic_partevento[flag_passando]" <%= @sivic_partevento.flag_passando == false ? 'checked = "checked"' : '' %>>Servindo             
              </div>
        </div>

    </div>
  

   <%=@evento%>
   <!--DADOS AUTOMATICOS-->
    <!--Adicionando valor padrão Debito-->
   <%= movimento.hidden_field :sivic_tipmovfinanceiro_id, :value => 1 %>
   <!--Descrição -->
   <%= movimento.hidden_field :DESC_movimento, :value => "Inscrição de evento" %>
    <!--usuario de inclusão do registro -->
   <%= movimento.hidden_field :user_inclusao, :value => current_user.id %>
   
   <%= movimento.hidden_field :sivic_evento_id, :id => "sivic_evento" %>

  <%end%>


  <%
    @sivic_pessoa = SivicPessoa.new
    @sivic_igreja = SivicIgreja.all
  %> 


      </div>   
  </div>


<div class="btn-group">
  <button type="submit" class="btn btn-default btn">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>

  <%= yield(:iconexibir) %>

  <%= link_to sivic_parteventos_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>
</div>

<% end %>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab"><h4 class="modal-title" id="myModalLabel"></h4>
          <li class="active"><a href="#home" data-toggle="tab"><h4 class="modal-title" id="myModalLabel">Buscar Pessoas</h4></a></li>
          <li><a href="#profile" data-toggle="tab"><h4 class="modal-title" id="myModalLabel">Cadastrar Pessoas</h4></a></li>
        </ul>
        <br />
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <label >Nome</label><br>
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group">
                  <input id="NOME_pessoa_buscar" name="NOME_pessoa_buscar" onkeypress="buscaPessoa('pessoa')" type="text" class="form-control" placeholder="Nome">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onclick="buscaPessoa('pessoa');">Buscar</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <br />
            <table id="table_user" name="table_user" class="table table-hover">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody id="tbodyid">
                  <tr>
                  </tr>
                  <tr>
                  </tr>
              </tbody>  
            </table>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
          <div class="tab-pane" id="profile">
      <%= form_for(@sivic_pessoa) do |f| %>      
      <div class="modal-body">

        <!--  Testes começa aqui -->
         
         <label >Lider</label><br>
        <div class="row">
          <div class="col-lg-12">
            
            <div class="input-group">
              <input id="NOME_lider_buscar" name="NOME_lider_buscar" onkeypress="buscaPessoa('lider')" type="text" class="form-control" placeholder="Nome">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" onclick="buscaPessoa('lider');">Buscar</button>
              </span>
            </div><!-- /input-group -->

          </div><!-- /.col-lg-6 -->
     
                <%= f.hidden_field :father_id%>

        </div><!-- /.row -->
        <br />

        <table id="table_lider" name="table_lider" class="table table-hover">
          <thead>
            <tr>

            </tr>
          </thead>
          <tbody id="tbodyid2">
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>


      <div class="row"> 
        <div class="col-xs-12">
          <%= f.label :Nome %>
          <%= f.text_field :nome_pessoa, :class => "form-control"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :Email %>
          <%= f.text_field :DESC_email, :class => "form-control"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :Observação %>
          <%= f.text_field :DESC_observacao, :class => "form-control"  %>
        </div>
        </div>
          <!--Capturando igreja do usuaário logado -->
         <%= f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja_id %>
      </div>
    
      <div class="modal-footer">
        <div class="row">
         
          <div class="col-xs-2">
              <a data-toggle="modal" href="javascript:createPessoa(this.value);" class="btn btn-success">Cadastrar</a>
          </div>
          
          <div class="col-xs-8">
          </div>

           <div class="col-xs-2">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
          </div>
          </div>        
       </div> 
  </div>
</div>
   
<% end %>

     </div>
   </div>
 </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eventos</h4>
      </div>
      <div class="modal-body">

        <table id="table_evento" name="table_evento" class="table table-hover" onload="buscaEvento()">
          <thead>
            <tr>
              <th>Evento</th>
              <th>Data Inicio</th>
              <th>Data Fim</th>
            </tr>
          </thead>
          <tbody id="tbodyeventos">
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

  <div id="myModal" class="modal fade" style="display: none;" >  
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h4 class="center">Eventos</h4>  
      </div>  
      <div class="modal-body">
        <table id="table_evento" name="table_evento" class="table table-hover" onload="buscaEvento()">
          <thead>
            <tr>
              <th>Evento</th>
              <th>Data Inicio</th>
              <th>Data Fim</th>
            </tr>
          </thead>
          <tbody id="tbodyeventos" >
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer"> 
    </div>
  </div> 

 <script>

//$('#myModal2').modal('show');

  function createPessoa(){
        
       $.ajax({
        url: '<%= criarPessoa_path %>',
        data :
        {
           father_id : $('#sivic_pessoa_father_id').val()
          ,nome_pessoa : $('#sivic_pessoa_nome_pessoa').val()
          ,DESC_email: $('#sivic_pessoa_DESC_email').val()
          ,DESC_observacao : $('#sivic_pessoa_DESC_observacao').val()
          ,sivic_igreja_id : $('#sivic_pessoa_sivic_igreja_id').val()
        },

       success: function(data){
         var options = "";
         for (var i in data){
          var item = data[i];

           $('#nome_pessoa').val(item.nome_pessoa);
           $('#sivic_partevento_sivic_pessoa_id').val(item.id);

         };
         
         $('#sivic_pessoa_nome_pessoa').val("");
         $('#sivic_pessoa_DESC_email').val("");
         $('#sivic_pessoa_DESC_observacao').val("");

         $('#myModal2').modal('hide');
         } 
       })      
     }

  function buscaPessoa(fonte){

     var pesquisa;

      if (fonte == 'lider'){
        pesquisa = $('#NOME_lider_buscar').val();
      }else{
        pesquisa = $('#NOME_pessoa_buscar').val();
      }
        
       $.ajax({
        url : '<%= listarDiscipulos_path %>',
        data :
        {
          nome_pessoa : pesquisa
        },
        success: function(data){
          $("#tbodyid").empty();
          $("#tbodyid2").empty();
          for (var i in data) {
            var item = data[i];

            if (fonte == 'lider' ) {
              $('#table_lider').append('<tr><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.nome_pessoa+'</a></td><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.DESC_email+'</a></td></tr>');
            }else{
              $('#table_user').append('<tr><td><a href="javascript:setaNome(\'' + item.nome_pessoa+'\','+item.id+');">'+item.nome_pessoa+'</a></td><td><a href="javascript:setaLider(\'' + item.nome_pessoa+'\','+item.id+');">'+item.DESC_email+'</a></td></tr>');

            }
          };
 
        }
       })
     }

  function setaNome(nome,id){

      $('#nome_pessoa').val(nome);
      $('#sivic_partevento_sivic_pessoa_id').val(id);

      $('#myModal2').modal('hide');          
    }

  function setaLider(nome,id){

      $('#NOME_lider_buscar').val(nome);
      $('#sivic_pessoa_father_id').val(id);
      $("#tbodyid2").empty();
 
            
    }


  function buscaEvento(){
       $.ajax({
        url : '<%=listarEvento_path %>',
        data :{},
        success: function(data){
          $('#tbodyeventos').empty();
          for (var i in data){
            var item = data[i];
            $('#table_evento').append('<tr><td><a type=date href="javascript:setaEvento(\''+ item.desc_evento+'\','+item.id+'\);">'+item.desc_evento+'</a></td><td><a href="javascript:setaEvento(\'' + item.desc_evento+'\','+item.id+'\);">'+item.DATA_Inicio+'</a></td><td><a href="javascript:setaEvento(\'' + item.desc_evento+'\','+item.id+'\);">'+item.DATA_Fim+'</a></td></tr>')
          };         
        }
       })
     }

     function setaEvento(nome,id){    
      $('#sivic_evento').val(nome);
      $('#sivic_partevento_sivic_evento_id').val(id);
      $("#myModal3").modal('hide');
    }
         

   buscaEvento(); 

    $(function() {
     $("#sivic_partevento_sivic_movimentofinanceiro_attributes_VALR_movimento").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
     $("#sivic_partevento_sivic_movimentofinanceiro_attributes_valr_restante").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
  })

 </script>