<%= form_for(@sivic_partevento) do |f| %>
  <% if @sivic_partevento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sivic_partevento.errors.count, "error") %> prohibited this sivic_partevento from being saved:</h2>

      <ul>
      <% @sivic_partevento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%#= f.text_field :sivic_pessoa_id, disabled="disabled" %>
    <select id="sivic_partevento_sivic_pessoa_id" name="sivic_partevento[sivic_pessoa_id]" disabled="disabled">
    </select>
  </div>
 
  <div class="field">
        <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-small btn-signup">Buscar Pessoa</a>
        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-small btn-signup">Nova Pessoa</a>
  </div>

  <div class="field">
    <%= f.label :Evento %><br>
    <%#= f.text_field :sivic_evento_id %>
    <select id="sivic_partevento_sivic_evento_id" name="sivic_partevento[sivic_evento_id]" disabled="disabled">
    </select>
  </div>
  <div class="field">
        <a data-toggle="modal" href="#myModal3" class="btn btn-primary btn-small btn-signup">Buscar Evento</a>
  </div>

<%=  f.fields_for :sivic_movimentofinanceiro do |movimento| %>
  <div class="field">
    <%= movimento.label :Valor_Pago %><br>
    <%= movimento.text_field :VALR_movimento %>
   </div>

   <!--DADOS AUTOMATICOS-->
    <!--Adicionando valor padrão Debito-->
   <%= movimento.hidden_field :sivic_tipmovfinanceiro_id, :value => 1 %>
   <!--Descrição -->
   <%= movimento.hidden_field :DESC_movimento, :value => "Inscrição de evento" %>
    <!--usuario de inclusão do registro -->
   <%= movimento.hidden_field :user_inclusao, :value => current_user.id %>


<%end%>

  <div class="actions">
    <%= f.submit%>
  </div>
<%end%>
  <fieldset>
  <%
    @sivic_pessoa = SivicPessoa.new
    @sivic_igreja = SivicIgreja.all
  %>

 <div id="myModal" class="modal fade" style="display: none;">  

    <%= form_for(@sivic_pessoa) do |f| %>
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Cadastro de Pessoa</h3>  
      </div>  
      <div class="modal-body">
        <div class="field">
          <%= f.label :Lider %><br>
          <%= f.select :father_id, options_from_collection_for_select(SivicPessoa.all, 'id', 'NOME_pessoa',0),:include_blank => true%>
        </div>  
        <div class="field">
          <%= f.label :Nome %><br>
          <%= f.text_field :NOME_pessoa %>
        </div>
        <div class="field">
          <%= f.label :Email %><br>
          <%= f.text_field :DESC_email %>
        </div>
        <div class="field">
          <%= f.label :Observação %><br>
          <%= f.text_field :DESC_observacao %>
        </div>
          <!--Capturando igreja do usuaário logado -->
         <%= f.hidden_field :sivic_igreja_id, :value => current_user.sivic_pessoa.sivic_igreja.id %>
      </div>
      <div class="modal-footer">
        <div class="field">
          <a data-toggle="modal" href="javascript:createPessoa(this.value);" class="btn btn-success">Cadastrar</a>
        </div>        
      </div>  
      </div>  
  <% end %>
  </fieldset>
 
 <div id="myModal2" class="modal fade" style="display: none;">  
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>Buscar Pessoas</h3>  
      </div>  
      <div class="modal-body">
        <div class="input-group input-group-lg">
          <label >Nome</label><br>
          <input id="NOME_pessoa_buscar" name="NOME_pessoa_buscar" onchange="buscaPessoa()"type="text" class="form-control" placeholder="Username" style="width: 300px;">
          <a data-toggle="modal" href="javascript:buscaPessoa();" class="btn btn-success" style="margin-bottom: 10px;">Buscar</a>
        </div>
        <table id="table_user" name="table_user" class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody id="tbodyid">
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
    </div>
    </div>      

 <div id="myModal3" class="modal fade" style="display: none;" >  
      <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3 class="center">Eventos</h3>  
      </div>  
      <div class="modal-body">
        <table id="table_evento" name="table_evento" class="table table-hover" onload="buscaEvento()">
          <thead>
            <tr>
              <th>Evento</th>
              <th>Data Inicio</th>
              <th>Data Fim</th>
            </tr>
          </thead>
          <tbody id="tbodyeventos" >
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
    </div>
    </div> 


 <script>

  function createPessoa(){

       $.ajax({
        url: '<%= criarPessoa_path %>',
        data :
        {
           father_id : $('#sivic_pessoa_father_id').val()
          ,NOME_pessoa : $('#sivic_pessoa_NOME_pessoa').val()
          ,DESC_email: $('#sivic_pessoa_DESC_email').val()
          ,DESC_observacao : $('#sivic_pessoa_DESC_observacao').val()
          ,sivic_igreja_id : $('#sivic_pessoa_sivic_igreja_id').val()
        },

       success: function(data){
         $('#sivic_partevento_sivic_pessoa_id').empty();
         $('#sivic_partevento_sivic_pessoa_id').html('<option>Carregando...</option>');
         $('#sivic_partevento_sivic_pessoa_id').attr('disabled', 'disabled');
         var options = "";
         for (var i in data){
          var item = data[i];
          options += "<option value='"+item.id+"'>"+item.NOME_pessoa+"</option>";
         };
         
         $('#sivic_partevento_sivic_pessoa_id').html(options);
         $('#sivic_partevento_sivic_pessoa_id').removeAttr('disabled');
         $('#myModal').modal('hide');
         } 
       })      
     }

  function buscaPessoa(){     
       $.ajax({
        url : '<%= listarPessoa_path %>',
        data :
        {
          NOME_pessoa : $('#NOME_pessoa_buscar').val()
        },
        success: function(data){
          $('#tbodyid').empty();
          for (var i in data){
            var item = data[i];
            $('#table_user').append('<tr><td><a href="javascript:setaNome(\''+ item.NOME_pessoa+'\','+item.id+'\);">'+item.NOME_pessoa+'</a></td></tr>')
          };         
        }
       })
     }
     function setaNome(nome,id){

      $('#sivic_partevento_sivic_pessoa_id').empty();
      $('#sivic_partevento_sivic_pessoa_id').html('<option>Carregando...</option>');
      $('#sivic_partevento_sivic_pessoa_id').attr('disabled', 'disabled');
      var options = "<option value='"+id+"'>"+nome+"</option>";
        $('#sivic_partevento_sivic_pessoa_id').html(options);
        $('#sivic_partevento_sivic_pessoa_id').removeAttr('disabled');
        $('#myModal2').modal('hide');         
    }

  function buscaEvento(){
       $.ajax({
        url : '<%=listarEvento_path %>',
        data :{},
        success: function(data){
          $('#tbodyeventos').empty();
          for (var i in data){
            var item = data[i];
            $('#table_evento').append('<tr><td><a type=date href="javascript:setaEvento(\''+ item.DESC_evento+'\','+item.id+'\);">'+item.DESC_evento+'</a></td><td><a href="javascript:setaEvento(\'' + item.DESC_evento+'\','+item.id+'\);">'+item.DATA_Inicio+'</a></td><td><a href="javascript:setaEvento(\'' + item.DESC_evento+'\','+item.id+'\);">'+item.DATA_Fim+'</a></td></tr>')
          };         
        }
       })
     }
     function setaEvento(nome,id){

      $('#sivic_partevento_sivic_evento_id').empty();
      $('#sivic_partevento_sivic_evento_id').html('<option>Carregando...</option>');
      $('#sivic_partevento_sivic_evento_id').attr('disabled', 'disabled');
      var options = "<option value='"+id+"'>"+nome+"</option>";
        $('#sivic_partevento_sivic_evento_id').html(options);
        $('#sivic_partevento_sivic_evento_id').removeAttr('disabled');
        $('#myModal3').modal('hide');         
    }
         

   buscaEvento(); 

 </script>