<h1>Lista de Inscrições</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Sivic pessoa</th>
      <th>Sivic evento</th>
      <th>Sivic movimentofinanceiro</th>
      <th>Flag naoparticipou</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_parteventos.each do |sivic_partevento| %>
      <tr>
        <td><%= sivic_partevento.sivic_pessoa %></td>
        <td><%= sivic_partevento.sivic_evento %></td>
        <td><%= sivic_partevento.sivic_movimentofinanceiro %></td>
        <td><%= sivic_partevento.FLAG_naoparticipou %></td>
        <td><%= link_to 'Show', sivic_partevento %></td>
        <td><%= link_to 'Edit', edit_sivic_partevento_path(sivic_partevento) %></td>
        <td><%= link_to 'Destroy', sivic_partevento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Inscrição', new_sivic_partevento_path %>
