<% content_for :titlePage do %>
  Relatório de Participantes de Eventos por Geração
<% end %>

<%=render '/layouts/panel' %>

 <%=  fields_for :sivic_parteventos do |f| %>

<br/>
    <div class="row">     
          <div div class="col-xs-4">
             <%= f.label :Evento %>
             <%= f.hidden_field :sivic_evento_id%>
            <div class="input-group">
             <input id="sivic_evento" name="sivic_evento" disabled="true" value="<%=@sivic_partevento.sivic_evento.desc_evento rescue nil%>" onkeypress="" type="text" class="form-control" placeholder="Nome evento">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" onclick="$('#myModal3').modal('show');">Buscar Evento</button>
            </span>
           </div>
      </div>
    </div>

<%end%>


<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eventos</h4>
      </div>
      <div class="modal-body">

        <table id="table_evento" name="table_evento" class="table table-hover" onload="buscaEvento()">
          <thead>
            <tr>
              <th>Evento</th>
              <th>Data Inicio</th>
              <th>Data Fim</th>
            </tr>
          </thead>
          <tbody id="tbodyeventos">
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
          </tbody>  
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
 </div>


<script>

function buscaEvento(){
       $.ajax({
        url : '<%=listarEvento_path %>',
        data :{},
        success: function(data){
          $('#tbodyeventos').empty();
          for (var i in data){
            var item = data[i];
            $('#table_evento').append('<tr><td><a type=date href="javascript:setaEvento(\''+ item.desc_evento+'\','+item.id+'\);">'+item.desc_evento+'</a></td><td><a href="javascript:setaEvento(\'' + item.desc_evento+'\','+item.id+'\);">'+item.DATA_Inicio+'</a></td><td><a href="javascript:setaEvento(\'' + item.desc_evento+'\','+item.id+'\);">'+item.DATA_Fim+'</a></td></tr>')
          };         
        }
       })
     }

     function setaEvento(nome,id){    
      $('#sivic_evento').val(nome);
      $('#sivic_partevento_sivic_evento_id').val(id);
      $("#myModal3").modal('hide');
    }
         

   buscaEvento(); 


</script>