<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sivic_partevento.sivic_pessoa.NOME_pessoa %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @sivic_partevento.sivic_evento.DESC_evento %>
</p>

<p>
  <strong>Valor Pago: R$:</strong>
  <%= @sivic_partevento.sivic_movimentofinanceiro.VALR_movimento %>
</p>

<%= link_to 'Editar', edit_sivic_partevento_path(@sivic_partevento) %> |
<%= link_to 'Voltar', sivic_parteventos_path %>
