<% content_for :titlePage do %>
  Models
<% end %>

<%=render '/layouts/panel' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Model</th>
      <th>Descrição</th>
      <th>Data bloqueio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sivic_models.each do |sivic_model| %>
      <tr>
        <td><%= sivic_model.nome_model %></td>
        <td><%= sivic_model.desc_model %></td>
        <td><%= sivic_model.data_bloqueio %></td>
        <td align='right'>

            <%= link_to sivic_model, :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Exibir" do %>
              <span class="glyphicon glyphicon-list-alt"></span>
            <% end %>             
            <%= link_to edit_sivic_model_path(sivic_model), :class => "btn btn-default btn-sm", :rel=>"tooltip", :title=>"Editar"  do %>
              <span class="glyphicon glyphicon-pencil"></span> 
            <% end %>
             <a class="btn btn-default btn-sm" title="" rel="tooltip" href="/sivic_models/<%=sivic_model.id%>" data-method="delete" data-confirm="Deseja excluir o registro?" data-original-title="Excluir">
                <span class="glyphicon glyphicon-trash" rel="tooltip"></span>
            </a>  

        </td> 

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div></div>

<div class="btn-group">
  <%= link_to new_sivic_model_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span> Novo
  <% end %>
</div>

<script>
$(function(){
  $("a[rel='tooltip']").tooltip();
})
</script>
