<header class="navbar navbar-fixed-top navbar-inverse">
  <div style="background-color:#414141;">
    <div class="container">
      <%= link_to image_tag('logo.png'), root_path, id: "logo" %>
      <nav>
        <% if user_signed_in? %>
        <ul class="nav pull-left">
          <li>
            <div class="btn-group">
              <div class="btn-group">
                <button type="button" class="btn btn-small dropdown-toggle" data-toggle="dropdown"> Secretaria
                  
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to "Cadastro de Usuários", '/admin' %></li>
                  <li><%= link_to 'Cadastro de Igreja', sivic_igrejas_path%></li>
                  <li><%= link_to 'Cadastro de Pessoas', sivic_pessoas_path%> </li>
                  <li><%= link_to 'Cadastro de Eventos', sivic_eventos_path%> </li>
                  <li><%= link_to 'Cadastro de Ministerios', sivic_ministerios_path%> </li>
                  <%#= link_to 'Cadastro de Cidades', sivic_estados_path%>
                  <li><%= link_to 'Cadastro de Células', sivic_celulas_path%> </li>
                  <li><%= link_to 'Cadastro de Relatório de Células', sivic_relatorioscelulas_path%> </li>
                  <li><%= link_to 'Cadastro de Escolaridade', sivic_escolaridades_path%> </li>
                  <li><%= link_to 'Cadastro de Tipo Evento', sivic_tipo_eventos_path%> </li>
                  <li><%= link_to 'Cadastro de Discípulo', sivic_discipulos_path%> </li>
                  <li><%= link_to 'Fazer Inscrição', sivic_parteventos_path%> </li>                  
                  <li><%= link_to 'Movimento Financeiro', sivic_movimentofinanceiros_path%> </li>
                  <li><%= link_to 'Participante Celula', sivic_participantecelulas_path%> </li>
                  <li><%= link_to 'Redes', sivic_redes_path%> </li>
                  <li><%#= link_to 'Relatório de Discípulos', relDiscipulos_path%> </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <% end %>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path %></li>
            <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete%></li>
          <% else %>
            <li><%= link_to "Entrar", new_user_session_path%>
          <% end %>
          <li><%= link_to "|", '#' %></li>
          <li><%= link_to "Home",    root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


  
  
