<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style='margin-top:5px;'>
      <%= link_to image_tag('logo.png'), root_path, id: "logo" %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Secretaria <b class="caret"></b></a>
          <ul class="dropdown-menu">
                <% if can? :manage, User%>
                  <li><%= link_to "Cadastro de Usuários", '/admin' %></li>
                <% end %>   

                <% if can? :manage, SivicIgreja%>
                  <li><%= link_to 'Cadastro de Igreja', sivic_igrejas_path%></li>
                <% end %>                 
                <% if can? :manage, SivicRelatorioscelula%>
                  <li><%= link_to 'Lança Relatórios Job', jobCelulas_path%></li>
                <% end %>   

                <%# if can? :manage, SivicPessoa%>
                  <%#= link_to 'Cadastro de Pessoas', sivic_pessoas_path%> 
                <%# end %>   

                <% if can? :manage, SivicEvento%>
                  <li><%= link_to 'Cadastro de Eventos', sivic_eventos_path%> </li>
                <% end %>   
                
                <% if can? :manage, SivicMinisterio%>
                  <li><%= link_to 'Cadastro de Ministerios', sivic_ministerios_path%> </li>
                <% end %>   
                
                <% if can? :manage, SivicCelula%>
                  <li><%= link_to 'Cadastro de Células', sivic_celulas_path%> </li>
                <% end %>   

                <% if can? :manage, SivicRelatorioscelula%>
                  <li><%= link_to 'Cadastro de Relatório de Células', sivic_relatorioscelulas_path%> </li>
                <% end %>   

                <% if can? :manage, SivicEscolaridade%>
                  <li><%= link_to 'Cadastro de Escolaridade', sivic_escolaridades_path%> </li>
                <% end %>   
                
                <% if can? :manage, SivicTipoEvento%>
                  <li><%= link_to 'Cadastro de Tipo Evento', sivic_tipo_eventos_path%> </li>
                <% end %>
                
                <% if can? :manage, SivicDiscipulo%>
                  <li><%= link_to 'Cadastro de Discípulo', sivic_discipulos_path%> </li>
                <% end %>

                <% if can? :manage, SivicPartevento%>
                  <li><%= link_to 'Fazer Inscrição', sivic_parteventos_path%> </li>                  
                <% end %>

                <% if can? :manage, SivicMovimentofinanceiro%>
                  <li><%= link_to 'Movimento Financeiro', sivic_movimentofinanceiros_path%> </li>
                <% end %>

                <% if can? :manage, SivicParticipantecelula%>
                  <li><%= link_to 'Participante Celula', sivic_participantecelulas_path%> </li>
                <% end %>

                <% if can? :manage, SivicRede%>
                  <li><%= link_to 'Cadastro de Redes', sivic_redes_path%> </li>
                <% end %>
          </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financeiro <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Cadastro de bancos', sivic_bancos_path%> </li>
              <li><%= link_to 'Cadastro de contas', sivic_contabancos_path%> </li>
              <li><%= link_to 'Cadastro de fornecedor', sivic_fornecedors_path%> </li> 
              <li><%= link_to 'Cadastro de Centro de Custo', sivic_centrocustos_path%> </li> 
              <li><%= link_to 'Cadastro de Categorias', sivic_categories_path%> </li> 
              <li><%= link_to 'Lançamentos', extrato_path%> </li> 
            </ul>
        </li> 
        
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Cadastro de Cursos', sivic_cursos_path%> </li>
              <li><%= link_to 'Cadastro de Professores', sivic_professors_path%> </li>
              <li><%= link_to 'Cadastro de Turmas',  sivic_turmas_path%> </li>
              <li><%= link_to 'Cadastro de Disciplina',  sivic_moduloescolas_path%></li>
              <li><%= link_to 'Matrícular Alunos',  sivic_turmaalunos_path%> </li>
              <li><%= link_to 'Gerenciar Disciplinas',  sivic_licaos_path%> </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Relatórios', report_path%> </li>
            </ul>
        </li> 

      </ul>
      <%end%>

      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path %></li>
            <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete%></li>
          <% else %>
            <li><%= link_to "Entrar", new_user_session_path%>
          <% end %>
          <li><%= link_to "|", '#' %></li>
          <li><%= link_to "Home",    root_path %></li>
      </ul>      

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
