
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style='margin-top:5px;'>
      <%= link_to image_tag('logo.png'), root_path, id: "logo" %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Secretaria <b class="caret"></b></a>
          <ul class="dropdown-menu">
                
                <% if can? :manage, SivicDiscipulo or can? :read, SivicDiscipulo or can? :create, SivicDiscipulo or can? :update, SivicDiscipulo or can? :destroy, SivicDiscipulo %>
                  <li><%= link_to 'Cadastro de Discípulo', sivic_discipulos_path%> </li>
                <% end %>

                <% if can? :manage, SivicCelula or can? :read, SivicCelula or can? :create, SivicCelula or can? :update, SivicCelula or can? :destroy, SivicCelula %>
                  <li><%= link_to 'Cadastro de Células', sivic_celulas_path%> </li>
                <% end %>                
                
                <% if can? :manage, SivicRelatorioscelula or can? :read, SivicRelatorioscelula or can? :create, SivicRelatorioscelula or can? :update, SivicRelatorioscelula or can? :destroy, SivicRelatorioscelula %>
                  <li><%= link_to 'Cadastro de Relatório de Células', sivic_relatorioscelulas_path%> </li>
                <% end %>

                <% if can? :manage, SivicSitpartcelula or can? :read, SivicSitpartcelula or can? :create, SivicSitpartcelula or can? :update, SivicSitpartcelula or can? :destroy, SivicSitpartcelula %>
                  <li><%= link_to 'Situacão Participante Células', sivic_sitpartcelulas_path%> </li>
                <% end %>


                <% if can? :manage, SivicParticipantecelula or can? :read, SivicParticipantecelula or can? :create, SivicParticipantecelula or can? :update, SivicParticipantecelula or can? :destroy, SivicParticipantecelula %>
                  <li><%= link_to 'Participante de Célula', sivic_participantecelulas_path%> </li>
                <% end %>                    
             
                <% if can? :manage, SivicTipoEvento or can? :read, SivicTipoEvento or can? :create, SivicTipoEvento or can? :update, SivicTipoEvento or can? :destroy, SivicTipoEvento %>
                  <li><%= link_to 'Cadastro de Tipo Evento', sivic_tipo_eventos_path%> </li>
                <% end %>             

                <% if can? :manage, SivicEvento or can? :read, SivicEvento or can? :create, SivicEvento or can? :update, SivicEvento or can? :destroy, SivicEvento %>
                  <li><%= link_to 'Cadastro de Eventos', sivic_eventos_path%> </li>
                <% end %>                   

                <% if can? :manage, SivicPartevento or can? :read, SivicPartevento or can? :create, SivicPartevento or can? :update, SivicPartevento or can? :destroy, SivicPartevento %>
                  <li><%= link_to 'Fazer Inscrição', sivic_parteventos_path%> </li>                  
                <% end %>

                <% if can? :manage, User or can? :read, User or can? :create, User or can? :update, User or can? :destroy, User %>
                  <li><%= link_to "Cadastro de Usuários", '/admin' %></li>
                <% end %>   

                <%# if can? :manage, SivicIgreja or can? :read, SivicIgreja or can? :create, SivicIgreja or can? :update, SivicIgreja or can? :destroy, SivicIgreja %>
                  <li><%#= link_to 'Cadastro de Igreja', sivic_igrejas_path%></li>
                <%# end %>                

                <% if can? :manage, SivicUserpermissao or can? :read, SivicUserpermissao or can? :create, SivicUserpermissao or can? :update, SivicUserpermissao or can? :destroy, SivicUserpermissao %>
                  <li><%= link_to 'Permissões', usuarios_path%></li>
                <% end %>


                <%# if can? :manage, SivicRelatorioscelula or can? :read, SivicRelatorioscelula or can? :create, SivicRelatorioscelula or can? :update, SivicRelatorioscelula or can? :destroy, SivicRelatorioscelula %>
                  <li><%#= link_to 'Lança Relatórios Job', jobCelulas_path%></li>
                <%# end %>   

                <%# if can? :manage, SivicPessoa%>
                  <%#= link_to 'Cadastro de Pessoas', sivic_pessoas_path%> 
                <%# end %>   

                
                <% if can? :manage, SivicMinisterio or can? :read, SivicMinisterio or can? :create, SivicMinisterio or can? :update, SivicMinisterio or can? :destroy, SivicMinisterio %>
                  <li><%= link_to 'Cadastro de Ministérios', sivic_ministerios_path%> </li>
                <% end %>   
                
                <% if can? :manage, SivicMinisteriodiscipulo or can? :read, SivicMinisteriodiscipulo or can? :create, SivicMinisteriodiscipulo or can? :update, SivicMinisteriodiscipulo or can? :destroy, SivicMinisteriodiscipulo %>
                  <li><%= link_to 'Inclusão de Ministério', sivic_ministeriodiscipulos_path%> </li>
                <% end %>
    

                <% if can? :manage, SivicEscolaridade or can? :read, SivicEscolaridade or can? :create, SivicEscolaridade or can? :update, SivicEscolaridade or can? :destroy, SivicEscolaridade %>
                  <li><%= link_to 'Cadastro de Escolaridade', sivic_escolaridades_path%> </li>
                <% end %>   
                   
                
                <% if can? :manage, SivicMovimentofinanceiro or can? :read, SivicMovimentofinanceiro or can? :create, SivicMovimentofinanceiro or can? :update, SivicMovimentofinanceiro or can? :destroy, SivicMovimentofinanceiro %>
                  <li><%= link_to 'Movimento Financeiro', sivic_movimentofinanceiros_path%> </li>
                <% end %>               

                <% if can? :manage, SivicRede or can? :read, SivicRede or can? :create, SivicRede or can? :update, SivicRede or can? :destroy, SivicRede %>
                  <li><%= link_to 'Cadastro de Redes', sivic_redes_path%> </li>
                <% end %>

                <%# if can? :manage, SivicSituacaodiscipulo or can? :read, SivicSituacaodiscipulo or can? :create, SivicSituacaodiscipulo or can? :update, SivicSituacaodiscipulo or can? :destroy, SivicSituacaodiscipulo %>
                  <li><%#= link_to 'Cadastro de Situações', sivic_situacaodiscipulos_path%> </li>
                <%# end %>                
          </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financeiro <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%#= link_to 'Cadastro de bancos', sivic_bancos_path%> </li>
              <li><%= link_to 'Cadastro de contas', sivic_contabancos_path%> </li>
              <li><%= link_to 'Cadastro de fornecedor', sivic_fornecedors_path%> </li> 
              <li><%= link_to 'Cadastro de Centro de Custo', sivic_centrocustos_path%> </li> 
              <li><%= link_to 'Cadastro de Categorias', sivic_categories_path%> </li> 
              <li><%= link_to 'Lançamentos', extrato_path%> </li> 
            </ul>
        </li> 
        
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Cadastro de Cursos', sivic_cursos_path%> </li>
              <li><%= link_to 'Cadastro de Professores', sivic_professors_path%> </li>
              <li><%= link_to 'Cadastro de Turmas',  sivic_turmas_path%> </li>
              <li><%= link_to 'Cadastro de Disciplina',  sivic_moduloescolas_path%></li>
              <li><%= link_to 'Matricular Alunos',  sivic_turmaalunos_path%> </li>
              <li><%= link_to 'Gerenciar Disciplinas',  sivic_licaos_path%> </li>
              <li><%= link_to 'Diário Escolar',  sivic_alunoaulas_path%> </li>
            </ul>
        </li>

        <!--

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consolidação <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%#= link_to 'Cadastro de Atividades', sivic_atividades_path%> </li>
              <li><%#= link_to 'Cadastro de Periodicidade', sivic_periodicidadecons_path%> </li>
              <li><%#= link_to 'Cadastro de Atividade Pessoas', sivic_atividadepessoas_path%> </li>
            </ul>
        </li>

      -->

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Relatórios', report_path%> </li>
            </ul>
        </li> 

      </ul>
      <%end%>

      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path %></li>
            <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete%></li>
          <% else %>
            <li><%= link_to "Entrar", new_user_session_path%>
          <% end %>
            <% if  current_user  %>
              <% if current_user.id == 1 || current_user.id == 2 %>          
                <li><a onclick="$('#myModalTransfer').modal('show');" href="javascript:return false;"><spam class='glyphicon glyphicon-transfer'></spam></a></li>          
              <% end %>
            <% end %>
          <li><%= link_to "<spam class='glyphicon glyphicon-home'></spam>".html_safe,    root_path %></li>

      </ul>      

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Troca Igreja -->
<div class="modal fade" id="myModalTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title" id="myModalLabel">Navegar Entre Igrejas</h4>
      </div>
      <div class="modal-body">
        <div class="row">     

          <div class="col-xs-12">
              <label>Igreja</label>
              <%=  fields_for :trocaigreja do |f| %>
                <%= f.select :sivic_igreja_id, options_from_collection_for_select(SivicIgreja.all, 'id', 'NOME_igreja'),{:include_blank => true},{ :class =>  'form-control'}%>
              <% end %>          
          </div>           

        </div>      
      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button id="bntSalvar" type="button" class="btn btn-primary" onclick="salvarigreja();">Salvar</button>
      </div>
    </div>
  </div>
</div>
</div>


<script>

  function salvarigreja(){


      $.ajax({
        url: '<%= trocarigreja_path %>',
        data : {

          id : $('#trocaigreja_sivic_igreja_id').val()

        },
        success: function(data){

          location.reload();
          
        }
      })
    }

</script>