<!DOCTYPE html>
<html>
  <head>


      <% if (not user_signed_in? ) && request.original_fullpath == '/' %>

        <%#= stylesheet_link_tag "application-template" %>
        <%= render 'layouts/header2' %>
        <%= javascript_include_tag "application-template"%>
      

      <%else%>


            <title><%= full_title(yield(:title)) %></title>
            <%= stylesheet_link_tag "application-all", media: "all", "data-turbolinks-track" => true %>
            <%= javascript_include_tag "application-all", "data-turbolinks-track" => true %>
            <%= csrf_meta_tags %>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <%= render 'layouts/shim' %>
          </head>
          <body>

          <% if request.original_fullpath != '/users/sign_in' %>
            <%= render 'layouts/header' %>
          <%end%>

          <%= yield %>
          
 
      <%end%>

  </body>
</html> 
