<!DOCTYPE html>
<html>
  <head>

      <% if (not user_signed_in? ) && request.original_fullpath == '/' %>

        <%#= javascript_include_tag "application-template", "data-turbolinks-track" => true %>

        <%= render 'layouts/header3' %>

      <% elsif (not user_signed_in? ) && request.original_fullpath == '/contact' %>

        <%= yield %>
        
      <% elsif (not user_signed_in? ) && request.original_fullpath == '/planos' %>

        <%= yield %>

      <%else%>


        <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag "application-all", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application-all", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>

        </head>
        <body>

        <% if request.original_fullpath != '/users/sign_in'%>
          <%= render 'layouts/header' %>
        <%end%>

        <div class="container">
          <%= yield %>
        </div>
                  
          </body>
        </html>           
 
      <%end%>


